<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->

      <h2>Accommodation:</h2>
<!--**********************************************************-->
<!--starts content of the page-->


      <div id="welcome">
<p><b>Accommodation is available at the following hotels: </b>
<table border="0" cellpadding="1" cellspacing="1">
 <tbody><tr>
<font size=3>
<center>

<li><a href="http://pathikashram.com/">Pathikashram.</a></li>

</center>
</font>
</tr>
</tbody></table>

<p>Participants are encouraged to make arrangements for their accommodation at an early date, to avoid any last minute rush. We will try to provide transport to DAIICT from designated pick up points in the city.</a>
        


<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
