<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->


<!--**********************************************************-->
<!--starts content of the page-->


      <div class="right">
<!--p>This page is under construction.</p-->
<a name="top"></a>

<h2><font size=3 align=center><b><a href="#patron">Patron in Chief</a> | <a href="#adv_com">International Advisory Committee</a>  |  <a href="#org_com">Organizing Committee</a></b></font></h2>
<br>
<h2>Patron in Chief:</h2>
<a name="patron"></a>
<table><tbody>
<tr><td></td><td><font color="#557766" size="2"><b><u></u></b></font></td></tr>
        <tr><td></td><td height=30><b><i><font color="#555666" size="2">S.C. Sahasrabudhe</font></i></b><font color="#555666" size="1">, DAIICT, Gandhinagar.</font></td></tr>
        <tr><td></td><td height=30><b><i><font color="#555666" size="2">S.K. Pal</font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr>
</tbody></table>
<h2>International Advisory Committee:</h2>
<a name="adv_com"></a>
<table><tbody>
		<tr><td></td><td><font color="#557766" size="2"><b><u></u></b></font></td></tr>
                <tr><td></td><td height=30><a href="http://ciir.cs.umass.edu/~allan/"><font color="#555666" size="2"><b><i>James Allan</a></font><font color="#555666" size="1">, University of Massachusetts Amherst, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.dcc.uchile.cl/~rbaeza/"><font color="#555666" size="2"><b><i>Ricardo Baeza-Yates</a></font><font color="#555666" size="1">, Yahoo! Research Labs, Spain.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://nlg3.csie.ntu.edu.tw/advisor.html"><font color="#555666" size="2"><b><i>Hsin-Hsi Chen</a></font><font color="#555666" size="1">, National Taiwan University, Taipei, Taiwan.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.comp.nus.edu.sg/~chuats/"><font color="#555666" size="2"><b><i>Tat-Seng Chua</a></font><font color="#555666" size="1">, National University of Singapore, Singapore.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.elsnet.org/experts/1876.html"><font color="#555666" size="2"><b><i>Christian Fluhr</a></font><font color="#555666" size="1">, CEA, France.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://www.is.informatik.uni-duisburg.de/staff/fuhr.html.en"><font color="#555666" size="2"><b><i>Norbert Fuhr</a></font><font color="#555666" size="1">, University of Duisburg, Germany.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.itl.nist.gov/iad/highlights/2000/harman.html"><font color="#555666" size="2"><b><i>Donna Harman</a></font><font color="#555666" size="1">, National Institute of Standards and Technology, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.computing.dcu.ie/~gjones/"><font color="#555666" size="2"><b><i>Gareth Jones</a></font><font color="#555666" size="1">, Dublin City University, Ireland.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://research.nii.ac.jp/~kando/"><font color="#555666" size="2"><b><i>Noriko Kando</a></font><font color="#555666" size="1">, National Institute of Informatics, Japan.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://domino.research.ibm.com/comm/research_people.nsf/fire/kkummamu.index.html"><font color="#555666" size="2"><b><i>Krishna Kummamuru</a></font><font color="#555666" size="1">, IBM Research Lab, India.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://lsl.nie.edu.sg/bio/drleong.htm"><font color="#555666" size="2"><b><i>Mun Kew Leong</a></font><font color="#555666" size="1">, Institute for Infocomm Research, Singapore.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.cais.ntu.edu.sg/~aseplim/"><font color="#555666" size="2"><b><i>Ee Peng Lim</a></font><font color="#555666" size="1">, Nanyang Technological University, Singapore.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.apl.jhu.edu/~paulmac/"><font color="#555666" size="2"><b><i>Paul McNamee</a></font><font color="#555666" size="1">, Johns Hopkins University, USA.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://ir.icu.ac.kr/member_prof.htm"><font color="#555666" size="2"><b><i>Sung Hyon Myaeng</a></font><font color="#555666" size="1">, KAIST, South Korea.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://www.comp.nus.edu.sg/~nght/"><font color="#555666" size="2"><b><i>Hwee Tou Ng</a></font><font color="#555666" size="1">, National University of Singapore, Singapore.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://www.dcs.gla.ac.uk/~ounis/"><font color="#555666" size="2"><b><i>Iadh Ounis</a></font><font color="#555666" size="1">, University of Glasgow, UK.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.iei.pi.cnr.it/Personal/carol.html"><font color="#555666" size="2"><b><i>Carol Peters</a></font><font color="#555666" size="1">, ISTI-CNR, Italy.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://www.glue.umd.edu/~oard/"><font color="#555666" size="2"><b><i>Doug Oard</a></font><font color="#555666" size="1">, University of Maryland, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://theory.stanford.edu/~pragh/"><font color="#555666" size="2"><b><i>Prabhakar Raghavan</a></font><font color="#555666" size="1">, Yahoo! Research Labs, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://research.microsoft.com/users/robertson/"><font color="#555666" size="2"><b><i>Stephen Robertson</a></font><font color="#555666" size="1">, Microsoft Research, Cambridge, UK.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href=""><font color="#555666" size="2"><b><i>Tetsuya Sakai</a></font><font color="#555666" size="1">, NewsWatch, Inc., Japan.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://dis.shef.ac.uk/mark/"><font color="#555666" size="2"><b><i>Mark Sanderson</a></font><font color="#555666" size="1">,University of Sheffield, UK.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://members.unine.ch/jacques.savoy/JS.html"><font color="#555666" size="2"><b><i>Jacques Savoy</a></font><font color="#555666" size="1">, University of Neuchatel, Switzerland.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://nmis.isti.cnr.it/sebastiani/"><font color="#555666" size="2"><b><i>Fabrizio Sebastiani</a></font><font color="#555666" size="1">, ISTI-CNR, Italy.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://singhal.info/"><font color="#555666" size="2"><b><i>Amit Singhal</a></font><font color="#555666" size="1">, Google Fellow, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.cs.umbc.edu/~ian/"><font color="#555666" size="2"><b><i>Ian Soboroff</a></font><font color="#555666" size="1">, National Institute of Standards and Technology, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.csi.ucd.ie/users/tony-veale"><font color="#555666" size="2"><b><i>Tony Veale</font></a><font color="#555666" size="1">, University College Dublin, Ireland.</i></b></font></a></td></tr>
		<tr><td></td><td height=30 ><a href="http://www.nist.gov/cgi-bin/wwwph/cso.nist.gov?Query=ellen+voorhees"><font color="#555666" size="2"><b><i>Ellen Voorhees</a></font><font color="#555666" size="1">, National Institute of Standards and Technology, USA.</i></b></font></a></td></tr>
</tbody></table>
<!------------------------------------------------------------------------------------------ -->
<h2>Organizing Committee:</h2>
<a name="org_com"></a>
<table><tbody>
<tr><td></td><td><font color="#557766" size="2"><b><u></u></b></font></td></tr>
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Somnath Chandra</font></i></b><font color="#555666" size="1">, DIT, Govt. of India.</font></td></tr>
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Swaran Lata</font></i></b><font color="#555666" size="1">, DIT, Govt. of India.</font></td></tr>
	<tr><td></td><td height=30><b><i><a href="http://www.isical.ac.in/~ayan_t"><font color="#555666" size="2">Ayan Bandyopadhyay</a></font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr>
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Bhargab Bikram Bhattacharya</font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr>
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Chiranjib Bhattacharyya</font></i></b><font color="#555666" size="1">, IISC Bangalore.</font></td></tr>
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Pushpak Bhattacharya</font></i></b><font color="#555666" size="1">, IIT Bombay.</font></td></tr>
	<!--tr><td></td><td height=30><b><i><font color="#555666" size="2">Bhabatosh Chanda</font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr-->
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Rajat Chatterjee</font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr>
	<!--tr><td></td><td height=30><b><i><font color="#555666" size="2">B.B. Chaudhuri</font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr-->
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Manoj Kumar Chinnakotla</font></i></b><font color="#555666" size="1">, IIT Bombay.</font></td></tr>
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Sanjay Chowdhury</font></i></b><font color="#555666" size="1">, DAIICT, Gandhinagar.</font></i></b></font></td></tr>
	<tr><td></td><td height=30><b><i><a href="http://www.isical.ac.in/~samaresh_t"><font color="#555666" size="2">Samaresh Maiti</a></font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr>
	<tr><td></td><td height=30><b><i><a href="http://intranet.daiict.ac.in/~p_majumder/"><font color="#555666" size="2">Prasenjit Majumder</a></font></i></b><font color="#555666" size="1">, DAIICT, Gandhinagar, Convener.</font></i></b></font></td></tr>
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Anish Mathuria</font></i></b><font color="#555666" size="1">, DAIICT, Gandhinagar.</font></i></b></font></td></tr>
	<tr><td></td><td height=30><b><i><a href="http://www.isical.ac.in/~mandar"><font color="#555666" size="2">Mandar Mitra</a></font></i></b><font color="#555666" size="1">, ISI Kolkata. Convener.</font></i></b></font></td></tr>
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Pabitra Mitra</font></i></b><font color="#555666" size="1">, IIT Kharagpur, Publicity Co-ordinator.</font></i></b></font></td></tr>
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Suman K. Mitra</font></i></b><font color="#555666" size="1">, DAIICT, Gandhinagar, Finance Co-ordinator.</font></i></b></font></td></tr>
	<!--tr><td></td><td height=30><b><i><font color="#555666" size="2">Partha Pratim Mohanta</font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr-->
	<!--tr><td></td><td height=30><b><i><font color="#555666" size="2">U.M. Munshi</font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr-->
	<tr><td></td><td height=30><b><i><a href="http://www.isical.ac.in/~jia_r" ><font color="#555666" size="2">Jiaul Hoque Paik</a></font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></i></b></font></td></tr>
	<tr><td></td><td height=30><b><i><a href="http://www.isical.ac.in/~dipasree_t"><font color="#555666" size="2">Dipasree Pal</a></font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr>
	<tr><td></td><td height=30><b><i><a href="http://www.isical.ac.in/~sukomal_r"><font color="#555666" size="2">Sukomal Pal</a></font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr>
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Abhinay Panda</font></i></b><font color="#555666" size="1">, DAIICT, Gandhinagar</font></i></b></font></td></tr>
	<tr><td></td><td height=30><b><i><font color="#555666" size="2">Swapan K. Parui</font></i></b><font color="#555666" size="1">, ISI Kolkata.</font></td></tr>
</tbody></table>
<table><tbody>
<tr><td height=50 width=300></td><td><font size="3"><a href="#top"><img src="./images/top.jpg"></a></font></td></tr>
</tbody></table>

</div>
<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
