<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->
<!--**********************************************************-->
<!--starts content of the page-->


<div class="right">
<h2>Objective</h2>    
    <table><tbody>
	<tr><td>
<p>The importance of reusable, large-scale standard test collections in Information Access research has been widely recognized. The success of TREC, CLEF, and NTCIR has clearly established the importance of an evaluation workshop that facilitates research by providing the data and a common forum for comparing models and techniques.
The Forum for Information Retrieval Evaluation (FIRE) follows in the footsteps of TREC, CLEF and NTCIR with the following aims:</p>
<ul>

<li> to encourage research in South Asian language Information Access technologies by providing reusable large-scale test collections for ILIR experiments </li>
<li> to explore new Information Retrieval / Access tasks that arise as our information needs evolve, and new needs emerge </li>
<li> to provide a common evaluation infrastructure for comparing the performance of different IR systems </li>
<li> to investigate evaluation methods for Information Access techniques and methods for constructing a reusable large-scale data set for ILIR experiments. </li>
</ul>
	</td></tr>

        <tr><td height="8"></td></tr>
        <tr><td>
          <h4> </h4>
          <h2>The Tasks</h2>
          <ol>
		<li>
		<p>
		<b>Ad-hoc monolingual document retrieval in Bengali, Hindi Marathi and English.</b>
		</p>
		</li>

		<li>
		<p>
		<b>Ad-hoc cross-lingual document retrieval</b>
  		<br> - documents in Bengali, Hindi, Marathi, and English,
  		<br> - queries in Bengali, Hindi, Marathi, Tamil, Telugu , Gujarati and English.
   		<br> - Bengali and Hindi topics will also be transliterated and made available
     in Roman script. Adhoc monolingual task participants are encouraged to
     submit runs using these queries as well.

		</p>
		</li>

		<li>
                <p>
		<b>Retrieval and classification from mailing lists and forums.</b>
		<br>This is a pilot task being offered by IBM India Research Lab.
                </p>
                </li>


		<li>
                <p>
		<b>Ad-hoc Wikipedia-entity retrieval from news documents</b>
		<br> - Entities mined from English Wikipedia
		<br> - Query documents from English news website
		<br>This is a pilot task being offered by Yahoo! Labs, Bangalore.
                </p>
                </li>
          </ol>
        </td></tr>


	<tr><td height="8"></td></tr>
        <tr><td>
        <h4> </h4>
        <h2>Task Co-ordinators</h2>
	<table><tbody>
	<tr><td><b>Ad-hoc retrieval:</b></td></tr>
	<tr><td>Pushpak Bhattacharyya (pb@cse.iitb.ac.in)</td></tr>
	<tr><td><a href="http://www.isical.ac.in/~dipasree_t/"><font color="#74653D">Dipasree Pal</a> (dipasree_t@isical.ac.in)</td></tr>
	<tr><td></td></tr>	

	<tr><td><b>Retrieval from mailing lists and discussion forums:</b></td></tr>
	<tr><td><a href="http://domino.research.ibm.com/comm/research_people.nsf/fire/deb.index.html"><font color="#74653D">Debapriyo Majumdar</font></a> (debapriyo at in dot ibm dot com)</td></tr> 
	<tr><td><a href="http://www.isical.ac.in/~ayan_t/"><font color="#74653D">Ayan Bandyopadhyay</a> (ayan_t@isical.ac.in)</td></tr>
	<tr><td></td></tr>
	
	<tr><td><b>Ad-hoc Wikipedia-entity retrieval from news documents (WikEND):</b></td></tr>
	<tr><td>Ashwin Tengli (ashwint@yahoo-inc.com)</td></tr>
	<tr><td>Pabitra Mitra (pabitra@cse.iitkgp.ernet.in)</td></tr>
	
	</tbody></table>
	</td></tr>

	<tr><td height="8"></td></tr>
        <tr><td>
        <h4> </h4>
        <h2>Overall co-ordinators</h2>
	 <table><tbody>
	<tr><td>Prasenjit Majumder (p_majumder@daiict.ac.in) </td></tr>
	<tr><td>DAIICT, Gandhinagar</td></tr>
	<tr><td>Mandar Mitra (mandar@isical.ac.in) </td></tr>
	<tr><td>Indian Statistical Institute, Kolkata </td></tr>
	</tbody></table>
        </td></tr>
	</tbody></table>

</div>

<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./script.txt" -->
<!--#include virtual="./end.txt" -->
