<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->

<!--**********************************************************-->
<!--starts content of the page-->


      <div class="right">
<h2>Invited Speakers:</h2>

        <!--img src="images/fire.jpg" width="171" height="137" alt="Pic 1" class="left" /-->
<!--font color="#557766" size="2"><b><u>International Advisory Committee:</u></b></font><p></p><p></p><p></p-->
<table><tbody> 
		<tr><td></td><td><font color="#557766" size="2"><b><u></u></b></font></td></tr> 

		<tr><td></td><td height=30><a href="http://soumen.in/doc/CSAW/"><font color="#555666" size="2"><b><i>Soumen Chakrabarti</a></font><font color="#555666" size="1">, IIT,  Bombay.</b></font></a></td><td><a href="/fire/paper_2010/slides/chakrabarti.pdf">Slides</a></td></tr>
		<tr><td></td><td height=30><a href="http://www.cse.iitb.ac.in/~pb/"><font color="#555666" size="2"><b><i>Pushpak Bhattacharya</a></font><font color="#555666" size="1">, IIT,  Bombay.</b></font></a></td><!--td><a href="/fire/paper_2010/slides/">Slides</a></td--></tr>
		<tr><td></td><td height=30><a href="http://ims.dei.unipd.it/websites/cms/contact/academic-staff/nicola-ferro.html"><font color="#555666" size="2"><b><i>Nicola Ferro</a></font><font color="#555666" size="1">, University of Padova, Italy.</i></b></font></a></td><td><a href="/fire/paper_2010/slides/ferro.pdf">Slides</a></td></tr>
		<tr><td></td><td height=30><a href="http://www.uta.fi/~likaja/"><font color="#555666" size="2"><b><i>Kalervo JARVELIN</a></font><font color="#555666" size="1">, University of Tampere, Finland.</i></b></font></a></td><td><a href="/fire/paper_2010/slides/jarvelin.ppt">Slides</a></td></tr>
		<tr><td></td><td height=30><a href="http://www.computing.dcu.ie/~gjones/"><font color="#555666" size="2"><b><i>Gareth Jones</a></font><font color="#555666" size="1">, Dublin City University, Ireland.</b></font></a></td><td><a href="/fire/paper_2010/slides/jones.pdf">Slides</a></td></tr>
		<!--tr><td></td><td height=30><font color="#555666" size="2"><b><i>Swaran Lata</font><font color="#555666" size="1">, DIT, Govt. of India.</b></font></td></tr>
		<tr><td></td><td height=30><a href="http://www.dcs.gla.ac.uk/~ounis/"><font color="#555666" size="2"><b><i>Iadh Ounis</a></font><font color="#555666" size="1">, University of Glasgow, UK.</i></b></font></a></td></tr-->
			<tr><td></td><td height=30><a href="http://www.iei.pi.cnr.it/Personal/carol.html"><font color="#555666" size="2"><b><i>Carol Peters</a></font><font color="#555666" size="1">, Istituto di Elaborazione della Informazione, Italy.</i></b></font></a></td><td><a href="/fire/paper_2010/slides/peters.ppt">Slides</a></td></tr> 
		<!--tr><td></td><td height=30><font color="#555666" size="2"><b><i>Prasad Ram</font><font color="#555666" size="1">, Google India.</i></b></font></a></td></tr-->
		<tr><td></td><td height=30><font color="#555666" size="2"><b><i>Páraic Sheridan</font><font color="#555666" size="1">, Dublin City University, Ireland.</i></b></font></a></td><td><a href="/fire/paper_2010/slides/sheridan.ppt">Slides</a></td></tr>
		<tr><td></td><td height=30><font color="#555666" size="2"><b><i>Ian Soboroff</font><font color="#555666" size="1">, National Institute of Standards and Technology, USA.</i></b></font></a></td><td><a href="/fire/paper_2010/slides/soboroff.pdf">Slides</a></td></tr>
		<tr><td></td><td height=30><a href="http://www.csi.ucd.ie/users/tony-veale"><font color="#555666" size="2"><b><i>Tony Veale</font></a><font color="#555666" size="1">, University College Dublin, Ireland.</i></b></font></a></td><td><a href="/fire/paper_2010/slides/veale.pdf">Slides</a></td></tr>

</tbody></table>

</div>

<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
