<!--#include virtual="head.html" -->
<div class="right">
<h2>Accommodation</h2>
<br/>
<p>
The participants will be responsible for arranging their own accommodation. For your reference, we have listed out some hotels that are close to the conference venue.<br/><br/>
</p>
Rooms may be available at: 
<ul>
<li>
Sun Village Inn<br/>
Bamyan, Mahatma Gandhi Marg, Lajpat Nagar 4, New Delhi - 110019<br/>
Phone: +91 011 2643 4830, +91 011 26489797, +91 98730 66231<br/>
Deluxe double rooms available at around Rs. 3500(+tax). Additional mattress available for 2.<br/>
<a target="_blank" href="https://www.google.com/maps/preview#!data=!4m21!3m17!1m1!1sSun+Village+Inn%2C+Mahatma+Gandhi+Marg%2C+Lajpat+Nagar+IV%2C+Lajpat+Nagar+4%2C+New+Delhi%2C+Delhi%2C+India!1m5!1sIndia+International+Centre%2C+%2340%2C+Max+Mueller+Marg%2C+Lodhi+Estate%2C+New+Delhi%2C+DL+110003%2C+India!2s0x390cfd3237f2f5df%3A0xc2a8618f452dbb04!3m2!3d28.593992!4d77.223017!3m8!1m3!1d3357!2d77.2232169!3d28.5939739!3m2!1i1518!2i736!4f13.1!5m2!13m1!1e1&fid=0">Directions to IIC</a><br/><br/>
</li>
<li>
Diplomat Residency<br/>
56 Ring Road, Lajpat Nagar Part-III ,Near Haldiram, New Delhi<br/>
More information on: <a target="_blank" href="http://www.cleartrip.com/hotels/info/diplomat-residency-320175">Diplomat Residency</a><br/><br/>
</li>
<li>
Hotel Amby Inn<br/>
M-13, Lajpat Nagar-2, New Delhi 110024<br/>
More information on: <a target="_blank" href="http://www.cleartrip.com/hotels/info/hotel-amby-inn-315961">Hotel Amby Inn</a><br/>
<a target="_blank" href="https://www.google.com/maps/preview#!data=!4m26!3m17!1m5!1sIndia+International+Centre%2C+%2340%2C+Max+Mueller+Marg%2C+Lodhi+Estate%2C+New+Delhi%2C+DL+110003%2C+India!2s0x390cfd3237f2f5df%3A0xc2a8618f452dbb04!3m2!3d28.593992!4d77.223017!1m1!1sHotel+Amby+Inn%2C+M-13%2C+Lajpat+Nagar+2%2C+New+Delhi!3m8!1m3!1d28577!2d77.2251256!3d28.5797335!3m2!1i1518!2i783!4f13.1!5m2!13m1!1e1!7m4!11m3!1m1!1e1!2b1&fid=0">Directions to IIC</a><br/><br/>
</li>
<li>
Hotel Royal Castle Grand<br/>
No. D616, Chittaranjan Park, Delhi - 110019<br/>
Phone: +91 011 41315555, +91 011 41315561<br/>
Website: <a target="_blank" href="www.royalcastlehotels.com">www.royalcastlehotels.com</a><br/><br/>
</li>
<li>
Hotel Accord International<br/>
B-216, Outer Ring Road, Chittaranjan Park, Delhi -110019<br/>
Phone: +91 011 46603300, +91 9212639794<br/>
Website: <a target="_blank" href="www.hotelaccordinternational.com">www.hotelaccordinternational.com</a><br/><br/>
</li>
<li>
Hotel Welcome Inn<br/>
4647, Shora Kothi, Main bazaar, Pahar Ganj, Delhi<br/>
Phone: +91 011 41698920<br/><br/>
</li>
<li>
Navrang Hotel<br/>
644-C, Pahar Ganj, Delhi - 110055<br/>
Phone: +91 011 23561922, +91 011 23581965<br/><br/>
</li>
<li>
The City Hotel<br/>
3990, Ajmeri Gate, Delhi - 110006<br/>
Phone: +91 011 45645670, +91 9871140015<br/><br/>
</li>
</ul>
</p>
<p style="color:red">
Please contact the above hotels / guest houses directly.
</p><br/>
<p>Meals are available at restaurants that are within walking distance from the accommodation options listed above.</p><br/>

</div>
<!--#include virtual="foot.html" -->
