<!--#include virtual="head.html" -->
<div class="right">
<h2>Adhoc Retrieval</h2>
<br/>
<center>
  <a href="#news">News</a> | <a href="#subt">Sub-tasks</a> | <a href="#admin">Administrivia</a>
  | <a href="#runsub">Submissions</a> | <a href="#coord">Task Coordinators</a>
</center>
<br/>
<p>The FIRE ad hoc task is similar to the TREC ad hoc task. Its
objective is to evaluate the effectiveness of retrieval systems in
retrieving accurate and complete ranked lists of documents in response
to fifty one-time information needs. The FIRE 2012 ad hoc task focuses
specifically on South Asian languages. This is the fourth year of the
FIRE Adhoc Task. New participants are welcome!</p>  <br/>

<p>
  <b><a name="news">News</a></b>
  <hr/>
  <ul>
    2012<br/>
    <li>
      For the Bengali test collection, documents in the range 2004
      September-December and 2007 January-September were left out last
      year. The set in its entirety is being offered this year.
    </li>
    2011<br/>
    <li>
      We are supplementing the FIRE 2008 / 2010 Bengali <i>
      Anandabazar Patrika (ABP)</i> corpus, which had had news
      articles of the years spanning 2004 to 2007, with a longer span
      ranging from 2001 to 2010.
    </li>
    <li>
      The <i>BDNews 24</i> collection covers news in English and Bengali
      from 2006 - 2010.
    </li>
    <!-- <li></li> -->
  </ul>
</p>

<p>
  <b><a name="subt">Sub-tasks</a></b>
  <hr/>
  <ol>
    <li><b>Mono-lingual retrieval</b></li>
    <ul> 
      <li>Bengali</li>
      <li>Gujarati</li>
      <li>Hindi</li>
      <li>Marathi</li>
      <li>Tamil</li>
    </ul>
    <li><b>Cross-lingual retrieval</b></li>
    <ul>

      <li><i>Queries</i> : Bengali&nbsp;/&nbsp;English&nbsp;/&nbsp;Gujarati&nbsp;/&nbsp;Hindi&nbsp;/&nbsp;Marathi&nbsp;/&nbsp;Tamil&nbsp;/&nbsp;Telegu</li>
      <li><i>Documents</i> : Bengali&nbsp;/&nbsp;English&nbsp;/&nbsp;Gujarati&nbsp;/&nbsp;Hindi&nbsp;/&nbsp;Marathi&nbsp;/&nbsp;Tamil</li>
    </ul>
  </ol>
</p>

<p>The Bengali and Hindi topics will also be transliterated and made
available in Roman script. All participants are encouraged to submit
runs using these queries as well.</p>
<br/>

<!-- <b><a name="stat">Corpus Statistics</a></b> -->
<!-- <hr/><br/> -->

<!-- <table border="1"> -->
<!--   <tr> -->
<!--     <th>Language</th> -->
<!--     <th>Document source</th> -->
<!--     <th># Documents</th> -->
<!--     <th>Size (gzipped)</th> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td rowspan="5">Bengali</td> -->
<!--     <td><i>Anandabazar Patrika (2001 - 2010)</i></td> -->
<!--     <td></td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td>&nbsp;&nbsp;2001 - 2004</td> -->
<!--     <td>111,662</td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td>&nbsp;&nbsp;2004 - 2007</td> -->
<!--     <td>123,011</td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td>&nbsp;&nbsp;2007 - 2010</td> -->
<!--     <td>159,731</td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td><i>BDNews 24</i></td> -->
<!--     <td>83,167</td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td rowspan="2">English</td> -->
<!--     <td><i>BDNews 24</i></td> -->
<!--     <td>89,286</td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td><i>The Telegraph (2001 - 2010)</i></td> -->
<!--     <td>303,291</td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td>Gujarati</td> -->
<!--     <td><i>Gujarat Samachar</i></td> -->
<!--     <td>313,163</td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td rowspan="2">Hindi</td> -->
<!--     <td><i>Amar Ujala</i></td> -->
<!--     <td>33,634</td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td><i>Navbharat Times</i></td> -->
<!--     <td>297,966</td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td rowspan="2">Tamil</td> -->
<!--     <td><i>Dinamalar</i></td> -->
<!--     <td>192,947</td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td><i>BBC</i></td> -->
<!--     <td>1,536</td> -->
<!--     <td></td> -->
<!--   </tr> -->
<!-- </table> -->

<!-- <br/> -->

<p><b><a name="admin">Administrivia</a></b></p>
<hr/>
<p>Periodically check this website for announcements and updates.</p>
<p>Subscribe to fire-list to participate in discussions and be
informed of any late-breaking announcements.</p>

<br/>

<p><b><a name="runsub" href="upload.php">Submissions</a></b></p>
<hr/>
<br/>
<!-- <form name="runsub" method="post" action="upload.php"> -->
<!--   <input name="upload" value="Upload" type="button"/> -->
<!-- </form> -->
<center>
<a href="upload.php">Please click here to Submit Run</a>
</center>
<br/><br/>
<li>
  Each submission file should contain 1000 documents per topic, ranked
  0-999, in the usual TREC / CLEF submission format, i.e. each line in
  the file should have the following fields:<br/>
  &lt;Query id&gt; Q0 &lt;DOCNO&gt; &lt;RANK&gt; &lt;SIMILARITY&gt;
  &lt;Run-ID&gt;
</li>
<li>
  Participants will need to submit a gzipped file containing retrieval
  results in the above format.
</li>
<li>
  <b>All participants are required to submit at least one run that
  uses only the title and description fields (no narrative) of the
  topics.</b> There is no upper limit on the number of submitted
  runs. However, please assign a priority to each of your
  submissions. Runs will be included in the pooling process in order
  of priority.
</li>
<br/>
<p><b><a name="coord">Task Coordinators</a></b></p>
<hr/>
<a href="http://sauparna.sdf.org">Ayan Bandyopadhyay</a>; bandyopadhyay.ayan@gmail.com<br/>
<a href="http://www.isical.ac.in/~dipasree_t/">Dipasree Pal</a>; dipasree_t@isical.ac.in<br/>
<a href="http://sauparna.sdf.org">Sauparna Palchowdhury</a>; sauparna.palchowdhury@gmail.com<br/>
<hr/>
</div>
<!--#include virtual="foot.html" -->
