<!--#include virtual="head.html" -->

<div class="right">
<h2>Frequently Asked Questions</h2>

<ul>
<li><a href="#part">Participation.</a></li>
<li><a href="#sub">Run submission, working notes and proceedings.</a></li>
<li><a href="#spk">Invited speakers</a></li>
<li><a href="#misc">Misc</a></li>
</ul>

<ul>
<a name="part">Participation.</a>
<hr/><br/>

<li><b>Are the participants invited for presentation of their work in the workshop?</b></li>
Absolutely!

<li><b>I have submitted a run, and I will write the working note too, but I cannot attend the workshop in person. Do I need to register and pay the registration fee?</b></li>
That's unnecessary. You need not register or pay the fee if you can
not attend the worshop. Your run submissions and write-ups will be
accepted for evaluation and review.

<li><b>I am planning to attend the workshop, is there any travel
fellowship or other forms of funding that are available?</b></li>
As of now, our level of funding will not allow us to extend any sort
of travel support. We will make an announcement on the fire-list if
the situation changes.

<li><b>Since I don't see any option for Credit Card payment, is it
possible to make the payment by check at the time of the
workshop?</b></li>  Right, we don't take Credit Cards. If you can't
manage an electronic transfer, give us a 'Cashier's Cheque' (in stead
of a 'Banker's Cheque'). Snail-mail it to us, or you may give it to us
at the venue. Cash is best avoided.

<li><b>Will you acknowledge receiving the payment? How will you know I sent it?</b></li>
Yes we will, but it might take us some time to get back to you. We'll
 to match the Demand Draft / Cheque number you have filled in during
 registration. The transaction description string / transaction ID
 should give us some hints in the case of an electronic transfer. It's
 best if you can mention your name in the transaction string.

<li><b>Will the registration fee cover my accommodation expenses?</b></li>
No. The food and lodging expenses has to be borne by the participant.

<li><b>Will you arrange for accommodation?</b></li>  We will try to
reserve space for the participants in the guest houses / hostels at
the venue. Participants need to book them over phone / email. Please
keep a tab on the <a href="./logistics.html">Logistics</a> page for
details.

<br/><br/>

<a name="sub">Run submission, working notes and proceedings.</a>
<hr/><br/>

<li><b>I haven't submitted a run, can I participate?</b></li>
Of course you can! Participation is open to all. You may be interested
to hear the keynotes / talks. You have to register and pay the
registration fee to attend the workshop.

<li><b>I have submitted a run, but I haven't submitted a working note. Will I
get a mention in the post-proceedings?</b></li>
Unlikely. All those (and only those) who submit papers for the working
notes will be invited to submit revised versions of their papers for
this volume.

<li><b>What 'Title' should we use for the working notes?</b></li>
For the title, you can use "FIRE 2011 Working Notes".

<li><b>Who do we mention as 'Editors' for the working notes?</b></li>
Since the working notes will simply be a collection of pdf files put
together with no editorial intervention, there are no editors for
these notes. We're sure you can fool BiBTeX (or similar) into
accepting a no-editors compilation.

<li><b>What are the formatting guidelines for the working notes?</b></li>
As at TREC, there are no constraints on the length / format of the
working notes paper. Please mail a single pdf file containing your
paper to fire.working.notes@gmail.com. The pdf files will be uploaded
to the web-site and (most likely) distributed to participants on a CD.
There may or may not be a hard copy version of the notes.

<li><b>How do we submit the working notes?</b></li>
Email a single PDF file to fire.working.notes@gmail.com

<li><b>What to follow up the working notes with?</b></li>
The revised version of the working notes should include details of the
approach(es) used, and a proper analysis of the results. All
submissions will go through a peer-review process. Papers that do not
contain adequate details about the approach / analysis of the results
will be rejected.

<li><b>Who is publishing the post-proceedings of FIRE 2011?</b></li>
We are happy to announce that Springer has agreed to publish the FIRE
2011 post-proceedings as an LNCS (Lecture Notes in Computer Science)
volume.

<li><b>Where and how do I submit the paper?</b></li>
Follow the link to
Springer's <a href="http://senldogo0039.springer-sbm.com/ocs/home/FIRE2011">LNCS
OCS</a> for FIRE 2011. You need to register, create an account and
upload a PDF file through this UI.

<li><b>What are the formatting guidelines for the post-proceedings due
on <del>15 February 2012</del> 29 February 2012?</b></li>
Please follow the guidelines on the
page: <a href="http://www.springer.com/computer/lncs?SGWID=0-164-6-793341-0">'Information
for LNCS Authors'</a>, for formatting / typesetting your paper, and
submit a PDF file. Instructions are provided for both LaTeX2e and MS
Word users.

<li><b>How to cite the FIRE 2011 test collection in my paper?</b></li>
Statistics and other details about the test collections will be
provided in the overview paper. Please do not include such details in
your paper.

<br/><br/>

<a name="spk">Invited speakers</a>
<hr/><br/>

<li><b>Do invited speakers have to register for workshop?</b></li>
Not at all!. We have already enlisted you.

<li><b>Is accommodation being arranged for the invited speakers, or do
we need to do this for ourselves?</b></li>  We have arranged for
accommodation for invited speakers. We'll pick you up and drop you at
at the airport. You don't have to make these arrangements yourself.

<li><b>How do we travel to the venue from the airport or railway station?</b></li>
The FIRE organisers have arranged for pick up and drop at the airports
and stations for all our invited speakers. You do not need to arrange
for this yourself.

<br/><br/>

<a name="misc">Misc</a>
<hr/><br/>

<li><b>I want to post to the fire-list, can you please add me as a member?</b></li>
We have added all email IDs that we could find from the registration
information. If you still feel left out, please email us.

<li><b>What does 'Sauparna' mean?</b></li>
It's the name of a gem stone mentioned in Indian mythology. In Bengal,
it is used as a boy's name. It's pronounced 'sho&uuml;porno'. Simpler
still, rhyme it with 'showporno'.

</ul>

</div>

<!--#include virtual="foot.html" -->
