<!-- img list
&nbsp;<img src="images/ball.gif"/>
&nbsp;<img src="images/bulb.png"/>
&nbsp;<img src="images/spinner.gif"/>
<img width="75%" src="images/spinner.gif"/>
-->

<!-- TEMPLATE
<table width="100%" border="0" cellpadding="0" cellspacing="3">
<tr>
  <td align="center">&bull;</td>
  <td></td>
</tr>
</table>
-->

<div class="left">
  <h2>Links</h2>

  <table width="100%" border="0" cellpadding="0" cellspacing="3">
    <tr>
      <td width="15%" align="center">&bull;</td>
      <td width="85%"><a href="/fire">Home</a></td>
    </tr>

    <tr>
      <td width="15%" align="center">&bull;</td>
      <td width="85%"><a href="/fire/2013">Home 2013</a></td>
    </tr>
    <tr>
       <td width="15%" align="center">&bull;</td>
      <td width="85%"><a href="/fire/2013/schedule.html">Schedule</a></td>
    </tr>
    <tr>
      <td align="center">&bull;</td>
      <td width="85%"><a href="/fire/2013/working-notes.html">Working notes</a></td>
    </tr>
    <tr> 
      <td width="15%" align="center"><img width="60%" src="images/spinner.gif"/></td> 
      <td width="85%"><a href="/fire/2013/presentations.html">Presentations</a></td>
    </tr> 

    <tr>
      <td width="15%" align="center">&bull;</td>
      <td width="85%"><a href="/fire/2013/abstracts.html">Abstracts</a></td> 
    </tr> 
    <!-- <tr> -->
    <!--    <td width="15%" align="center">&bull;</td> -->
    <!-- 	<td width="85%"><a href="/fire/2013/registration.html">Registration</a></td> -->
    <!--  </tr> -->

    <!-- <tr> -->
    <!-- <td align="center">&bull;</td> -->
    <!-- <td width="85%"><a href="/fire/2013/accommodation.html">Accommodation</a></td> -->
    <!-- </tr> -->
    <tr>
      <td align="center">&bull;</td>
      <td><a href="data.html">Data</a></td>
    </tr>
    <!-- <tr> -->
    <!--   <td align="center">&bull;</td> -->
    <!--   <td><a href="dates.html">Important Dates</a></td> -->
    <!-- </tr> -->
    <tr>
      <td align="center">&bull;</td>
      <td><a href="/fire/2013/committee.html">Committee</a></td>
    </tr>
     <tr>
      <td align="center">&bull;</td>
      <td><a href="/fire/2013/resources.html">Resources</a></td>
    </tr>
	<tr>
      <td align="center">&bull;</td>
      <td><a href="http://www.iicdelhi.nic.in/">Venue</a></td>
    </tr>
    
     <!-- <tr> -->
   <!--    <td align="center">&bull;</td> -->
   <!--    <td><a href="poster.html">Poster</a></td> -->
   <!--  </tr> -->
   <!-- <tr> -->
   <!--    <td align="center">&bull;</td> -->
   <!--    <td><a href="upload.php">Adhoc Run Submission</a></td> -->
   <!--  </tr> -->
    <tr>
      <td align="center"><img width="60%" src="images/fire-list.png"/></td>
      <td><a href="http://groups.google.com/group/fire-list">fire-list</a></td>
    </tr>
    <tr>
      <td align="center">&bull;</td>
      <td><a href="faq.html">FAQ</a></td>
    </tr>
    <!-- <tr> -->
    <!--   <td align="center">&bull;</td> -->
    <!--   <td><a href="http://wikitravel.org/en/Calcutta">About Kolkata</a></td> -->
    <!-- </tr> -->
  </table>

  <h2>Archives</h2>
  <table width="100%" border="0" cellpadding="0" cellspacing="3">
    <tr>
      <td width="15%" align="center">&bull;</td>
      <td width="85%">
	<a href="/fire/2012/index.html">FIRE 2012</a>
      </td>
    </tr>
    <tr>
      <td width="15%" align="center">&bull;</td>
      <td width="85%">
	<a href="/fire/2011/index.html">FIRE 2011</a>
      </td>
    </tr>
    <tr>
      <td align="center">&bull;</td>
      <td><a href="/fire/2010/index.html">FIRE 2010</a></td>
    </tr>
    <tr>
      <td align="center">&bull;</td>
      <td><a href="/fire/2008/index.html">FIRE 2008</a></td>
    </tr>
  </table>

<h2>Updates</h2>
</br>
<a href="https://www.youtube.com/channel/UCPiJM_EjGeost57LjRFVa0Q"><img width="100%" src="images/youtube_channel.jpg"/></a>
</br>

<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/fire_forum"  data-widget-id="405803542385942528">Tweets by @fire_forum</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="fb-like-box" data-href="https://www.facebook.com/fire.forum" data-height="200" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="falsh" data-show-border="falsh" data-width="180" data-scroll="true"></div>


</div>

</div>
<div style="clear: both;"> </div>

</div>

<div id="bottom"> Copyright &copy; 2014 IRSI All rights reserved.
<br>
<br>
<font size=1px>
This page was last updated 11/01/2014 10:13:54 IST.
</font>
</div>


</body>
