<!--#include virtual="head.html" -->
<div class="right">
<h2>Objective</h2>
<body>
<table>
  <tbody>
    <br>
    <tr><td>
	<p>
	  The importance of reusable, large-scale standard test
	  collections in Information Access research has been widely
	  recognized. The success of TREC, CLEF, and NTCIR has clearly
	  established the importance of an evaluation workshop that
	  facilitates research by providing the data and a common
	  forum for comparing models and techniques. The Forum for
	  Information Retrieval Evaluation (FIRE) follows in the
	  footsteps of TREC, CLEF and NTCIR with the following aims:
	</p>
	
	<ul>
	  <li>Encourage research in South Asian language Information
	    Access technologies by providing reusable large-scale test
	    collections for ILIR experiments.</li>
	  <li>Explore new Information Retrieval / Access tasks that
	    arise as our information needs evolve, and new needs
	    emerge.</li>
	  <li>Provide a common evaluation infrastructure for comparing
	    the performance of different IR systems.</li>
	  <li>Investigate evaluation methods for Information Access
	    techniques and methods for constructing a reusable
	    large-scale data set for ILIR experiments.</li>
	</ul>
    </td></tr>
  </tbody>
</table>

<h2>Tasks</h2>
<!-- This list grows outwards from the centre, hence centered. -->
<br/>
<ul>
  <!-- <li><a href="adhoc.html">Adhoc</a></li> -->
  <li><a href="legal.html">Information access in the legal domain</a></li>
  <li>
  <a href="http://research.microsoft.com/en-us/events/fire13_st_on_transliteratedsearch/default.aspx">Shared Task on Transliterated Search</a>
  </li>
<li>
  <a href="/fire/MET2013/MET.html">Morpheme Extraction Task (MET)</a>
  </li>  
<li>
  <a href="http://www.dsic.upv.es/grupos/nle/clinss.html">Cross-Language !ndian News Story Search (CL!NSS)</a>
  </li>
  <li>
  <a href="/fire/faq-retrieval/faq-retrieval.html">FAQ retrieval using Noisy Queries</a>
  </li>
  <li>
  <a href="http://www.umiacs.umd.edu/~oard/qasw/">Question Answering for the Spoken Web (QASW)</a>
  </li>
  <li>
  <a href="http://au-kbc.org/nlp/NER-FIRE2013/index.html"> NER - Named-Entity Recognition Indian Languages </a>
  </li>
<!--   <li><a href="/fire/morpho/MET.html">Morpheme -->
<!--   ExtractionTask (MET)</a></li> -->
<!--   <li><a href="http://www.cngl.ie/Fire-PIR/PIR.htm">Collaborative Information -->
<!--   Retrieval (CIR)</a></li> -->
<!--   <li><a href="/fire/risot/risot2012.html">Retrieval -->
<!--   from Indic Script OCR'd Text (RISOT)</a></li> -->
</ul>

<br/> 

<!-- Speakers -->
<!--#include virtual="./speakerlist.html" -->
</div>
<!--#include virtual="foot.html" -->
