<!--#include virtual="head.html" -->

<!-- Template
<tr><td>hello</td><td>world!</td></tr>
-->

<div class="right">
<h2>POSTER Session</h2>
<br>
<p>
We invite short papers (2 pages) describing work on any topic related to
IR. Submitted posters will be blind-reviewed according to originality
and technical merit. Selected papers will be published in the Working
Notes and can be presented as posters during the Workshop. This will
provide the authors with an opportunity to obtain direct feedback about
their work from a wide audience during the poster session. Authors of
selected short papers will be invited to submit an extended version for
publication in the peer-reviewed post-proceedings to be published as an
LNCS volume.
</p>
<br>

<h2>SUBMISSION</h2>
<br>
<p>
Extended abstracts of posters must be in English and should not exceed 2
pages in the ACM 2-column format (including references and figures).
Suitable LaTeX and Word templates are available from the ACM Website:
<a href="http://www.acm.org/sigs/publications/proceedings-templates">http://www.acm.org/sigs/publications/proceedings-templates</a>
(for LaTeX, use Option 2). The only accepted format for submissions is
PDF. Poster papers must be submitted electronically using EasyChair at
<a href="https://www.easychair.org/conferences/?conf=fire2012poster">https://www.easychair.org/conferences/?conf=fire2012poster</a>.
</p>
<br>
<p>
Author identity should be concealed (please omit author names and
affiliations from the initial submission). Submissions that are over the
2-page limit or are not anonymous will be rejected without review. Note
that summaries of full papers that have already been published elsewhere
(including in another language) are not acceptable as poster submissions
for FIRE.
</p>
<br>

<p>
At least one author must register and attend the conference. Please note
that it is the responsibility of the authors to ensure that the PDF
submission has been uploaded successfully (we suggest that you try
downloading your paper again yourself, to check).
</p>
<br>

<h2>IMPORTANT DATES</h2>
<br>

<p>
<b>
Submission deadline: <del>September 30, 2012</del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;October 14, 2012<br>
Review notification: <del>October 31, 2012</del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;November 10, 2012<br>
Camera-ready due: 1 December, 2012<br>
Workshop: 17-19 December, 2012.<br>
</b>
</p>
<br>

<p>
Poster co-ordinator: Sukomal Pal, ISM Dhanbad (sukomalpal@gmail.com)
</p>
<br>


<hr>
</div>
<!--#include virtual="foot.html" -->
