<!--#include virtual="./head.html" -->
<!--**********************************************************-->

<!--**********************************************************-->
<!--starts content of the page-->


<!-- TEMPLATE
<li>
  <b><a name="NAME">TITLE LINE</a></b>
  <a href="./slides/FILE.pdf"><img src="./images/pdf.png"/></a>
  (<a href="abstracts.html#IN-PAGE-LINK">Abstract</a>)<br/>
  - John Doe, DESIGNATION.<br/>
</li>
-->

<!-- TEMPLATE
<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td colspan="3" bgcolor="#eee9e9">Keynotes</td></tr>
<tr>
  <td><a href="slides/slide.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Title</i><br/> - Author, Institute<br/>
  </td>
  <td><a href="#">Abstract</a></td>
</tr>
</table>
-->

<div class="right">

<h2>Presentations</h2>

<br/>

<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td colspan="3" bgcolor="#eedfcc"><b>Overview talks</b><br/></td></tr>
<tr>
  <td><a href="slides/overview_prasenjit_fire2013.ppt"><img src="images/ppt.png"/></a></td>
  <td>
    <i>FIRE 2013 Overview</i><br/> -
    Prasenjit Majumder<br/>
  </td>
  <td></td>
</tr>
<tr>

<!-- Keynotes -->
<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td colspan="3" bgcolor="#eedfcc"><b>Keynotes</b><br/></td></tr>

<tr>
  <td><a href="slides/keynote_doug_fire13.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>The Evolution of Shared-Task Evaluation
    </i><br/> - Doug Oard, University of Maryland, College Park, USA.<br/>
  </td>
  <td><a href="abstracts.html#Douglas">Abstract</a></td>
</tr>

<tr>
  <td><a href="slides/keynote_savoy_fire13.ppt"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Authorship Attribution, Profile, and Style
    </i><br/> - Jacques Savoy.<br/>
  </td>
  <td><a href="abstracts.html#Jacques">Abstract</a></td>
</tr>

<tr>
  <td><a href="slides/keynote_jaap_fire13.pdf"><img src="images/pdf.png"/></a><br/></td>
  <td>
    <i>(Re)Search:</i>
    <br/> - Jaap Kamps, University of Amsterdam, The Netherlands.<br/>
  </td>
<!--
  <td><a href="abstracts.html#">Abstract</a></td>
-->
</tr>

<tr>
  <td><a href="slides/keynote_paulo_fire13.pdf"><img src="images/pdf.png"/></a><br/></td>
  <td>
    <i>From legal texts to legal ontologies and question-answering systems</i>
    <br/> - Paulo Quaresma.<br/>
  </td>
  <td><a href="abstracts.html#Paulo">Abstract</a></td>
</tr>

<tr>
  <td><a href="slides/keynote_kevin_fire13.pptx"><img src="images/ppt.png"/></a><br/></td>
  <td>
    <i>Risk-Sensitive Information Retrieval</i>
    <br/> - Kevyn Collins-Thompson.<br/>
  </td>
  <td><a href="abstracts.html#Kevyn">Abstract</a></td>
</tr>

<tr>
  <td><a href="slides/keynote_marie_fire13.pdf"><img src="images/pdf.png"/></a><br/></td>
  <td>
    <i>Argumentation Mining </i>
    <br/> - Marie-Francine Moens.<br/>
  </td>
  <td><a href="abstracts.html#Moens">Abstract</a></td>
</tr>


<tr>
  <td><a href="slides/keynote_paolo_fire13.pdf"><img src="images/pdf.png"/></a><br/></td>
  <td>
    <i>Similarity search, Plagiarism detection, Author identification/profiling </i>
    <br/> - Paolo Rosso, Universidad Politécnica de Valencia, Spain.<br/>
  </td>
  <td><a href="abstracts.html#Paolo">Abstract</a></td>
</tr>

<tr>
  <td><a href="slides/keynote_nicola_fire13.pdf"><img src="images/pdf.png"/></a><br/></td>
  <td>
    <i>Document Misplacement for IR Evaluation</i>
    <br/> - Nicola Ferro, University of Padova, Italy.<br/>
  </td>
<!--
  <td><a href="abstracts.html#">Abstract</a></td>
-->
</tr>

<tr>
  <td><a href="slides/keynote_pavan_fire13.pptx"><img src="images/ppt.png"/></a><br/></td>
  <td>
    <i>Information Retrieval, Information Access & Big Data- Legal Perspectives</i>
    <br/> - Pavan Duggal.<br/>
  </td>
<!--
  <td><a href="abstracts.html#">Abstract</a></td>
-->
</tr>

</table>
<br/>
<!-- =========== -->

<!-- Track overviews -->
<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td colspan="3" bgcolor="#eedfcc"><b>Track overviews</b><br/></td></tr>

<tr>
  <td><a href="slides/overview_clinss_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>CL!NSS</i>
    <br/> - Parth Gupta, NLE Lab, UPV Spain.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/overview_faq_fire13.ppt"><img src="images/ppt.png"/></a></td>
  <td>
    <i>FAQ retrieval using noisy queries</i>
    <br/> - Danish Contractor.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/overview_legal_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Information access in Legal domain </i>
    <br/> - Madhu Agrawal & Parth Mehta, DAIICT, Gandhinagar.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/overview_met_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>MET</i>
    <br/> - Komal Agrawal, DAIICT, Gandhinagar.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/overview_ner_fire13.pdf"><img src="images/ppt.png"/></a></td>
  <td>
    <i>NER</i>
    <br/> - Shobha Lalitha Devi.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/overview_qasw_fire13.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>QASW</i>
    <br/> - Doug Oard & Jerome White.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/overview_translit_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Shared Task on Transliterated Search</i>
    <br/> - Rishiraj Saha Roy.<br/>
  </td>
  <td></td>
</tr>
</table>
<br/>
<!-- =========== -->

<!-- CL!NSS track talks -->
<table width="100%" border="0" cellpadding="0" cellspacing="5">

<tr><td colspan="3" bgcolor="#eedfcc"><b>CL!NSS track talks </b><br/></td></tr>

<tr>
  <td><a href="slides/clinss_amogh_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Leveraging Article Titles for Cross-lingual Linking of Focal News Events</i>
    <br/> - Amogh Param.<br/>
  </td>
  <td></td>
</tr>
<br/>

<tr>
  <td><a href="slides/clinss_piyush_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>DCU at FIRE 2013: Cross Language !ndian News Story Search</i>
    <br/> - Piyush Arora.<br/>
  </td>
  <td></td>
</tr>
<br/>

<tr>
  <td><a href="slides/clinss_aarti_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Pre-Retrieval based Strategies for Cross Language News Story Search</i>
    <br/> - Aarti Kumar.<br/>
  </td>
  <td></td>
</tr>
<br/>

<tr>
  <td><a href="slides/clinss_sujoy_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Performance Evaluation of Dictionary Based CLIR Strategies for Cross Language News Story Search</i>
    <br/> - Sujoy Das.<br/>
  </td>
  <td></td>
</tr>
</table>
<br/>

<!-- =========== -->

<!-- FAQ retrieval using noisy queries track talks -->
<!--
<table width="100%" border="0" cellpadding="0" cellspacing="5">

<tr><td colspan="3" bgcolor="#eedfcc"><b>FAQ retrieval using noisy queries track talks </b><br/></td></tr>

<tr>
  <td><a href="slides/"><img src="images/pdf.png"/></a></td>
  <td>
    <i></i>
     <br/> - .<br/>
  </td>
  <td></td>
</tr>
<br/>

<tr>
  <td><a href="slides/"><img src="images/ppt.png"/></a></td>
  <td>
    <i></i>
     <br/> - .<br/>
  </td>
  <td></td>
</tr>
</table>
<br/>
-->
<!-- =========== -->

<!-- Legal track talks -->
<table width="100%" border="0" cellpadding="0" cellspacing="5">

<tr><td colspan="3" bgcolor="#eedfcc"><b>Legal track talks </b><br/></td></tr>

<tr>
  <td><a href="slides/legal_paulo_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Information Retrieval Based on Extraction of Domain Specific Information ...</i>
     <br/> - Paulo Quaresma.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/legal_kanapala_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>ISM@FIRE-2013 Information Access in The Legal Domain</i>
     <br/> - Kanapala Ambedkar.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/legal_nitin_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>TRDDC @ FIRE 2013 System for Classification of Legal Propositions</i>
     <br/> - Nitin Ramrakhiyani.<br/>
  </td>
  <td></td>
</tr>
</table>
<br/>
<!-- =========== -->

<!-- MET track talks -->
<table width="100%" border="0" cellpadding="0" cellspacing="5">

<tr><td colspan="3" bgcolor="#eedfcc"><b>MET track talks </b><br/></td></tr>

<tr>
  <td><a href="slides/met_amit_fire13.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>ISM@FIRE MET-2013</i>
     <br/> - Amit Jain.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/met_anubha_fire13.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Hindi Stemmer @ FIRE-2013</i>
     <br/> - Anubha Jain.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/met_sobha_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Morpheme Extraction in Tamil using Finite State Machines</i>
     <br/> - Sobha Lalitha Devi.<br/>
  </td>
  <td></td>
</tr>

</table>
<br/>
<!-- =========== -->

<!-- NER track talks -->
<table width="100%" border="0" cellpadding="0" cellspacing="5">

<tr><td colspan="3" bgcolor="#eedfcc"><b>NER track talks </b><br/></td></tr>

<tr>
  <td><a href="slides/ner_dinesh_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>ISM@FIRE-2013 NER Indian Languages Task</i>
     <br/> - Dinesh Kumar Prabhakar.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/ner_nitin_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>TRDDC @ FIRE 2013 System for NER in Indian Languages</i>
     <br/> - Nitin Ramrakhiyani.<br/>
  </td>
  <td></td>
</tr>

</table>
<br/>
<!-- =========== -->


<!-- QASW track talks -->
<!--
<table width="100%" border="0" cellpadding="0" cellspacing="5">

<tr><td colspan="3" bgcolor="#eedfcc"><b>QASW track talks </b><br/></td></tr>

<tr>
  <td><a href="slides/"><img src="images/ppt.png"/></a></td>
  <td>
    <i></i>
     <br/> - .<br/>
  </td>
  <td></td>
</tr>
</table>
<br/>
-->
<!-- =========== -->

<!-- Shared Task on Transliterated Search track talks -->
<table width="100%" border="0" cellpadding="0" cellspacing="5">

<tr><td colspan="3" bgcolor="#eedfcc"><b>Shared Task on Transliterated Search track talks </b><br/></td></tr>

<tr>
  <td><a href="slides/translit_dinesh_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>FIRE@ISM-2013 Transliterated Search Task</i>
     <br/> - Dinesh Kumar Prabhakar.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/translit_parth_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Encoding transliteration variation through dimensionality reduction</i>
     <br/> - Parth Gupta.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/translit_spandana_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Query Word Labeling and Back Transliteration for Indian Languages</i>
     <br/> - Spandana Gella.<br/>
  </td>
  <td></td>
</tr>

<tr>
  <td><a href="slides/translit_hardik_fire13.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Transliterated Search using Syllabification Approach</i>
     <br/> - Hardik Joshi.<br/>
  </td>
  <td></td>
</tr>

</table>
<br/>


<!-- -->
<table width="100%" border="0" cellpadding="0" cellspacing="5">
  <tr><td colspan="3" bgcolor="#eedfcc"><b>Other evaluation forums</b><br/></td></tr>
<tr>
  <td><a href="slides/other_ntcir_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>NTCIR</i><br/> - Doug Oard, University of Maryland, College Park, USA.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/other_clef_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>The CLEF initiative:</i><br/>
     - Nicola Ferro, University of Padova, Italy.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/other_inex_fire13.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Report on INEX 2013</i>
    <br/> - Jaap Kamps, University of Amsterdam, The Netherlands.<br/>
  </td>
  <td></td>
</tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="5">
  <tr><td colspan="3" bgcolor="#eedfcc"><b>FIRE-2013 Steering Committee</b><br/></td></tr>
<tr>
  <td><a href="slides/steering-committee_fire13.odp"><img src="images/ppt.png"/></a></td>
  <td>Prasenjit Majumder, DAIICT, Gandhinagar.<br/>
  </td>
  <td></td>
</tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="5">
  <tr><td colspan="3" bgcolor="#eedfcc"><b></b><br/></td></tr>
</table>


</div>

<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
