<!--#include virtual="head.html" -->
<div class="right">
<h2>Schedule</h2>
  <!-- <center>   -->
  <!-- <p style="font-size:120%;color:red;align=center"> -->
  <!-- <b>All talks will be held in the Platinum Jubilee Auditorium (PJA) unless -->
  <!-- otherwise specified.</b> -->
  <!-- </p> -->
  <!-- </center> -->
<table width="100%">

<!-- ============================================================ -->
  
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center>Day 1 : 4th December, 2013</center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>

<tr>
  <td height="20">09:00 &ndash; 10:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Registration</td>
</tr>
<tr>
  <td height="20">10:00 &ndash; 11:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Inauguration</td>
</tr>
<!--tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Overview of CLIA project (Mandar Mitra)</td>
</tr-->
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Overview of FIRE 2013 (Prasenjit Majumder)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#Douglas">The Evolution of Shared-Task Evaluation (Doug Oard)</a>
  </td>
</tr>

<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">11:45 &ndash; 12:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Track overviews</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">N.E.R. (Shobha Lalitha Devi)</td>
</tr>

<td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">CL!NSS (Parth Gupta)</td>
</tr>
<tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">M.E.T. (Komal Agrawal)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Information access in Legal domain (Madhu Agrawal & Parth Mehta)</td>
</tr>
<tr>
  

<tr><th colspan="3"><center>LUNCH</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">13:45 &ndash; 14:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Track Overviews-Continue</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">QASW (Doug Oard & Jerome White)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Shared Task on Transliterated Search (Rishiraj Saha Roy)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">FAQ retrieval using noisy queries (Danish Contractor) </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;">14:30 &ndash; 15:15</td><td style="width:5%"></td>
  <td style="vertical-align:top;"> 
    <a href="abstracts.html#Jacques">Authorship Attribution, Profile, and Style (Jacques Savoy)</a>
  </td>
</tr>
<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:30 &ndash; 17:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"> <b>Shared Task on Transliterated Search</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Parth Gupta (TU Valencia)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Spandana Gella/Jatin Sharma (Microsoft Research India)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Partha Pakray (NTNU Norway)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Hardik Joshi (Gujarat University)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Dinesh Prabhakar (ISM Dhanbad)</td>
</tr>


<tr>
  <td style="height:20px;width:20%;vertical-align:top;">17:00 &ndash; 18:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Steering Committee meeting</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;">19:00 &ndash; </td><td style="width:5%"></td>
  <td style="vertical-align:top;">Banquet</td>
</tr>


<!-- ============================================================ -->


<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center>Day 2 : 5th December, 2013</center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">10:00 &ndash; 10:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Invited talk by Nicola Ferro</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;">10:45 &ndash; 11:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Morpheme Exctraction Task</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Anubha Jain(MANIT)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Participant No. 2</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Participant No. 3</td>
</tr>


<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">11:45 &ndash; 12:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>N.E.R. for Indian Languages</b></td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Nitin Ramrakhiyani(TRDDC, Pune)</td>
</tr>
	
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Dinesh Kumar Prabhakar(ISM, Dhanbad)</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Participant No. 3</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Participant No. 4</td>
</tr>




<tr><th colspan="3"><center>LUNCH</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">13:45 &ndash; 14:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Invited talk by Jaap Kamps</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;">14:30 &ndash; 15:15</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#Paolo">PAN@FIRE&CLEF: similarity search, plagiarism detection, author identification or...profiling (Paolo Rosso)</a>
  </td>
</tr>
</tr>

<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:30 &ndash; 16:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>CL!NSS</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Amogh Param (IISc, Bangalore)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Piyush Arora (Dublin City University)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Aarti Kumar (MANIT Bhopal)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Sujoy Das</td>
</tr>


<tr>
  <td style="height:20px;width:20%;vertical-align:top;">16:45 &ndash; 17:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#Paulo">From legal texts to legal ontologies and question-answering systems (Paulo Quaresma)</a>
  </td>
</tr>
</tr>





<!-- ============================================================ -->


<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center>Day 3 : 6th December, 2013</center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">10:00 &ndash; 10:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
  <a href="abstracts.html#Kevyn"> Risk-Sensitive Information Retrieval (Kevyn Collins-Thompson) </a>
  </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">10:45 &ndash; 11:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Information access in the Legal domain</b></td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Paulo Quaresma (Universidade de Évora, Portugal)</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Kanapala Ambedkar(ISM, Dhanbad)</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Nitin Ramrakhiyani (TRDDC, Pune)</td>
</tr>



<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">11:45 &ndash; 12:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Information access in the Legal domain - continue</b></td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Participant No. 4</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">12:00&ndash; 12:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Talk by Pavan Duggal</td>
</tr>



<tr>
  <td style="height:20px;width:20%;vertical-align:top;">12:30 &ndash; 13:15</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#Moens"> Argumentation Mining (Marie-Francine Moens)</a>
  </td>
</tr>

<tr><th colspan="3"><center>LUNCH</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">14:15 &ndash; 15:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>FAQ retrieval using noisy queries</b></td>
</tr>


<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Divyesh Sanjay Kothari (ISM, Dhanbad)</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Participant No. 2</td>
</tr>


<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Participant No. 3</td>
</tr>



<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:15 &ndash; 16:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#William"> Finite population retrieval and evaluation in e-discovery (William Webber)</a>
  </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">16:00 &ndash; 16:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">  <b>Other evaluation forums</b> </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">NTCIR (Doug Oard)</td>
</tr>


<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">CLEF (Nicola Ferro)</td>
</tr>


<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">INEX (Jaap Kamps)</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">16:30 &ndash; 16:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;">  Closing note </td>
</tr>



</table>

</div>
<!--#include virtual="foot.html" -->

