<h2>Invited Speakers</h2>
<i>
<ul>
  <!-- <li> -->
  <!--   <a href="http://www.elra.info/Board-of-ELRA.html?artpage=4-4"> -->
  <!--     Khalid Choukri, ELDA, France. -->
  <!--   </a> -->
  <!-- </li> -->
  <!--li>
    <a href="http://staff.science.uva.nl/~mdr/Bio/index.html">
      Maarten de Rijke, Intelligent Systems Lab Amsterdam, Netherlands.
    </a>
  </li-->
  <!-- <li> -->
  <!--   <a href="http://ims.dei.unipd.it/websites/archive/ims2009/members/ferro/"> -->
  <!--     Nicola Ferro, University of Padova, Italy. -->
  <!--   </a> -->
  <!-- </li> -->
<!--  
 <li>
  <a href="http://www.itl.nist.gov/iad/highlights/2000/harman.html">
     Donna Harman, National Institute of Standards and Technology, USA.
    </a>
  </li>
-->


<li>
  <a href="http://terpconnect.umd.edu/~oard/">
   Doug Oard, University of Maryland, USA. 
  </a>
  </li>
<!--
  <li>
  <a href="http://www.eui.eu/DepartmentsAndCentres/Law/People/Professors/Sartor.aspx">
   Giovanni Sartor, European University Institute, Italy. 
  </a>
  </li>
-->
<!--
  <li>
  <a href="http://www.dcs.gla.ac.uk/~ounis/">
   Iadh Ounis, University of Glasgow, UK. 
  </a>
  </li>
-->


  <li>
  <a href="http://staff.science.uva.nl/~kamps/">
  Jaap Kamps, University of Amsterdam, The Netherlands.
  </a>
  </li>

  

  <li>
  <a href="http://members.unine.ch/jacques.savoy/JS.html">
    Jacques Savoy, Universite de Neuchatel, Switzerland.
    </a>
  </li>


  <li>
   <a href="http://www-personal.umich.edu/~kevynct/">
    Kevyn Collins-Thompson, University of Michigan.
    </a>
  </li>

  <li>
  <a href="http://people.cs.kuleuven.be/~sien.moens/">
    Marie-Francine Moens, Katholieke Universiteit Leuven, Belgium.
    </a>
  </li>



<li>
<a href="http://ims.dei.unipd.it/websites/archive/ims2009/members/ferro/">
Nicola Ferro, University of Padova, Italy.
</a>
</li>



  <li>
  <a href="http://www.di.uevora.pt/~pq/">
   Paulo Quaresma, Universidade de Évora, Portugal.
  </a>
  </li>
  
<li>
<a href="http://users.dsic.upv.es/~prosso/">
Paolo Rosso, Universidad Politécnica de Valencia, Spain.
</a>
</li>

  
 <li>
  <a href="http://www.williamwebber.com/">
    William Webber, William Webber Consulting, North Melbourne, Australia.
    </a>
  </li>

  <!-- <li> -->
  <!--   <a href="http://www.uta.fi/~likaja/"> -->
  <!--     Kalervo Jarvelin, University of Tampere, Finland. -->
  <!--   </a> -->
  <!-- </li> -->
  <!-- <li> -->
  <!--   <a href="http://www.slis.tsukuba.ac.jp/~hideo/"> -->
  <!--     Hideo Joho, University of Tsukuba, Japan. -->
  <!--   </a> -->
  <!-- </li> -->
  <!-- <li> -->
  <!--   <a href="http://www.computing.dcu.ie/~gjones/"> -->
  <!--     Gareth Jones, Dublin City University, Ireland. -->
  <!--   </a> -->
  <!-- </li> -->
  
  <!-- <li> -->
  <!--   <a href="http://iew3.technion.ac.il/~kurland/"> -->
  <!--     Oren Kurland, Israel Institute of Technology, Israel. -->
  <!--   </a> -->
  <!-- </li> -->
 

  <!--li>
    <a href="http://www.dcs.gla.ac.uk/~ounis/">
      Iadh Ounis, University of Glasgow, UK.
    </a>
  </li-->
  <!-- <li> -->
  <!--   <a href=""> -->
  <!--     Carol Peters, ISTI-CNR, Italy. -->
  <!--   </a> -->
  <!-- </li> -->
  <!-- <li> -->
  <!--   <a href="http://research.microsoft.com/en-us/people/robertson/"> -->
  <!--     Stephen Robertson, Microsoft Research, Cambridge, UK. -->
  <!--   </a> -->
  <!-- </li> -->
<!--     <\!--li> -->
<!--       <a href="http://kansas.ru/pb/index_en.html"> -->
<!--         Pavel Braslavski, Ural Federal University, Russia. -->
<!--       </a> -->
<!--     </li-\-> -->

<!--     <\!--li> -->
<!--       <a href="http://semanticweb.kaist.ac.kr/home/index.php/Keysun_Choi"> -->
<!--         Key-Sun Choi, KAIST, Republic of Korea  -->
<!--       </a> -->
<!--     </li-\-> -->

<!--     <li> -->
<!--     <a href="http://www.cse.iitb.ac.in/~soumen/">Soumen Chakrabarti, IIT Bombay</a> -->
<!--     </li> -->

<!--     <li> -->
<!--     <a href="http://staff.science.uva.nl/~kamps/"> -->
<!--     Jaap Kamps, University of Amsterdam, The Netherlands. -->
<!--     </a> -->
<!--     </li>  -->

<!--     <li> -->
<!--     <a href="http://terpconnect.umd.edu/~oard/"> -->
<!--     Doug Oard, University of Maryland, USA. -->
<!--     </a> -->
<!--     </li> -->

<!--     <\!-- li> -->
<!--     <a href="http://www.dcs.gla.ac.uk/~ounis/"> -->
<!--     Iadh Ounis, University of Glasgow, UK. -->
<!--     </a> -->
<!--     </li -\-> -->

 
<!--     <li> -->
<!--     <a href="http://www.dis.uniroma1.it/~santucci/"> -->
<!--     Giuseppe Santucci, Sapienza University of Rome, Italy. -->
<!--     </a> -->
<!--     </li> -->
<!--   </ul> -->
<!-- </i> -->

<!-- <h2>Industry track speakers</h2> -->
<!-- <i> -->
<!--   <ul> -->
<!--     <li> -->
<!--     <a href="http://mypage.rediff.com/ajit-balakrishnan/3539086">Ajit Balakrishnan, Rediff.</a> -->
<!--     </li> -->

<!--     <li> -->
<!--     <a href="http://www.linkedin.com/in/sreeharinagaralu"> -->
<!--     Sree Hari Nagaralu, Bing Relevance and Data Sciences, Microsoft India. -->
<!--     </a> -->
<!--     </li> -->

<!--     <li> -->
<!--     <a href="http://www.tcs-trddc.com/trddc_website/scripts/people_page.php?emp_number=1"> -->
<!--     Girish Keshav Palshikar, Tata Consultancy Services, India. -->
<!--     </a> -->
<!--     </li> -->
<!--   </ul> -->
<!-- </i> -->

</ul>
</i>

