<!--#include virtual="head.html" -->
<div class="right">

<!-- ============================================================ -->
<h2>Working Notes and Slides</h2>
<!-- ============================================================ -->
<ul>
<li>
  <font size=2><b><!-- <a href="/fire/wn/SMS/"></a> -->Overview of Forum for Information Retrieval Evaluation ( FIRE ) 2013</b><br></font>
  <font size=2><i>Prasenjit Majumder</i><br></font>
  <font size=2>DA-IICT, Gandhinagar, Gujarat<br></font>
  <font size=1><a href="/fire/wn/slides/overviewfire2013.ppt">Download slides</a><br></font>
</li>

<li>
  <font size=2><b><!-- <a href="/fire/wn/SMS/"></a> -->Keynote Speech</b><br></font>
  <font size=2><i>Douglas W. Oard</i><br></font>
  <font size=2>University of Maryland, College Park, MD USA<br></font>
  <font size=1><a href="/fire/wn/slides/fire2013keynote-oard.pptx">Download slides</a><br></font>
</li>

<!-- <li> -->
<!--   <font size=2><b><a href="/fire/wn/SMS/"></a></b><br></font> -->
<!--   <font size=2><i></i><br></font> -->
<!--   <font size=2><br></font> -->
<!--   <font size=1><a href="/fire/wn/slides/">Download slides</a><br></font> -->
<!-- </li> -->


</ul>

<!-- ============================================================ -->
<h2>Cross-Language !ndian News Story Search (CL!NSS)</h2>
<!-- ============================================================ -->

<ol>

<li>
  <font size=2><b><a href="/fire/wn/CLINSS/clinss-overview-2013.pdf">PAN@FIRE 2013: Overview of the Cross-Language !ndian News Story Search (CL!NSS) Track</a></b><br></font>
  <font size=2><i>Parth Gupta<sup>1</sup>, Paul Clough<sup>2</sup>, Paolo Rosso<sup>1</sup>, Mark Stevenson<sup>2</sup>, Rafael E. Banchs<sup>3</sup></i><br></font>
  <font size=2><sup>1</sup>NLE Lab, Universitat Politècnica de València, Spain</br>
<sup>2</sup>University of Sheffield, UK</br>
<sup>3</sup>Institute for Infocomm Research, Singapore<br></font>
  <font size=1><a href="/fire/wn/slides/clinss.pdf">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/wn/CLINSS/2013-clinss-arora-dcu.pdf">DCU at FIRE 2013: Cross-Language !ndian
News Story Search</a></b><br></font>
  <font size=2><i>Piyush Arora, Jennifer Foster, Gareth J. F. Jones</i><br></font>
  <font size=2>CNGL Centre for Global Intelligent Content
School of Computing, Dublin City University
Glasnevin, Dublin 9, Ireland<br></font>
  <font size=1><a href="/fire/wn/slides/FIRE13.pdf">Download slides</a<br></font>
  </li>
  
  <li>
  <font size=2><b><a href="/fire/wn/CLINSS/2013-clinss-das-manit2.pdf">Performance Evaluation of Dictionary Based CLIR Strategies for Cross Language News Story Search</a></b><br></font>
  <font size=2><i>Sujoy Das, Aarti Kumar</i><br></font>
  <font size=2>Department of Computer Applications, MANIT, Bhopal<br></font>
  <font size=1><a href="/fire/wn/slides/CLINSS_2013_presentation_SujoyMANIT2.pdf">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/wn/CLINSS/2013-clinss-kumar-manit1.pdf">Pre-Retrieval based Strategies for Cross Language News Story Search</a></b><br></font>
  <font size=2><i>Aarti Kumar, Sujoy Das</i><br></font>
  <font size=2>Department of Computer Applications, MANIT, Bhopal<br></font> 
  <font size=1><a href="/fire/wn/slides/CLINSS_2013_presentation_AartiMANIT1.pdf">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/wn/CLINSS/2013-clinss-Pal-Surrey.pdf">Set-based Similarity Measurement and Ranking Model to
Identify Cases of Journalistic Text Reuse.</a></b><br></font>
  <font size=2><i>Arpan Pal, Lee Gillam</i><br></font>
  <font size=2>Department of Computing University of Surrey United Kingdom<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
  </li>
  
<li>
  <font size=2><b><a href="/fire/wn/CLINSS/2013-clinss-tholpadi-iisc.pdf">Leveraging Article Titles for Cross-lingual Linking of Focal News Events</a></b><br></font>
  <font size=2><i>Goutham Tholpadi, Amogh Param</i><br></font>
  <font size=2>Computer Science and Automation, Indian Institute of Science, Bangalore, India<br></font>
  <font size=1><a href="/fire/wn/slides/FIRE_2013_Presentation.pdf">Download slides</a><br></font>
  </li>

<li>
  <font size=2><b><a href="/fire/wn/CLINSS/2013-clinss-Torrejon-Universidad_de_Huelva_Beta.pdf">Linking English and Hindi news by IDF, Reference Monotony and Extended Contextual N-grams IR Engine Worknotes for PAN @ CL!NSS 2013</a></b><br></font>
  <font size=2><i>Diego Antonio Rodríguez Torrejón, José Manuel Martín Ramos</i><br></font>
  <font size=2>Universidad de Huelva<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
  </li>
  
  
</ol>


<!-- ============================================================ -->
<h2>FAQ retrieval using Noisy Queries</h2>
<!-- ============================================================ -->

<ol>


<li>
  <font size=2><b><!--a href="/fire/wn/SMS/"></a-->FAQ Retrieval using Noisy Queries at FIRE 2013</b><br></font>
  <font size=2><i>Danish Contractor, Deepak P, L Venkata Subramaniam, Nitendra Rajput</i><br></font>
  <font size=2>IBM Research India<br></font>
  <font size=1><a href="/fire/wn/slides/FIRE_FAQ_TASK_2013_Presentation.ppt">Download slides</a><br></font>
</li>


<li>
  <font size=2><b><a href="/fire/wn/SMS/2013-faq_retrieval_noisy_queries-mhaisale-dtu_tcs.pdf">FAQ Retrieval using Noisy Queries : English Monolingual Sub-task</a></b><br></font>
  <font size=2><i>Shahbaaz Mhaisale<sup>1</sup>, Sangameshwar Patil<sup>2</sup>, Kiran Mahamuni<sup>2</sup>, Kiranjot Dhillon<sup>3</sup>, Karan Parashar<sup>3</sup></i><br></font>
  <font size=2><sup>1</sup>Delhi Technological University, Delhi, India</br>
<sup>2</sup>Tata Consultancy Services, Pune, India</br>
<sup>3</sup>Bharati Vidyapeeth College of Engineering, Pune, India<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
  </li>

<li>
  <font size=2><b><a href="/fire/wn/SMS/2013-SMSBasedFAQRetrieval-Anwar-DTU.pdf">Working Note – FIRE 2013
Improving Accuracy of SMS based FAQ retrieval</a></b><br></font>
  <font size=2><i>Anwar Shaikh<sup>1</sup>, Rajiv Ratn Shah<sup>2</sup>, Rahis Shaikh<sup>3</sup></i><br></font>
  <font size=2><sup>1</sup>Delhi Technological University, Delhi</br>
<sup>2</sup>National University of Singapore, Singapore</br>
<sup>3</sup>Vellore Institute of Technology, Vellore<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
  </li>

<li>
  <font size=2><b><a href="/fire/wn/SMS/2013-SMS_based_FAQ_retrieval-Divyesh_Sanjay_Kothari-ISM_Dhanbad.pdf">Working Note – FIRE 2013
FAQ retrieval using noisy queries</a></b><br></font>
  <font size=2><i>Divyesh Sanjay Kothari, Abhinav Saraswat, Anjaney Pandey, Sarang Kapoor, Sukomal Pal</i><br></font>
  <font size=2>ISM DHANBAD<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
  </li>

<li>
  <font size=2><b><a href="/fire/wn/SMS/2013-sms-joshi-ismjmp.pdf">ISM at FIRE 2013 FAQ Retrieval</a></b><br></font>
  <font size=2><i>Vikas Kumar Joshi, Ramprasad Meena</i><br></font>
  <font size=2>Indian School of Mines, Dhanbad<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
  </li>

<li>
  <font size=2><b><a href="/fire/wn/SMS/2013-sms-porwal-ismpjp.pdf">Noisy FAQ Retrieval Using Longest Common Subsequence Problem</a></b><br></font>
  <font size=2><i>Pooja Porwal, Aman Jain</i><br></font>
  <font size=2>Indian School of Mines, Dhanbad<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
  </li>

<li>
  <font size=2><b><a href="/fire/wn/SMS/FIRE_2013_Working_Notes.pdf">Retrieval of FAQs based on SMS-input through phonetic equivalence</a></b><br></font>
  <font size=2><i>Akhil Lohchab, Amanpreet Singh, Ashish Mahajan, Ritu Agarwal</i><br></font>
  <font size=2>Delhi Technological University<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
  </li>

<li>
  <font size=2><b><a href="/fire/wn/SMS/SMS_2013_F.pdf">SMS based FAQ Retrieval using Theme Matching Scheme</a></b><br></font>
  <font size=2><i>Deba P. Mandal and Saptaditya Maiti</i><br></font>
  <font size=2>Machine Intelligence Unit, Indian Statistical Institute, Kolkata, India<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
  </li>

<!-- <li> -->
<!--   <font size=2><b><a href="/fire/wn/SMS/"></a></b><br></font> -->
<!--   <font size=2><i></i><br></font> -->
<!--   <font size=2><br></font> -->
<!--   <font size=1><a href="/fire/wn/slides/">Download slides</a>Download slides<br></font> -->
<!-- </li> -->


</ol>


<!-- ============================================================ -->
<h2>Information access in the legal domain</h2>
<!-- ============================================================ -->

<ol>
<li>
  <font size=2><b><a href="/fire/wn/LEAGAL/overview.pdf">Overview of Information Access in Legal Domain FIRE 2013</a></b><br></font>
  <font size=2><i>Madhulika Agrawal<sup>1</sup>, Parth Mehta<sup>1</sup>, Kripabandhu Ghosh<sup>2</sup></i><br></font>
  <font size=2><sup>1</sup>DA-IICT, Gandhinagar - 382007, Gujarat, India.<br>
<sup>2</sup>CVPR Unit, Indian Statistical Institute, Kolkata, India</br></font>
  <font size=1><a href="/fire/wn/slides/PPT.pdf">Download slides</a><br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/LEAGAL/2013-FIRE_Legal-Ramrakhiyani-TRDDC.pdf">TRDDC @ FIRE 2013: System for Classification of Legal Propositions Report for Legal Track at FIRE 2013</a></b><br></font>
  <font size=2><i>Nitin Ramrakhiyani and Sachin Pawar</i><br></font>
  <font size=2>Tata Research Development and Design Centre (TRDDC), Tata Consultancy Services Ltd., Pune<br></font>
  <font size=1><a href="/fire/wn/slides/2013-Legal-Ramrakhiyani-PPT.pdf">Download slides</a><br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/LEAGAL/Fire2013_WorkingNote_UEVORA_TEAM.pdf">Information Retrieval Based on Extraction of Domain Specific Significant Keywords and Other Relevant Phrases from a Conceptual Semantic Network Structure</a></b><br></font>
  <font size=2><i>Mohammad Moinul Hoque, Prakash Poudyal, Teresa Goncalves, Paulo Quaresma</i><br></font>
  <font size=2>University of Evora, Portugal<br></font>
  <font size=1><a href="/fire/wn/slides/FireWorkingNote_Presentation.pdf">Download slides</a><br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/LEAGAL/ISM-legal-fire-2013.pdf">ISM@FIRE-2013 Information Access in The Legal Domain Task</a></b><br></font>
  <font size=2><i>Ambedkar Kanapala, Sukomal Pal</i><br></font>
  <font size=2>Dept. of CSE, Indian School of Mines, Dhanbad, India.<br></font>
  <font size=1><a href="/fire/wn/slides/Legal_Fire_2013.pdf">Download slides</a><br></font>
</li>
  
</ol>
      

<!-- ============================================================ -->
<h2>Morpheme Extraction Task (MET)</h2>
<!-- ============================================================ -->

<ol>

<li>
  <font size=2><b><a href="/fire/wn/MET/MET2013_workingnotes.pdf">Morpheme Extraction Task at FIRE 2013</a></b><br></font>
  <font size=2><i>Rashmi Sankepally<sup>1</sup>, Komal Agarwal<sup>2</sup>, Prasenjit Majumder<sup>2</sup></i><br></font>
  <font size=2>
  <sup>1</sup>University of Maryland, MD, USA<br></font>
  <sup>2</sup>DA-IICT, Gandhinagar, Gujarat</br>
  <font size=1><a href="/fire/wn/slides/MET2013Presentation.pdf">Download slides</a><br></font>
</li>


<li>
  <font size=2><b><a href="/fire/wn/MET/2013METAnubhaMANIT.pdf">Hindi Stemmer @FIRE-2013</a></b><br></font>
  <font size=2><i>Anubha Jain, Sujoy Das</i><br></font>
  <font size=2>Department of Computer Applications, MANIT, Bhopal<br></font>
  <font size=1><a href="/fire/wn/slides/MET_PPT.pptx">Download slides</a><br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/MET/2013-met-pal-ismdhanbad.pdf">ISM@FIRE-2013 Morpheme Extraction Task</a></b><br></font>
  <font size=2><i>Amit Jain, Nitish Gupta, Sukomal Pal</i><br></font>
  <font size=2>Dept. of CSE, Indian School of Mines, Dhanbad, India.<br></font>
  <font size=1><a href="/fire/wn/slidesISM@Morphene_Extraction_Task-2013.pptx/">Download slides</a><br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/MET/FIRE2013_MET_AUKBC.pdf">Morpheme Extraction in Tamil using Finite State Machines (FIRE-2013 - Morpheme Extraction Task)</a></b><br></font>
  <font size=2><i>Sobha Lalitha Devi, Marimuthu K, Vijay Sundar Ram R, Bakiyavathi T, Amudha K</i><br></font>
  <font size=2>AU-KBC Research Centre, MIT Campus of Anna University, Chromepet, Chennai, India<br></font>
  <font size=1><a href="/fire/wn/slides/FIRE2013-MET-TamilMorph-Presentation.pdf">Download slides</a><br></font>
</li>


  
</ol>


<!-- ============================================================ -->
<h2>NER - Named-Entity Recognition Indian Languages </h2>
<!-- ============================================================ -->

<ol>

<li>
  <font size=2><b><!-- <a href="/fire/wn/NER/"></a> -->NERIL: Named Entity Recognition for Indian Languages @ FIRE 2013</b><br></font>
  <font size=2><i>Pattabhi, R.K Rao, Sobha, Lalitha Devi</i><br></font>
  <font size=2>Computational Linguistics Research Group, AU-KBC Research Centre, Chennai, India<br></font>
  <font size=1><a href="/fire/wn/slides/NER-Overview-ppt-final.pdf">Download slides</a><br></font>
</li>


<li>
  <font size=2><b><a href="/fire/wn/NER/2013-NER-Senapati_Garain-ISI_Kolkata.pdf">Named-Entity Recognition in Bengali @FIRE NER 2013</a></b><br></font>
  <font size=2><i>Apurbalal Senapati, Arjun Das, Utpal Garain</i><br></font>
  <font size=2>CVPR Unit, Indian Statistical Institute<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/NER/2013-NER-Lokesh-MNIT.pdf">MNIT-FIRE-NER-HINDI Report for NER Track at FIRE 2013</a></b><br></font>
  <font size=2><i>Lokesh Kumar Sharma, Dr. Namita Mittal</i><br></font>
  <font size=2>MNIT Jaipur<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/NER/2013-NER-Prabhakar-ISMDHANBAD.pdf">ISM@FIRE -2013 Named-Entity Recognition (NER) Indian Languages Task</a></b><br></font>
  <font size=2><i>Dinesh Kumar Prabhakar, Gopashree Panda, Sukomal Pal</i><br></font>
  <font size=2>Department of Computer Science and Engineering, Indian School of Mines, Dhanbad, Jharkhand, India<br></font>
  <font size=1><a href="/fire/wn/slides/dinesh-trans-fire_pdf.pdf">Download slides</a><br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/NER/2013-NER-Rahul-IITB.pdf">Hindi Named Entity Recognizer for NER task of FIRE 2013 </a></b><br></font>
  <font size=2><i>Rahul Sharnagat, Pushpak Bhattacharyya</i><br></font>
  <font size=2>IIT Bombay, Mumbai, India<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/NER/2013-NER-Ramrakhiyani-TRDDC.pdf">TRDDC @ FIRE 2013: System for NER in Indian Languages Report for NER Track at FIRE 2013</a></b><br></font>
  <font size=2><i>Nitin Ramrakhiyani, Sachin Pawar</i><br></font>
  <font size=2>Tata Research Development and Design Centre, Tata Consultancy Services Ltd., Pune<br></font>
  <font size=1><a href="/fire/wn/slides/2013-NER-Ramrakhiyani-PPT.pdf">Download slides</a><br></font>
</li>


</ol>


<!-- ============================================================ -->
<h2>Question Answering for the Spoken Web (QASW)</h2>
<!-- ============================================================ -->

<ol>

<li>
  <font size=2><b><a href="/fire/wn/QASW/2013-qasw-oard-umd.pdf">The FIRE 2013
Question Answering for the Spoken Web Task</a></b><br></font>
  <font size=2><i>Douglas W. Oard<sup>1</sup>, Jerome White<sup>2</sup>, Jiaul Paik<sup>1</sup>, Rashmi Sankepally<sup>1</sup>, Aren Jansen<sup>3</sup></i><br></font>
  <font size=2><sup>1</sup>University of Maryland, College Park, MD USA</br>
<sup>2</sup>IBM India Research Lab, Bangalore, India</br>
<sup>3</sup>Johns Hopkins HLTCOE, Baltimore, MD USA<br></font>
  <font size=1><a href="/fire/wn/slides/qasw-fire.pptx">Download slides</a><br></font>
</li>

<!-- <li> -->
<!--   <font size=2><b><a href="/fire/wn/QASW/"></a></b><br></font> -->
<!--   <font size=2><i></i><br></font> -->
<!--   <font size=2><br></font> -->
<!--   <font size=1><a href="/fire/wn/slides/">Download slides</a><br></font> -->
<!-- </li> -->

<!-- <li> -->
<!--   <font size=2><b><a href="/fire/wn/QASW/"></a></b><br></font> -->
<!--   <font size=2><i></i><br></font> -->
<!--   <font size=2><br></font> -->
<!--   <font size=1><a href="/fire/wn/QASW/">Download slides</a><br></font> -->
<!-- </li> -->

<!-- <li> -->
<!--   <font size=2><b><a href="/fire/wn/QASW/"></a></b><br></font> -->
<!--   <font size=2><i></i><br></font> -->
<!--   <font size=2><br></font> -->
<!--   <font size=1><a href="/fire/wn/slides/">Download slides</a><br></font> -->
<!-- </li> -->

  
</ol>


<!-- ============================================================ -->
<h2>Shared Task on Transliterated Search</h2>
<!-- ============================================================ -->

<ol>

<li>
  <font size=2><b><a href="/fire/wn/STTS/2013-translit_search-track_overview.pdf">Overview and Datasets of FIRE 2013 Track on Transliterated Search</a></b><br></font>
  <font size=2><i>Rishiraj Saha Roy<sup>1</sup>, Monojit Choudhury<sup>2</sup>, Prasenjit Majumder<sup>3</sup>, Komal Agarwal<sup>3</sup></i><br></font>
  <font size=2><sup>1</sup>Indian Institute of Technology Kharagpur, Kharagpur - 721302, West Bengal, India.</br>
<sup>2</sup>Microsoft Research India, Bangalore - 560001, Karnataka, India.</br>
<sup>3</sup>DA-IICT, Gandhinagar - 382007, Gujarat, India.<br></font>
  <font size=1><a href="/fire/wn/slides/fire13_translit_search_overview.pdf">Download slides</a><br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/STTS/2013_translit_search-gella-msri.pdf">Query word labeling and Back Transliteration for Indian Languages: Shared task system description</a></b><br></font>
  <font size=2><i>Spandana Gella, Jatin Sharma, Kalika Bali</i><br></font>
  <font size=2>Microsoft Research India<br></font>
  <font size=1><a href="/fire/wn/slides/spandana_fire_transliterated.pdf">Download slides</a><br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/STTS/2013-translit_search-gupta-tu_valencia.pdf">Encoding transliteration variation through dimensionality reduction: FIRE Shared Task on Transliterated Search</a></b><br></font>
  <font size=2><i>Parth Gupta<sup>1</sup>, Paolo Rosso<sup>1</sup>, and Rafael E. Banchs<sup>2</sup></i><br></font>
  <font size=2><sup>1</sup>Natural Language Engineering Lab,Department of Information Systems and Computation, Universitat Polit`ecnica de Val`encia, Spain<br/>
<sup>2</sup>Institute for Infocomm Research, Singapore<br></font>
  <font size=1><a href="/fire/wn/slides/translit-search-main.pdf">Download slides</a><br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/STTS/2013-translit_search-joshi-guj_univ.pdf">Transliterated Search using Syllabification Approach</a></b><br></font>
  <font size=2><i>Hardik Joshi<sup>2</sup>, Apurva Bhatt<sup>2</sup>, Honey Patel<sup>2</sup></i><br></font>
  <font size=2><sup>1</sup>Department of Computer Science, Gujarat University, Ahmedabad, India.<br/>
<sup>2</sup>L.J. College of Engineering, Ahmedabad, India<br></font>
  <font size=1><a href="/fire/wn/slides/Presentation1.pptx">Download slides</a><br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/STTS/2013-translit_search-pakray-ntnu-norway.pdf">Transliterated Search System for Indian Languages</a></b><br></font>
  <font size=2><i>Partha Pakray<sup>1</sup>, Pinaki Bhaskar<sup>2</sup></i><br></font>
  <font size=2><sup>1</sup>Computer & Information Science, Sem Sælandsvei 7-9, NO-7491, Trondheim, Norway</br>
<sup>2</sup>Computer Science & Engineering, Jadavpur University, Kolkata, India<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
</li>

<li>
  <font size=2><b><a href="/fire/wn/STTS/2013-translit_search-prabhakar-ism_dhanbad.pdf">ISM@FIRE­2013 shared task on Transliterated Search</a></b><br></font>
  <font size=2><i>Dinesh Kumar Prabhakar, Sukomal Pal</i><br></font>
  <font size=2>Indian School of Mines, Dhanbad, Jharkhand, India<br></font>
  <font size=1><!--a href="/fire/wn/slides/">Download slides</a-->Download slides<br></font>
</li>

  
</ol>

</div>
<!--#include virtual="foot.html" -->
