<!--#include virtual="./head.txt" -->
<!--**********************************************************-->

      <h2>Home</h2>
<!--**********************************************************-->
<!--starts content of the page-->


      <div id="welcome">
        <!--img src="images/fire.jpg" width="171" height="137" alt="Pic 1" class="left" /-->
	<font size=3>
	<table><tr><td height=55 width=35></td><td></td></tr>

          <tr><td></td><td><li><a href="/fire/2008/dates.html">Important Dates</a></li></td></tr>
          <tr><td></td><td><li><a href="/fire/2008/schedule.html">Workshop Slides</a></li></td></tr>
          <!--li><a href="/fire/notebook-papers.txt">Paper Submission<img src="./images/new.gif" hei
ght=25></a></li-->
         <tr><td></td><td> <li><a href="/fire/2008/working_notes.html">Working Notes</a></li></td></tr>
          <!--li><a href="/fire/people.html">Crew</a></li>
          <li><a href="/fire/resources.html">Resources</a></li>
          <li><a href="/fire/publication.html">Publications & Talks</a></li-->
          <!--li><a href="/fire/talk.html">Talks</a></li>
          <li><a href="/fire/">Proceedings</a></li-->
         <tr><td></td><td> <li><a href="/fire/2008/registration.html">Workshop registration</a></li></td></tr>
          <!--li><a href="/fire/">Sponsorship</a></li-->
         <tr><td></td><td> <li><a href="/fire/2008/venue.html">Venue</a></li></td></tr>
         <tr><td></td><td> <li><a href="/fire/2008/kolkata.html">About Kolkata</a></li></td></tr>
         <tr><td></td><td> <li><a href="/fire/2008/photo.html">Photographs</a></li></td></tr>
         <tr><td></td><td> <li><a href="/fire/2008/contact.html">Contact us</a></li></td></tr>
       </table> 
	</font>


<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
</body>
</html>
