<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->

      <h2>Contacts:</h2>
      <div id="welcome">
        <!--img src="images/fire.jpg" width="171" height="137" alt="Pic 1" class="left" /-->
<table border="0" cellpadding="1" cellspacing="1">
 <tbody><tr>
<center>
Prasenjit Majumder, Mandar Mitra<br/>
Information Retrieval Lab<br/>
CVPR Unit<br/>
Indian Statistical Institute<br/>
Kolkata - 700108<br/>
Phone: +91-33-25752858<br/>
Email: clia at isical dot ac dot in<br/>
</center>
</tr>
</tbody></table>

<!--#include virtual="./foot.txt" -->
<!--#include virtual="./end.txt" -->

