<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->

      <h2>Important Dates</h2>
<!--**********************************************************-->
<!--starts content of the page-->


      <div id="welcome">
        <!--img src="images/fire.jpg" width="171" height="137" alt="Pic 1" class="left" /-->
<TABLE BORDER=0>
      <!--TR><TD HEIGHT=50 WIDTH=300><b>Topic Creation Starts</b></TD><TD WIDTH=125><b>(Aug 15 2007)</b></TD></TR>
  <TR><TD HEIGHT=50 WIDTH=300><b>Topic Creation Ends</b></TD><TD><b>(Sept 30 2007)</b></TD></TR-->
      <TR><TD HEIGHT=50 WIDTH=300><b>Training Data Release</b></TD><TD><b><!--(May 31 2008)-->(From June 16 2008)</b></TD></TR>
      <TR><TD HEIGHT=50 WIDTH=300><b>Test Data Release </TD><TD><b><!--(July 1 2008)-->(August 15 2008)</b></TD></TR>
      <TR><TD HEIGHT=50 WIDTH=300><b>Ad-hoc Monolingual Run Submission</b></TD><TD><b>(Sept 25 2008)</b></TD></TR>
      <TR><TD HEIGHT=50 WIDTH=300><b>Ad-hoc Cross-lingual Run Submission</b></TD><TD><b>(Sept 25 2008) </TD></TR>
      <TR><TD HEIGHT=50 WIDTH=300><b>Relevance judgements Release</b></TD><TD><b>(December 1 2008)</b></TD></TR>
      <TR><TD HEIGHT=50 WIDTH=300><B>FIRE Workshop </B></TD><TD><B>(12-14th December 2008)</B></TD></TR>
</TABLE>
       


<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
