<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->
      <h2>Call for Participation</h2>
<!--**********************************************************-->
<!--starts content of the page-->


      <div id="welcome">
        <table><tbody>
	<tr><td>
	<p> The lingual diversity of the Indian sub-continent is similar to that found in Europe. Geographically, the Indian subcontinent consists of six countries, namely Pakistan, Bangladesh, Nepal, Sri Lanka, Bhutan and India. The total population in this part of the world is about 1,300 million and about 25 official languages are used by this population. Among the major languages of this region, Hindi and Bengali rank among the top ten most-spoken languages of the world. Over the past few years (2000--2007), a large volume of Indian language (IL) electronic documents has come into existence at a growth rate of 700.0%. The need for developing IR systems to deal with this growing repository is unquestionable.</p>
<p>The importance of reusable, large-scale standard test collections in Information Access research has been widely recognized. The success of TREC, CLEF, and NTCIR has clearly established the importance of an evaluation workshop that facilitates research by providing the data and a common forum for comparing models and techniques.
The Forum for Information Retrieval Evaluation (FIRE) has the following aims:</p>
<ul>

<li> to encourage research in Indian language Information Access technologies by providing reusable large-scale test collections for ILIR experiments </li>
<li> to provide a common evaluation infrastructure for comparing the performance of different IR system </li>
<li> to investigate evaluation methods for Information Access techniques and methods for constructing a reusable large-scale data set for ILIR experiments. </li>
</ul>
	</td></tr>

        <tr><td height="8"></td></tr>
        <tr><td>
          <h4> </h4>
          <h2>The Tasks</h2>
          <ol>
            <li> Ad-hoc monolingual document retrieval in Indian
            languages viz. Hindi, Bangla, Marathi, Tamil, Telugu,
            Punjabi and Malayalam.</li> 
            <li>Ad-hoc cross-lingual document retrieval
             <ol type="a">
               <li> from Hindi, Bangla, Marathi, Tamil, Telugu, Punjabi, Malayalam to
               English and Hindi;</li>
               <li>from English to any of the  Indian languages <br>
               (Hindi, Bangla, Marathi, Tamil, Telugu, Punjabi, Malayalam).</li>
             </ol>
            </li>
          </ol>
        </td></tr>


	<tr><td height="8"></td></tr>
        <tr><td>
        <h4> </h4>
        <h2>Task Co-ordinators(mono- and cross-lingual)</h2>
	<table><tbody>
	<tr><td>Hindi: Pushpak Bhattacharyya (pb@cse.iitb.ac.in) </td></tr>
	<tr><td>Bangla: Mandar Mitra (mandar@isical.ac.in)</td></tr>
	<tr><td>Marathi: Om Damani (damani@cse.iitb.ac.in) </td></tr>
	<tr><td>Tamil: L. Sobha (sobha@au-kbc.org) </td></tr>
	<tr><td>Telugu: Vasudeva Varma (vv@iiit.ac.in) </td></tr>
	<tr><td>Punjabi: Karunesh Arora (karunesharora@cdacnoida.in) </td></tr>
	<tr><td>Malayalam: Rajendran Sankaravelayuthan(raj_ushush@yahoo.com) </td></tr>
	</tbody></table>
	</td></tr>

	<tr><td height="8"></td></tr>
        <tr><td>
        <h4> </h4>
        <h2>Overall co-ordinators</h2>
	 <table><tbody>
	<tr><td>Mandar Mitra (mandar@isical.ac.in) </td></tr>
	<tr><td>Prasenjit Majumder (prasenjit_t@isical.ac.in) </td></tr>
	<tr><td>Indian Statistical Institute, Kolkata </td></tr>
	</tbody></table>
        </td></tr>
	</tbody></table>



<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
