<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->
      <h2>About Kolkata</h2>
<!--**********************************************************-->
<!--starts content of the page-->


      <div id="welcome">
<table>
<tr><td><a href="http://howrahbridgekolkata.nic.in/"><img src="images/howrah-bridge.jpg" border="0" width="460" height="270"></a></td></tr>
<tr><td align=center><a href="http://howrahbridgekolkata.nic.in/">Rabindra Setu (Howrah Bridge)</a></td></tr>
</table>
<p>Currency exchange <a href="http://www.x-rates.com/calculator.html">rates </a>and<a href="http://www.eztrip.com/dg_viewLocation_formId-100892.html">offices in kolkata.</a> <a href="http://www.calcuttahotel.net/transports-in-calcutta.htm">Taxi fares</a>,<a href="http://www.wbtourism.com/kolkata/consulates.htm">Foreign Consulates</a><br><a href="http://www.hindustanlink.com/kolkata-helpline.htm">Emergency Phone Numbers</a> in kolkata.</p>
 
<h3> <font color="#000000"><a href="http://www.kolkatamycity.com/"> Kolkata</a>, <a href="http://en.wikipedia.org/wiki/City_of_Joy"> the City of Joy:</a> </h3>

<p> Kolkata, earlier known as Calcutta, is one of the major cities of India and the gateway to eastern India.</p>
<p>A city highly esteemed as cultural capital of India with its long tradition of passion and appreciation for art & culture, carefully preserves its colonial heritage & values with one hand while nourishes modernity to embrace the future on the other.</p>

<p> A city characterized with mesmerizing opposites and paradoxes is either loved or hated but never fails to captivate tourists' mind. A city where past, present and future peacefully co-exist with all their enigmatic contrasts and contradictions.</p>

<p> We suggest, your journey to the city should begin with its history[ <a href="http://en.wikipedia.org/wiki/Kolkata">1</a>, <a href="http://www.calcuttaweb.com/history.shtml">2</a>, <a href="http://www.kolkatahub.com/travel-in-kolkata/history-of-kolkata.html">3</a>] and then a little bit of its <a href="http://en.wikipedia.org/wiki/Kolkata#Geography">geography</a>, general <a href="http://www.isical.ac.in/campus.html#Climate">climate</a> and daily-weather[<a href="http://education.vsnl.com/calweather/calidx.htm">detailed meteorological </a>, <a href="http://printer.wunderground.com/auto/printer/global/stations/42809.html">quick forecast</a>] holding a <a href="http://www.isical.ac.in/calcuttamap.html">map</a> in your hand.</p>  

<p> If interested, delve deep into its citizens and their today's <a href="http://www.calcuttaweb.com">art & culture</a>, wander through its roads dotted with lots of <b>landmarks</b>[<a href="http://www.t2westbengal.com/calcutta-heritage.php">1</a>, <a href="http://www.nongnu.org/gug-nixal/kolkata.html">2</a> ] and have <a href="http://www.kolkata-india.com/">frolic and fun</a> all over it. If you love gold-old days then <a href="http://userpages.umbc.edu/~achatt1/Calcutta/museum.html">museums</a>, especially <b>Indian Museum </b>[<a href="http://www.indianmuseumkolkata.org">official site</a>, <a href="http://userpages.umbc.edu/~achatt1/Calcutta/indmus.html">an alternate good guide</a>] and <a href="http://www.nlindia.org">national library</a> are certainly your place of musings.</p>

<p> We provide your city-travel-companion in the form of local road-transport[<a href="http://www.calcuttayellowpages.com/busroute.html">bus</a>, <a href="http://www.isical.ac.in/campus.html#Taxi">taxi</a>] <a href="http://www.easternrailway.gov.in">surface railway</a>, underground <a href="http://www.kolmetro.com"> metro railway</a> and nevertheless, what we really feel comfortable with, a <a href="http://www.calcuttatelephones.com/directory.shtml">telephone-directory.</a></p>

<p>You can reach the city and go out of it <a href="http://www.calcuttaairport.com/">by air</a> or by <b>railways</b>[<a href="http://www.indianrail.gov.in">1</a>, <a href="http://www.irctc.co.in">2</a>, <a href="http://www.indianrailways.gov.in">3</a>] and travel within <a href="http://www.wbtourism.com/">West Bengal</a> and <b>India</b> [<a href="http://www.india-tour.com/">1</a>, <a href="http://www.incredibleindia.org/">2</a>, <a href="http://www.indiatourism.com/">3</a>].</p>

<p>We still believe this information is not exhaustive and comprehensive, a host of lively sites is just a click-away to learn <a href="http://www.calcuttaweb.com/sites.shtml">more about Kolkata and Bengal.</a>
</p>


        


<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->

