<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->

      <h2>Photographs</h2>
<!--**********************************************************-->
<!--starts content of the page-->


<div id="welcome">
      <table border=0>
        <tbody>
        <tr><td><a href="http://picasaweb.google.co.in/fire.workshop2008/FIREPics?feat=directlink"><img src="images/firegroupshot.jpg" border="0" width="375" height="275"></a>
</td></tr>
		<tr><td width="375" height="30" align="center"><b><a href="http://picasaweb.google.co.in/fire.workshop2008/FIREPics?feat=directlink">FIRE Workshop 2008 Album (Click Here)</a></b></td></tr>
        </tbody>
        </table>


      <table border=0>
	<tbody>
	<tr><td><img src="images/noriko1.jpg" border="0" width="375" height="275"></td></tr>
        <tr><td><b>From left to right:</b><i> Sukanya Mitra, Aparajita Sen, Dipasree Pal,<br>Ayan Bandyopadhyay, Mandar Mitra, Samaresh Maiti, Noriko Kando,<br>Prasenjit Majumder, Sukomal Pal.</i></td></tr>
	</tbody>
	</table> 

      <table border=0>
        <tbody>
        <tr><td><img src="images/lounge.jpg" border="0" width="375" height="275"></td></tr>
        <tr><td><b>From left to right:</b><i> Utpal Garain, Prasenjit Majumder, Stephen Robertson,<br>Norbert Fuhr, Michael J. Kurtz<br>IWRIDL-2006, Kolkata</i></td></tr>
        </tbody>
        </table>


<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
