<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->

      <h2>Invited Speakers</h2>

      <div id="welcome">
        <!--img src="images/fire.jpg" width="171" height="137" alt="Pic 1" class="left" /-->
<!--font color="#557766" size="2"><b><u>International Advisory Committee:</u></b></font><p></p><p></p><p></p-->
<table><tbody> 
		<tr><td></td><td height=25><font color="#557766" size="2"><b><u></u></b></font></td></tr> 
		<tr><td></td><td height=50><font color="#557766" size="2"><b><u>Invited Speakers:</u></b></font></td></tr>

	       <tr><td></td><td height=30><a href="http://www.xrce.xerox.com/people/cancedda/home.html"><font color="#555666" size="2"><b><i>Nicola Cancedda</a></font><font color="#555666" size="1">, Xerox Research Centre Europe, France.</i></b></font></a></td><td><a href="ppt/Nicola_Cancedda.ppt">PPT</a></td></tr>
		<tr><td></td><td height=30><a href="http://www.itl.nist.gov/iad/highlights/2000/harman.html"><font color="#555666" size="2"><b><i>Donna Harman</a></font><font color="#555666" size="1">, National Institute of Standards and Technology, USA.</i></b></font></a></td><td><a href="ppt/fire.2008.ppt">PPT</a></td></tr>

<tr><td></td><td height=30><a href="http://www.uta.fi/~likaja/"><font color="#555666" size="2"><b><i>Kalervo JARVELIN</a></font><font color="#555666" size="1">, University of Tampere, Finland.</i></b></font></a></td><td><a href="ppt/Kal_FIRE_08-s.ppt">PPT</a></td></tr>
<!--tr><td></td><td height=30><a href="http://www.computing.dcu.ie/~gjones/"><font color="#555666" size="2"><b><i>Gareth Jones</a></font><font color="#555666" size="1">, Dublin City University, Ireland.</b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.ling.upenn.edu/~myl/"><font color="#555666" size="2"><b><i>Mark Liberman</a></font><font color="#555666" size="1">, Linguistic Data Consortium, University of Pennsylvania.</i></b></font></a></td></tr!-->
		<tr><td></td><td height=30><a href="http://www.glue.umd.edu/~oard/"><font color="#555666" size="2"><b><i>Doug Oard</a></font><font color="#555666" size="1">, University of Maryland, USA.</i></b></font></a></td><td><a href="ppt/fire-oard.ppt">PPT</a></td></tr>
<!--tr><td></td><td height=30><a href="http://www.dcs.gla.ac.uk/~ounis/"><font color="#555666" size="2"><b><i>Iadh Ounis</a></font><font color="#555666" size="1">, University of Glasgow, UK.</i></b></font></a></td></tr-->
		<tr><td></td><td height=30><a href="http://www.iei.pi.cnr.it/Personal/carol.html"><font color="#555666" size="2"><b><i>Carol Peters</a></font><font color="#555666" size="1">, Istituto di Elaborazione della Informazione, Italy.</i></b></font></a></td><td><a href="ppt/Carol_Peters.ppt">PPT</a></td></tr> 
	<!--	<tr><td></td><td height=30><a href="http://theory.stanford.edu/~pragh/"><font color="#555666" size="2"><b><i>Prabhakar Raghavan</a></font><font color="#555666" size="1">, Yahoo! Research.</i></b></font></a></td></tr> -->
		<tr><td></td><td height=30><a href="http://www010.upp.so-net.ne.jp/tetsuyasakai/researcher.html"><font color="#555666" size="2"><b><i>Tetsuya Sakai</a></font><font color="#555666" size="1">, NewsWatch Inc., Japan.</i></b></font></a></td><td><!--a href="http://research.nii.ac.jp/ntcir/bib/FIRE08sakai-exploratory.mpg">Video-I</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://research.nii.ac.jp/ntcir/bib/FIRE08sakai-ntcir.mpg">  Video-II</a--></td></tr>
		<tr><td></td><td height=30><a href="http://dis.shef.ac.uk/mark/"><font color="#555666" size="2"><b><i>Mark Sanderson</a></font><font color="#555666" size="1">, University of Sheffield, UK.</i></b></font></a></td><td><a href="ppt/Mark_Sanderson.ppt">PPT</a></td></tr> 
		<!--tr><td></td><td height=30><a href="http://singhal.info/"><font color="#555666" size="2"><b><i>Amit Singhal</a></font><font color="#555666" size="1">, Google Inc., USA.</i></b></font></a></td></tr-->
</tbody></table>

<!--#include virtual="./foot.txt" -->
<!--#include virtual="./end.txt" -->
