<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->

      <h2>Call for Papers:</h2>
<!--**********************************************************-->
<!--starts content of the page-->


      <div id="welcome">
<br>
<br>
<font size=1><center><b>Special Issue of the</b></center></font>
<br>
<font size=1><center><b>ACM Transactions on Asian Language Information Processing (TALIP)</b><br></center></font>
<font size=1><center> <http://www.acm.org/pubs/talip></center></font>
<br>
<font size=1><center>on</center></font>
<br>
<font size=1><center><b>Information Retrieval for Indian Languages</b></center></font>
<br>
<br>
<b>BACKGROUND:</b><br>
<br> 
The amount of information available in Indian languages in electronic format has grown dramatically over the last few years. This has spurred a significant amount of research activity on Indian language Information Retrieval and allied problems. For the recently held FIRE Workshop (/fire), Cranfield-style text collections in Indian languages were used by participants to evaluate their systems on monolingual and cross-lingual IR tasks. The availability of the FIRE data has made it possible to conduct IR experiments on Indian languages on a larger scale than was hitherto possible. This is thus a good time to take stock of the lessons learned, as well as to identify interesting problems and issues that can be fruitfully investigated in the future.<br> 
<br> 
For this special issue, we are soliciting original publications on topics related to Indian language IR such as<br> 
<br> 
* Information retrieval (monolingual and cross-lingual)<br> 
* Linguistic resources (corpora, electronic dictionaries, treebanks, etc.)<br> 
* Morphological analysis and generation<br> 
* Named entity recognition<br> 
* Information extraction<br> 
* Question answering<br> 
* Text clustering and classification<br> 
* Text summarization<br> 
<br> 
Submissions are encouraged to make use of the FIRE benchmark (or similar) data, but submissions related to all aspects of information retrieval for Indian languages are welcome.<br> 
<br> 
<b>IMPORTANT DATES:</b><br> 
<br> 
Submission deadline: 1 September 2009<br> 
First notification: 31 October 2009<br> 
Revisions due: 31 January 2010<br> 
Notification of acceptance: 1 March 2010<br> 
Final manuscript due: 1 April 2010<br> 
Publication date: September 2010 issue of TALIP<br> 
<br> 
<b>SUBMISSION:</b><br> 
<br> 
Papers should be formatted following the style guidelines for the ACM Transactions on Asian Language Information Processing (http://talip.acm.org). Please submit papers in PDF format using the web-based submission system Manuscript Central (http://mc.manuscriptcentral.com/talip). In order to identify that the submission is for the special issue, please indicate "This paper is being submitted to the Special Issue on Information Retrieval for Indian Languages" on the first page of the paper. Please note that the typical paper length is 20-30 pages.<br> 
<br> 
<b>GUEST EDITORS:</b><br> 
<br> 
Donna Harman, NIST (Emeritus)<br> 
Noriko Kando, NII<br> 
Prasenjit Majumder, DAIICT<br> 
Mandar Mitra, ISI<br> 
Carol Peters, ISTI-CNR<br> 
<br> 
     <br>    


<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
