<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->


<!--**********************************************************-->
<!--starts content of the page-->


      <div id="welcome">
        <!--img src="images/fire.jpg" width="171" height="137" alt="Pic 1" class="left" /-->
<table border="0" cellpadding="1" cellspacing="1">
 <tbody>
<tr><td>
	<div  style="width:420px"><iframe src="http://wikimapia.org/s/#lat=22.561671&lon=88.351635&z=16&l=0&m=a" width="420" height="340" frameborder="1"></iframe><br>
	<center><span style="font-size:9px;"><a href="http://wikimapia.org/112302/Oberoi-Grand-Hotel">Oberoi Grand Hotel on Wikimapia</a></span></center></div>
</td></tr>
<tr><td>
<a href="http://www.oberoikolkata.com/en-US/Hotel/Hotel-Overview.aspx?Acode=SEM1&gclid=CO2wjIO-rZUCFQ5Segod-g8skw">more for venue "Oberoi Grand Kolkata" Click here.</a>
</td></tr>

</tbody></table>

        


<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
