<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->
     <h2>Working Notes:</h2>
<!--**********************************************************-->
<!--starts content of the page-->



      <div id="welcome">
<table align="center"><tr><td width=100% height=5> <p><font size=5><b>
Table of Contents</font></b></p></td></tr>
<tr><td></td></tr>
</table>
<table>
<tr><td width=100% height=3><font size=3><b>Official Submissions</b></td></tr>
</table>
<table align="left">
<tr><td width=20>
<font size=2><b>1</b></font></td><td>
<font size=2><b><a href="/fire/paper/Fire-Final-Au-KBC.pdf">AU-KBC FIRE2008 Submission - Cross Lingual Information Retrieval Track: Tamil-English</b><br></font></a>
<font size=2><i>Pattabhi R. K. Rao, Sobha L. </i><br></font>
<font size=2>AU-KBC Research Centre<br></font>
<a href="./ppt/Pattabhi_R.K.ppt">Download PPT</a>
</td></tr>

<tr><td>
<font size=2><b>2</b></font></td><td>
<font size=2><b><a href="/fire/paper/Ashish_almeida-IITB-fire2008.pdf">Morphology to Improve Marathi Monolingual Information Retrieval <br></b></font></a>
<font size=2><i>Ashish Almeida, Pushpak Bhattacharyya <br></i></font>
<font size=2>IIT Bombay <br></font>
<a href="./ppt/Marathi_–_Marathi_Monolingual_Information_Retrieval.ppt">Download PPT</a>

</td></tr>
<tr><td>
<font size=2><b>3</b></font></td><td>
<font size=2><b><a href="/fire/paper/nileshsp-iitb-fire2008.pdf">Evaluation of Hindi to English, Marathi to English and English to Hindi CLIR at FIRE 2008<br></b></font></a>
<font size=2><i>Nilesh Padariya, Manoj Chinnakotla, Ajay Nagesh, Om P. Damani<br></i></font>
<font size=2>IIT Bombay<br></font>
<a href="./ppt/Manoj_Chinnakotla.ppt">Download PPT</a>
</td></tr>
<tr><td>
<font size=2><b>4</b></font></td><td>
<font size=2><b><a href="/fire/paper/paik-isi-fire2008.pdf">A Simple Stemmer for Inflectional Languages <br></b></font></a>
<font size=2><i>Jiaul H. Paik , Swapan K. Parui <br></i></font>
<font size=2>Indian Statistical Institute, Kolkata <br></font>
</td></tr>
<tr><td>
<font size=2><b>5</b></font></td><td>
<font size=2><b><a href="/fire/paper/sethu-iiith-fire2008.pdf">IIIT Hyderabad’s CLIR experiments for FIRE-2008 <br></b></font></a>
<font size=2><i>Sethuramalingam S., Vasudeva Varma <br></i></font>
<font size=2>IIIT Hyderabad <br></font>
<a href="./ppt/Sethuramalingam_S_and_Vasudeva_Varma.ppt">Download PPT</a>
</td></tr>
<tr><td>
<font size=2><b>6</b></font></td><td>
<font size=2><b><a href="/fire/paper/mcnamee-jhu-fire2008.pdf">N-gram Tokenization for Indian Language Text Retrieval <br></b></font></a>
<font size=2><i>Paul McNamee <br></i></font>
<font size=2>JHU Human Language Technology Center of Excellence <br></font>
<a href="./ppt/Paul_McNamee.ppt">Download PPT</a>
</td></tr>
<tr><td>
<font size=2><b>7</b></font></td><td>
<font size=2><b><a href="/fire/paper/Udupa-mls-fire2008.pdf">Microsoft Research India at FIRE2008: Hindi-English Cross-Language Information Retrieval <br></b></font></a>
<font size=2><i>Raghavendra Udupa, Jagadeesh Jagarlamudi, K. Saravanan <br></i></font>
<font size=2>Microsoft Research India Pvt. Ltd. <br></font>
<a href="./ppt/Udupa_FIRE2008_.ppt">Download PPT</a>
</td></tr>
<tr><td>
<font size=2><b>8</b></font></td><td>
<font size=2><b><a href="/fire/paper/TanXu-UMD-fire2008.pdf">FIRE-2008 at Maryland: English-Hindi CLIR <br></b></font></a>
<font size=2><i>Tan Xu,  Douglas W. Oard<br></i></font>
<font size=2>University of Maryland <br></font>
</td></tr>
<tr><td>
<font size=2><b>9</b></font></td><td>
<font size=2><b><a href="/fire/paper/JacquesSavoymyFIRE2008.pdf">UniNE at FIRE 2008: Hindi, Bengali, and Marathi IR<br></b></font></a>
<font size=2><i>Ljiljana Dolamic, Jacques Savoy<br></i></font>
<font size=2>University of Neuchatel<br></font>
</td></tr>
<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
<tr><th height=3 colspan=2 align="left"><font size=3><b>Unofficial Submissions (arrived after the deadline)</b></font></th></tr>
<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
<tr><td>
<font size=2><b>10</b></font></td><td>
<font size=2><b><a href="/fire/paper/Bandhyopadhyay-JU-fire2008.pdf">English Bengali Ad-hoc Monolingual Information Retrieval Task Result at FIRE 2008 <br></b></font></a>
<font size=2><i>Sivaji Bandhyopadhyay, Amitava Das , Pinaki Bhaskar </i></font><br>
<font size=2>Jadavpur University </font><br>
</td></tr>
<tr><td>
<font size=2><b>11</b></font></td><td>
<font size=2><b><a href="/fire/paper/lm_at_fire.pdf">Using Language Modeling at FIRE 2008 Bengali Monolingual Track <br></b></font></a>
<font size=2><i>Debasis Ganguly , Mandar Mitra</i></font><br>
<font size=2>Synopsys India</font></br>
</td></tr>
</table>




<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./script.txt" -->
<!--#include virtual="./end.txt" -->

