<!--#include virtual="./head.html" -->
<div class="right">
<h2>Data</h2><br/>

<!-- TEMPLATE
<table width="100%" border="0" cellpadding="0" cellspacing="3">
<tr><td colspan="5">Task</td></tr>
<tr>
  <td width="20%"><i>Item</i></td>
  <td width="20%"><a href="#">Corpus</a></td>
  <td width="20%"><a href="#">Queries</a></td>
  <td width="20%"><a href="#">Qrels</a></td>
  <td width="20%"><a href="#">Results</a></td>
</tr>
</table>
-->

<i>Please apply for access to the FIRE Information-Retrieval Text Research Collection.</i>
<br/>
<table>
  <tbody>
    <tr>
      <td> 
	We request you to read, complete, sign and mail, or email, us
	the <a href="http://irsi.res.in/forms/organisational.pdf">organisational-access
	form</a>. The mailing address is mentioned in the
	form. Organisations may use
	the <a href="http://irsi.res.in/forms/individual.pdf">individual
	form</a> to manage access rights internally and these
	individual-access forms need not be sent to us.<br/>
      </td>
    </tr>
    <tr>
      <td>
	<br/>
	<b>NOTE</b>: We link only the new / updated test collections
	each year. Use the previous year's sets where test collections
	are missing in this matrix.
      </td>
    </tr>
  </tbody>
</table>
<br/>
<br/>
<h1>2012</h1><br/>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr><td colspan="6" bgcolor="#eee9e9">AD HOC</td></tr>
  <tr>
    <td><i>Assamese</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/as.topics.176-225.2012.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><i>Bengali</i></td>
    <td><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/bn.docs.2012.19032012.tgz.gpg">Corpus</a>&nbsp;&dagger;</td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/bn.topics.176-225.2012.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/bn.qrels.176-225.2012-v1.txt.gz">Qrel (version-I)</a><br><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/bn.qrels.176-225.2012-v2.txt.gz">Qrel (version-II)</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/results/adhoc/bn.results.176-225.2012.tgz">Results</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/runs/fire2012-runs/adhoc2012_bn_runs.tgz.gpg">Runs</a></td>
  </tr>
  <tr>
    <td><i>English</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/en.topics.176-225.2012.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/en.qrels.176-225.2012-v1.txt.gz">Qrel (version-I)</a><br><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/en.qrels.176-225.2012-v2.txt.gz">Qrel (version-II)</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/results/adhoc/en.results.176-225.2012.tgz">Results</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/runs/fire2012-runs/adhoc2012_en_runs.tgz.gpg">Runs</a></td>
  </tr>

  <tr>
    <td><i>Gujarati</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/gu.topics.176-225.2012.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/gu.qrels.176-225.2012-v1.txt.gz">Qrel (version-I)</a><!--br><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/gu.qrels.176-225.2012-v2.txt.gz">Qrel (version-II)</a--></td>
    <td></td>
  </tr>
  <tr>
    <td><i>Hindi</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/hi.topics.176-225.2012.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/hi.qrels.176-225.2012-v1.txt.gz">Qrel (version-I)</a><br><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/hi.qrels.176-225.2012-v2.txt.gz">Qrel (version-II)</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/results/adhoc/hi.results.176-225.2012.tgz">Results</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/runs/fire2012-runs/adhoc2012_hi_runs.tgz.gpg">Runs</a></td>
  </tr>
  <tr>
    <td><i>Odia</i></td>
    <td><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/or.docs.2012.17072012.tgz.gpg">Corpus</a><!--&nbsp;&ast;--></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/or.topics.176-225.2012.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/or.qrels.176-225.2012-v1.txt.gz">Qrel (version-I)</a></td>

 
    <td></td>
  </tr>
  <tr>
    <td><i>Marathi</i></td>
    <td><!--a href="#">Corpus</a>&nbsp;&ast;--></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/mr.topics.176-225.2012.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><i>Punjabi</i></td>
    <td><!--a href="#">Corpus</a>&nbsp;&ast;--></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/pa.topics.176-225.2012.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><i>Tamil</i></td>
    <td><!--a href="#">Corpus</a>&nbsp;&ast;--></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/ta.topics.176-225.2012.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><i>Telugu</i></td>
    <td><!--a href="#">Corpus</a>&nbsp;&ast;--></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/te.topics.176-225.2012.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
 <tr><td colspan="5" bgcolor="#eee9e9"><a href="http://www.isical.ac.in/~fire/morpho/MET.html">MET</a></td></tr>
    <tr>
    <td><i></i></td>
    <td><a href="http://www.isical.ac.in/~fire/data/docs/met/met.lexicon.2012.24072012.tgz.gpg">Corpus</a></td>
    <td><!--a href="http://www.isical.ac.in/~fire/data/MET/MET.data.2012.tgz.gpg">Queries</a--></td>
    <td></td>
    <td></td>
  </tr>



</table>
<br/>
<hr/>
&dagger; In this year's Bengali collection, documents in the range
2004 September-December and 2007 January-September, of the Anandabazar
Patrika set, have been restored.<br/>
<!--&ast; To be announced.<br/-->
<hr/>
<br/><br/><br/>

<h1>2011</h1><br/>
<table width="100%" border="0" cellpadding="0" cellspacing="3">
  <tr><td colspan="6" bgcolor="#eedfcc">AD HOC</td></tr>
  <tr>
    <td><i>Bengali</i></td>
    <td><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/bn.docs.2011.05092011.tar.gpg">Corpus</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/bn.topics.126-175.2011.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/bn.qrels.126-175.2011.txt.gz">Qrels</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/results/adhoc/bn.results.126-175.2011.tgz">Results</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/runs/fire2011-runs/official-runs/adhoc2011_bn_runs.tgz.gpg">Runs</a></td>
  </tr>
  <tr>
    <td><i>English</i></td>
    <td><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/en.docs.2011.tar.gpg">Corpus</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/en.topics.126-175.2011.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/en.qrels.126-175.2011.txt.gz">Qrels</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/results/adhoc/en.results.126-175.2011.tgz">Results</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/runs/fire2011-runs/official-runs/adhoc2011_en_runs.tgz.gpg">Runs</a></td>
  </tr>
  <tr>
    <td><i>Gujarati</i></td>
    <td><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/gu.docs.2011.tar.gpg">Corpus</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/gu.topics.126-175.2011.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/gu.qrels.126-175.2011.txt.gz">Qrels</a></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/runs/fire2011-runs/official-runs/adhoc2011_gu_runs.tgz.gpg">Runs</a></td>
  </tr>
  <tr>
    <td><i>Hindi</i></td>
    <td><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/hi.docs.2011.tar.gpg">Corpus</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/hi.topics.126-175.2011.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/hi.qrels.126-175.2011.txt.gz">Qrels (version-I)</a><br/><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/hi.qrels.126-175.2011-v2.txt.gz">Qrels (version-II)</a></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/runs/fire2011-runs/official-runs/adhoc2011_hi_runs.tgz.gpg">Runs</a></td>
  </tr>
  <tr>
    <td><i>Marathi</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/mr.topics.126-175.2011.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/mr.qrels.126-175.2011.txt.gz">Qrels</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/results/adhoc/mr.results.126-175.2011.tgz">Results</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/runs/fire2011-runs/official-runs/adhoc2011_mr_runs.tgz.gpg">Runs</a></td>
  </tr>
  <tr>
    <td><i>Tamil</i></td>
    <td><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/ta.docs.2011.tar.gpg">Corpus</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/ta.topics.126-175.2011.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><i>Telugu</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/te.topics.126-175.2011.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr><td colspan="6"  bgcolor="#eedfcc">CL!TR</td></tr>
  <tr>
    <td></td>
    <td>
      <a href="http://memex2.dsic.upv.es/workshops/2011/clitr/corpus.html">Corpus</a>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr><td colspan="6"  bgcolor="#eedfcc">MLAF</td></tr>
  <tr>
    <td></td>
    <td>
      <a href="http://www.isical.ac.in/~fire/data/docs/mlaf/mlaf.docs.2011.tgz.gpg">Corpus</a>
    </td>
    <td></td>
    <td></td>
    <td></td>
  <tr>
  <tr><td colspan="6"  bgcolor="#eedfcc">RISOT</td></tr>
  <tr>
    <td></td>
    <td>
      <a href="http://www.isical.ac.in/~fire/data/docs/risot/risot.data.2011.zip.gpg">Corpus</a>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<br/>
<hr/>
<i>Credits</i>: <a href="http://irlab.daiict.ac.in">DAIICT</a>; Gujarati
(Gujarat Samachar) and Hindi (Indiatimes) corpus
(<a href="mailto:khusboo.a.singhal@gmail.com">Khushboo A. Singhal</a>)
and query translation (<a href="mailto:">Rini Joshi</a>).
<a href="http://www.cdacnoida.in/snlp">CDAC Noida</a>; Hindi query
translation (<a href="mailto:gourmohan@cdac.in">Gour Mohan</a>).
<a href="http://cse.iitkgp.ac.in/">IIT Kharagpur</a>; Tamil Corpus
(Dinamalar) and query translation
(<a href="mailto:rajendra@cse.iitkgp.ernet.in">Rajendra
Prasath</a>). <a href="http://search.iiit.ac.in/clia">IIIT
Hyderabad</a>; Telugu query translation
(<a href="mailto:bhupal_iiit@research.iiit.ac.in">Ram Bhupal
Reddy</a>).<br/>
<hr/>
<br/><br/><br/>

<h1>2010</h1><br/>
<table width="100%" border="0" cellpadding="0" cellspacing="3">
  <tr><td colspan="6" bgcolor="#dccdc0">AD HOC</td></tr>
  <tr>
    <td valign="top"><i>Bengali</i></td>
    <td valign="top"><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/bn.docs.2010.tgz.gpg">Corpus</a></td>
    <td>
      <a href="http://www.isical.ac.in/~fire/data/topics/adhoc/bn.topics.76-125.2010.txt">Queries</a><br/>
      <a href="http://www.isical.ac.in/~fire/data/topics/adhoc/bn.trans.topics.76-125.2010.txt">Queries</a>&nbsp;&dagger;
    </td>
    <td valign="top">
      <a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/bn.qrels.76-125.2010.txt.gz">Qrels</a>
    </td>
    <td valign="top">
      <a href="http://www.isical.ac.in/~fire/data/results/adhoc/bn.results.76-125.2010.tgz">Results</a>
    </td>
  </tr>
  <tr>
    <td><i>English</i></td>
    <td><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/en.docs.2010.tgz.gpg">Corpus</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/en.topics.76-125.2010.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/en.qrels.76-125.2010.txt.gz">Qrels</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/results/adhoc/en.results.76-125.2010.tgz">Results</a></td>
    <!--td><a href="http://www.isical.ac.in/~fire/data/">Runs</a></td-->
  </tr>
  <tr>
    <td><i>Gujarati</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/gu.topics.76-125.2010.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td valign="top"><i>Hindi</i></td>
    <td valign="top"><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/hi.docs.2010.tgz.gpg">Corpus</a></td>
    <td>
      <a href="http://www.isical.ac.in/~fire/data/topics/adhoc/hi.topics.76-125.2010.txt">Queries</a><br/>
      <a href="http://www.isical.ac.in/~fire/data/topics/adhoc/hi.trans.topics.76-125.2010.txt">Queries</a>&nbsp;&dagger;
    </td>
    <td valign="top"><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/hi.qrels.76-125.2010.txt.gz">Qrels</a></td>
    <td valign="top"><a href="http://www.isical.ac.in/~fire/data/results/adhoc/hi.results.76-125.2010.tgz">Results</a></td>
    <!--td><a href="http://www.isical.ac.in/~fire/data/">Runs</a></td-->
  </tr>
  <tr>
    <td><i>Marathi</i></td>
    <td><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/mr.docs.2010.tgz.gpg">Corpus</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/mr.topics.76-125.2010.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/mr.qrels.76-125.2010.txt.gz">Qrels</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/results/adhoc/mr.results.76-125.2010.tgz">Results</a></td>
    <!--td><a href="http://www.isical.ac.in/~fire/data/">Runs</a></td--> 
  </tr>
  <tr>
    <td><i>Tamil</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/ta.topics.76-125.2010.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><i>Telugu</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/te.topics.76-125.2010.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr><td colspan="6" bgcolor="#dccdc0">MLAF</td></tr>
  <tr>
    <td></td>
    <td valign="top">
      <a href="http://www.isical.ac.in/~fire/data/docs/mlaf/mlaf.docs.2010.tgz.gpg">Corpus</a><br/>
    </td>
    <td valign="top">
      <a href="http://www.isical.ac.in/~fire/data/topics/mlaf/mlaf.topics.1-25.2010.txt">Queries</a>&nbsp;&Dagger;<br/>
    </td>
    <td valign="top">
      <a href="http://www.isical.ac.in/~fire/data/qrels/mlaf/mlaf.task1.qrel.1-25.2010.txt.gz">Qrels</a>&nbsp;&Dagger;<br/>
      <a href="http://www.isical.ac.in/~fire/data/qrels/mlaf/mlaf.task2.qrel.2010.txt.gz">Qrels</a>&nbsp;&spades;
    </td>
    <td>
      <a href="http://www.isical.ac.in/~fire/data/topics/mlaf/mlaf.classification.train.2010.txt.gz">Training
      set</a><br/>
      <a href="http://www.isical.ac.in/~fire/data/topics/mlaf/mlaf.classification.test.2010.txt.gz">Test
      set</a>&nbsp;&spades;
    </td>
  </tr>
  <tr>
    <td></td>
    <td colspan="4"><a href="http://www.isical.ac.in/~fire/data/topics/mlaf/mlaf.THREAD-ID_DOCNO_table.2010.txt.gz">THREAD-ID to DOCNO table</a>
    </td>
  </tr>
  <tr><td colspan="6" bgcolor="#dccdc0">Wikipedia-Entity Retrieval</td></tr>
  <tr>
    <td></td>
    <td valign="top">
      <a href="http://download.wikimedia.org/enwiki/20090914/enwiki-20090914-pages-articles.xml.bz2">Corpus</a>
    </td>
    <td valign="top"><a href="http://www.isical.ac.in/~fire/data/topics/wiki/wiki.topics.0-24.2010.xml">Queries</a></td>
    <td valign="top"><a href="http://www.isical.ac.in/~fire/data/qrels/wiki/wiki.qrel.0-24.2010.txt.gz">Qrels</a></td>
    <td></td>
  </tr>
</table>
<br/>
<hr/>
&dagger; Transliterated, &Dagger; Ad hoc retrieval, &spades; Classification of messages.<br/>
<i>Credits</i>: Query translations; Gujarati
(<a href="mailto:patel_kalyani_05@yahoo.co.in">Kalyani
Patel</a>). <a href="http://www.cfilt.iitb.ac.in">CFILT, IIT
Bombay</a>; Marathi (<a href="mailto:ashishfa@cse.iitb.ac.in">Ashish
Almeida</a>). <a href="http://www.au-kbc.org">AU-KBC</a>; Tamil and
Telugu (<a href="mailto:pattabhi@au-kbc.org">Pattabhi
R. K. Rao</a>).<br/>
<hr/>
<br/><br/><br/>

<h1>2008</h1><br/>

<table width="100%" border="0" cellpadding="0" cellspacing="3">
  <tr><td colspan="6" bgcolor="#e0eee0">AD HOC</td></tr>
  <tr>
    <td><i>Bengali</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/bn.topics.26-75.2008.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/bn.qrels.26-75.2008.txt.gz">Qrels</a></td>
    <td></td>
  </tr>
  <tr>
    <td><i>English</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/en.topics.26-75.2008.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/en.qrels.26-75.2008.txt.gz">Qrels</a></td>
    <td></td>
  </tr>
  <tr>
    <td><i>Hindi</i></td>
    <td><a href="http://www.isical.ac.in/~fire/data/docs/adhoc/hi.docs.2008.tgz.gpg">Corpus</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/hi.topics.26-75.2008.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/hi.qrels.26-75.2008.txt.gz">Qrels</a></td>
    <td></td>
  </tr>
  <tr>
    <td><i>Marathi</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/mr.topics.26-75.2008.txt">Queries</a></td>
    <td><a href="http://www.isical.ac.in/~fire/data/qrels/adhoc/mr.qrels.26-75.2008.txt.gz">Qrels</a></td>
    <td></td>
  </tr>
  <tr>
    <td><i>Tamil</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/ta.topics.26-75.2008.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><i>Telugu</i></td>
    <td></td>
    <td><a href="http://www.isical.ac.in/~fire/data/topics/adhoc/te.topics.26-75.2008.txt">Queries</a></td>
    <td></td>
    <td></td>
  </tr>
</table>

</div>
<!--#include virtual="./foot.html" -->
