<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.html" -->
<!--**********************************************************-->

<!--**********************************************************-->
<!--starts content of the page-->

<div class="right">
 
<h2>Workshop Chair</h2><br>
<table>
<tr><td height=30><b><i><font color="#555666" size="2">Pushpak Bhattacharyya</font><font color="#555666" size="1">, IIT Bombay.</font></i></b></td></tr>
</table>


<h2>Organizing Committee</h2><br>
<a name="org_com"></a>

<table>

<tr><td height=30><b><i><font color="#555666" size="2">Arjun Atreya</font><font color="#555666" size="1">, IIT Bombay.</font></i></b></td></tr>

<tr><td height=30><b><i><a href="http://www.isical.ac.in/~ayan_t"><font color="#555666" size="2">Ayan Bandyopadhyay</a></font><font color="#555666" size="1">, ISI Kolkata.</font></i></b>
</td></tr>

<tr><td height=30><b><i><a href="http://www.isical.ac.in/~kripa_r"><font color="#555666" size="2">Kripabandhu Ghosh</a></font><font color="#555666" size="1">, ISI Kolkata.</font></i></b></td></tr>

<tr><td height=30><b><i><font color="#555666" size="2">Deepak Jagtap</font><font color="#555666" size="1">, IIT Bombay.</font></i></b></td></tr>

<tr><td height=30><b><i><font color="#555666" size="2">Munish Minia</font><font color="#555666" size="1">, IIT Bombay.</font></i></b></td></tr>

<tr><td height=30><b><i><font color="#555666" size="2">Rupash Modak</font><font color="#555666" size="1">, IIT Bombay.</font></i></b></td></tr>

<tr><td height=30><b><i><a href="http://www.isical.ac.in/~jia_r"><font color="#555666" size="2">Jiaul Hoque Paik</a></font><font color="#555666" size="1">, ISI Kolkata.</font></i></b></td></tr>

<tr><td height=30><b><i><a href="http://www.isical.ac.in/~dipasree_t"><font color="#555666" size="2">Dipasree Pal</a></font><font color="#555666" size="1">, ISI Kolkata.</font></i></b></td></tr>

<tr><td height=30><b><i><a href=""><font color="#555666" size="2">Sukomal Pal</a></font><font color="#555666" size="1">, ISM Dhandbad.</font></i></b></td></tr>

<tr><td height=30><b><i><a href="http://sauparna.sdf.org">
<font color="#555666" size="2">Sauparna Palchowdhury</a></font><font color="#555666" size="1">, ISI Kolkata.</font></i></b></td></tr>

<tr><td height=30><b><i><font color="#555666" size="2">Kashyap Popat</font><font color="#555666" size="1">, IIT Bombay.</font></i></b></td></tr>

</table>

<h2>Overall Co-ordinators</h2><br>
<table>

<tr><td height=30><b><i><a href="http://www.isical.ac.in/~mandar">
<font color="#555666" size="2">Mandar Mitra</a></font><font color="#555666" size="1">, ISI Kolkata.</font></i></b></td></tr>

<tr><td height=30><b><i><a href="http://intranet.daiict.ac.in/~p_majumder/">
<font color="#555666" size="2">Prasenjit Majumder</a></font><font color="#555666" size="1">, DAIICT Gandhinagar.</font></i></b></td></tr>

</table>

<h2>Steering Committee</h2>
<a name="adv_com"></a>
<table><tbody>
		<tr><td></td><td><font color="#557766" size="2"><b><u></u></b></font></td></tr>
                <tr><td></td><td height=30><a href="http://ciir.cs.umass.edu/~allan/"><font color="#555666" size="2"><b><i>James Allan</a></font><font color="#555666" size="1">, University of Massachusetts Amherst, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.dcc.uchile.cl/~rbaeza/"><font color="#555666" size="2"><b><i>Ricardo Baeza-Yates</a></font><font color="#555666" size="1">, Yahoo! Research Labs, Spain.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://nlg3.csie.ntu.edu.tw/advisor.html"><font color="#555666" size="2"><b><i>Hsin-Hsi Chen</a></font><font color="#555666" size="1">, National Taiwan University, Taipei, Taiwan.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.comp.nus.edu.sg/~chuats/"><font color="#555666" size="2"><b><i>Tat-Seng Chua</a></font><font color="#555666" size="1">, National University of Singapore, Singapore.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.elsnet.org/experts/1876.html"><font color="#555666" size="2"><b><i>Christian Fluhr</a></font><font color="#555666" size="1">, CEA, France.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://www.is.informatik.uni-duisburg.de/staff/fuhr.html.en"><font color="#555666" size="2"><b><i>Norbert Fuhr</a></font><font color="#555666" size="1">, University of Duisburg, Germany.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.itl.nist.gov/iad/highlights/2000/harman.html"><font color="#555666" size="2"><b><i>Donna Harman</a></font><font color="#555666" size="1">, National Institute of Standards and Technology, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.computing.dcu.ie/~gjones/"><font color="#555666" size="2"><b><i>Gareth Jones</a></font><font color="#555666" size="1">, Dublin City University, Ireland.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://research.nii.ac.jp/~kando/"><font color="#555666" size="2"><b><i>Noriko Kando</a></font><font color="#555666" size="1">, National Institute of Informatics, Japan.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://domino.research.ibm.com/comm/research_people.nsf/fire/kkummamu.index.html"><font color="#555666" size="2"><b><i>Krishna Kummamuru</a></font><font color="#555666" size="1">, IBM Research Lab, India.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://lsl.nie.edu.sg/bio/drleong.htm"><font color="#555666" size="2"><b><i>Mun Kew Leong</a></font><font color="#555666" size="1">, Institute for Infocomm Research, Singapore.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.cais.ntu.edu.sg/~aseplim/"><font color="#555666" size="2"><b><i>Ee Peng Lim</a></font><font color="#555666" size="1">, Nanyang Technological University, Singapore.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.apl.jhu.edu/~paulmac/"><font color="#555666" size="2"><b><i>Paul McNamee</a></font><font color="#555666" size="1">, Johns Hopkins University, USA.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://ir.icu.ac.kr/member_prof.htm"><font color="#555666" size="2"><b><i>Sung Hyon Myaeng</a></font><font color="#555666" size="1">, KAIST, South Korea.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://www.comp.nus.edu.sg/~nght/"><font color="#555666" size="2"><b><i>Hwee Tou Ng</a></font><font color="#555666" size="1">, National University of Singapore, Singapore.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://www.dcs.gla.ac.uk/~ounis/"><font color="#555666" size="2"><b><i>Iadh Ounis</a></font><font color="#555666" size="1">, University of Glasgow, UK.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.iei.pi.cnr.it/Personal/carol.html"><font color="#555666" size="2"><b><i>Carol Peters</a></font><font color="#555666" size="1">, ISTI-CNR, Italy.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://www.glue.umd.edu/~oard/"><font color="#555666" size="2"><b><i>Doug Oard</a></font><font color="#555666" size="1">, University of Maryland, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://theory.stanford.edu/~pragh/"><font color="#555666" size="2"><b><i>Prabhakar Raghavan</a></font><font color="#555666" size="1">, Yahoo! Research Labs, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://research.microsoft.com/users/robertson/"><font color="#555666" size="2"><b><i>Stephen Robertson</a></font><font color="#555666" size="1">, Microsoft Research, Cambridge, UK.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href=""><font color="#555666" size="2"><b><i>Tetsuya Sakai</a></font><font color="#555666" size="1">, NewsWatch, Inc., Japan.</i></b></font></a></td></tr>
		 <tr><td></td><td height=30><a href="http://www.seg.rmit.edu.au/mark"><font color="#555666" size="2"><b><i>Mark Sanderson</a></font><font color="#555666" size="1">, RMIT University, Australia.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://members.unine.ch/jacques.savoy/JS.html"><font color="#555666" size="2"><b><i>Jacques Savoy</a></font><font color="#555666" size="1">, University of Neuchatel, Switzerland.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://nmis.isti.cnr.it/sebastiani/"><font color="#555666" size="2"><b><i>Fabrizio Sebastiani</a></font><font color="#555666" size="1">, ISTI-CNR, Italy.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://singhal.info/"><font color="#555666" size="2"><b><i>Amit Singhal</a></font><font color="#555666" size="1">, Google Fellow, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.cs.umbc.edu/~ian/"><font color="#555666" size="2"><b><i>Ian Soboroff</a></font><font color="#555666" size="1">, National Institute of Standards and Technology, USA.</i></b></font></a></td></tr>
		<tr><td></td><td height=30><a href="http://www.csi.ucd.ie/users/tony-veale"><font color="#555666" size="2"><b><i>Tony Veale</font></a><font color="#555666" size="1">, University College Dublin, Ireland.</i></b></font></a></td></tr>
		<tr><td></td><td height=30 ><a href="http://www.nist.gov/cgi-bin/wwwph/cso.nist.gov?Query=ellen+voorhees"><font color="#555666" size="2"><b><i>Ellen Voorhees</a></font><font color="#555666" size="1">, National Institute of Standards and Technology, USA.</i></b></font></a></td></tr>
</tbody></table>



<!-- <h2>Steering Committee</h2><br> -->
<!--
<table><tbody>
<tr><td></td><td height=30><b><i><a href="http://www.isical.ac.in/~mandar"><font color="#555666" size="2">Mandar Mitra</a></font></i></b>
<font color="#555666" size="1">, ISI Kolkata.</font></td></tr>
<tr><td></td><td height=30><b><i><a href="http://intranet.daiict.ac.in/~p_majumder/"><font color="#555666" size="2">Prasenjit Majumder</a></font></i></b>
<font color="#555666" size="1">, DAIICT Gandhinagar.</font></td></tr>
</table>
-->
        
</div>

<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
