<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.html" -->
<!--**********************************************************-->

<!--**********************************************************-->
<!--starts content of the page-->


<div class="right">

<h2>Data Archive</h2>
<br/>

<b><a name="bengali">AD-HOC BENGALI</a></b>
<hr/>
<p>
<a name="bengalic">Corpus</a>
<ul>
  <li><!--a href="/fire/data/docs/adhoc/bn.docs.2010.tgz.gpg"-->2008</a></li>
  <li><a href="/fire/data/docs/adhoc/bn.docs.2010.tgz.gpg">2010</a></li>
</ul>
<p>
<a name="bengaliq">Queries</a>
<ul>
  <li><a href="/fire/data/topics/adhoc/bn.topics.26-75.2008.txt.gz">2008</a></li>
  <li><a href="/fire/data/topics/adhoc/bn.topics.76-125.2010.txt.gz">2010</a></li>
  <li><a href="/fire/data/topics/adhoc/bn.trans.topics.76-125.2010.txt.gz">2010 (transliterated)</a></li>
</ul>
<p>
<a name="bengalir">Relevance judgments</a>
<ul>
  <li><a href="/fire/data/qrels/adhoc/bn.qrels.26-75.2008.txt.gz">2008</a></li>
  <li><a href="/fire/data/qrels/adhoc/bn.qrels.76-125.2010.txt.gz">2010</a></li>
</ul>
</p>
<p>
<a name="bengalirs">Results for each accepted run </a>
<ul>
  <li><a href="/fire/data/results/bn.results.76-125.2010.tgz">2010</a></li>
</ul>
</p>

<br/>
<b><a name="english">AD-HOC ENGLISH</a></b>
<hr/>

<p>
<a name="englishc">Corpus</a>
<ul>
  <li><!--a href="/fire/data/docs/adhoc/en.docs.2008.tgz.gpg"-->2008</a></li>
  <li><a href="/fire/data/docs/adhoc/en.docs.2010.tgz.gpg">2010</a></li>
</ul>
<p>
<a name="englishq">Queries</a>
<ul>
  <li><a href="/fire/data/topics/adhoc/en.topics.26-75.2008.txt.gz">2008</a></li>
  <li><a href="/fire/data/topics/adhoc/en.topics.76-125.2010.txt.gz">2010</a></li>
</ul>
<p>
<a name="englishr">Relevance judgments</a>
<ul>
  <li><a href="/fire/data/qrels/adhoc/en.qrels.26-75.2008.txt.gz">2008</a></li>
  <li><a href="/fire/data/qrels/adhoc/en.qrels.76-125.2010.txt.gz">2010</a></li>
</ul>
<p>
<a name="englishrs">Results for each accepted run </a>
<ul>
  <li><a href="/fire/data/results/en.results.76-125.2010.tgz">2010</a></li>
</ul>
</p>

<br/>
<b><a name="hindi">AD-HOC HINDI</a></b>
<hr/>

<p>
<a name="hindic">Corpus</a>
<ul>
<li><a href="/fire/data/docs/adhoc/hi.docs.2008.tgz.gpg">2008</a></li>
<li><a href="/fire/data/docs/adhoc/hi.docs.2010.tgz.gpg">2010</a></li>
</ul>
<p>
<a name="hindiq">Queries</a>
<ul>
  <li><a href="/fire/data/topics/adhoc/hi.topics.26-75.2008.txt.gz">2008</a></li>
  <li><a href="/fire/data/topics/adhoc/hi.topics.76-125.2010.txt.gz">2010</a></li>
  <li><a href="/fire/data/topics/adhoc/hi.trans.topics.76-125.2010.txt.gz">2010 (transliterated)</a></li>
</ul>
<p>
<a name="hindir">Relevance judgments</a>
<ul>
  <li><a href="/fire/data/qrels/adhoc/hi.qrels.26-75.2008.txt.gz">2008</a></li>
  <li><a href="/fire/data/qrels/adhoc/hi.qrels.76-125.2010.txt.gz">2010</a></li>
</ul>
<p>
<a name="hindirs">Results for each accepted run </a>
<ul>
  <li><a href="/fire/data/results/hi.results.76-125.2010.tgz">2010</a></li>
</ul>
</p>


<br/>
<b><a name="marathi">AD-HOC MARATHI</a></b>
<hr/>

<p>
<a name="marathic">Corpus</a>
<ul>
  <li><!--a href="/fire/data/docs/adhoc/mr.docs.2008.tgz.gpg"-->2008</a></li>
  <li><a href="/fire/data/docs/adhoc/mr.docs.2010.tgz.gpg">2010</a></li>
</ul>
<p>
<a name="marathiq">Queries</a>
<ul>
  <li><a href="/fire/data/topics/adhoc/mr.topics.26-75.2008.txt.gz">2008</a> - query translations provided by <a href="http://www.cfilt.iitb.ac.in/">CFILT</a> (contact: <a href="mailto:ashishfa@cse.iitb.ac.in">Ashish Almeida</a>)</li>
  <li><a href="/fire/data/topics/adhoc/mr.topics.76-125.2010.txt.gz">2010</a> - query translations provided by <a href="http://www.cfilt.iitb.ac.in/">CFILT</a> (contact: <a href="mailto:ashishfa@cse.iitb.ac.in">Ashish Almeida</a>)</li>
</ul>
<p>
<a name="marathir">Relevance judgments</a>
<ul>
  <li><a href="/fire/data/qrels/adhoc/mr.qrels.26-75.2008.txt.gz">2008</a></li>
  <li><a href="/fire/data/qrels/adhoc/mr.qrels.76-125.2010.txt.gz">2010</a></li>
</ul>
<p>
<a name="marathirs">Results for each accepted run </a>
<ul>
  <li><a href="/fire/Corpus_query_rel/results/mr.results.76-125.2010.tgz">2010</a></li>
</ul>
</p>

<br/>
<b><a name="tamil">AD-HOC TAMIL</a></b>
<hr/>

<p>
<a name="tamilq">Queries</a>
<ul>
  <li><a href="/fire/data/topics/adhoc/ta.topics.26-75.2008.txt.gz">2008</a> - query translations provided by <a href="http://www.au-kbc.org/">AU-KBC</a> (contact: <a href="mailto:pattabhi@au-kbc.org">Pattabhi R. K. Rao</a>)</li>
  <li><a href="/fire/data/topics/adhoc/ta.topics.76-125.2010.txt.gz">2010</a>  - query translations provided by <a href="http://www.au-kbc.org/">AU-KBC</a> (contact: <a href="mailto:pattabhi@au-kbc.org">Pattabhi R. K. Rao</a>)</li>
</ul>
</p>

<br/>
<b><a name="telugu">AD-HOC TELUGU</a></b>
<hr/>

<p>
<a name="teluguq">Queries</a>
<ul>
  <li><a href="/fire/data/topics/adhoc/te.topics.26-75.2008.txt.gz">2008</a>
  <li><a href="/fire/data/topics/adhoc/te.topics.76-125.2010.txt.gz">2010</a> - query translations provided by <a href="http://www.au-kbc.org/">AU-KBC</a> (contact: <a href="mailto:pattabhi@au-kbc.org">Pattabhi R. K. Rao</a>)</li>
</ul>
</p>

<br/>
<b><a name="gujarati">AD-HOC GUJARATI</a></b>
<hr/>

<p>
<a name="gujaratiq">Queries</a>
<ul>
  <li><a href="/fire/data/topics/adhoc/gu.topics.76-125.2010.txt.gz">2010</a> (Query translations provided by <a href="mailto:patel_kalyani_05@yahoo.co.in">Kalyani Patel</a>)</li>
</ul>
</p>


<br/>
<b><a name="forum">MAILING LISTS AND FORUMS</a></b>
<hr/>

<p>
<a name="forumc">Corpus</a>
	<li><a href="/fire/data/docs/forum_mailing_list/mlaf.docs.2010.tgz.gpg">2010</a></li>
</p>

<a name="forumq">Queries</a>
 <li><p> 2010</p></li>
 <ol>
  <li>Ad-hoc retrieval:</li>
	<p><a href="/fire/data/topics/forum_mailing_list/mlaf.topics.1-25.2010.txt.gz">Topics</a></p>
	<p><a href="/fire/data/topics/forum_mailing_list/mlaf.THREAD-ID_DOCNO_table.2010.txt.gz">THREAD-ID to DOCNO table</a></p>
	<p><b>
	NOTE: The &lt;desc&gt; of some queries may only state a problem, without explicity asking a question or stating an information need. For such queries, the implicit question / information need is: "How can this problem be fixed?" <br><br>
Please remember that you should submit at least one run that uses only the title and description fields of the queries.
	</b></p>
  <li>Classification of messages:</li>
      <p><a href="/fire/data/topics/forum_mailing_list/mlaf.classification.train.2010.txt.gz">Training set</a></p>
      <p><a href="/fire/data/topics/forum_mailing_list/mlaf.classification.test.2010.txt.gz">Test set</a></p>
  </ol>

<p>
<a name="forumr">Relevance judgments</a>
<ul>
<li><p> 2010</p></li>
 <ol>
 <li><!--a href="/fire/data/qrels/forum_mailing_list/mlaf.task1.qrel.1-25.2010.txt.gz"-->Ad-hoc retrieval<!--/a--></li>
 <li><a href="/fire/data/qrels/forum_mailing_list/mlaf.task2.qrel.2010.txt.gz">Classification of messages</a></li>
</ol>
</ul>
</p>

<br/>
<b><a name="entity">WIKIPEDIA-ENTITY RETRIEVAL</a></b>
<hr/>

<p>
<a name="entityc">Corpus</a>
<li><!--a href="http://download.wikimedia.org/enwiki/20090914/enwiki-20090914-pages-articles.xml.bz2"-->2010<!--/a--></li>
</p>
<p>
<a name="entityq">Queries</a>
<li><a  href="/fire/data/topics/wiki/wiki.topics.0-24.2010.xml.gz">2010</a></li>
</p>

<p>
<a name="entityr">Relevance judgments</a>
<ul>
  <li><a href="/fire/Corpus_query_rel/qrels/wiki/wiki.qrel.0-24.2010.txt.gz">2010</a></li>
</ul>
</p>

</div>
<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
