<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.html" -->
<!--**********************************************************-->

<!--**********************************************************-->
<!--starts content of the page-->


<div class="right">

  <a name="top"></a>

  <table border=1>
      <tr>
        <td><a href="#bn">Language</a></td>
        <td><a href="#bn_c">Corpus</a></td>
        <td><a href="#bn_q">Queries</a></td>
        <td><a href="#bn_qr">Qrels</a></td>
	<td><a href="#bn_res">Results</a></td>
      </tr>

      <tr>
	<td><a href="#english">English</a></td>
	<td><a href="#englishc">Corpus</a></td>
	<td><a href="#englishq">Queries</a></td>
	<td><a href="#englishr">Qrels</a></td>
	<td><a href="#englishrs">Results</a></td>
      </tr>

      <tr>
          <a href="#hindi"><font size=2>Ad-hoc Hindi</font></a>
          <a href="#hindic"><font size=2>Corpus</font></a>
          <a href="#hindiq"><font size=2>Queries</font></a>
          <a href="#hindir"><font size=2>Qrels</font></a>
          <a href="#hindirs"><font size=2>Results</font></a>
      </tr>

      <tr>
          <a href="#marathi"><font size=2>Ad-hoc Marathi</font></a>
          <a href="#marathic"><font size=2>Corpus</font></a>
          <a href="#marathiq"><font size=2>Queries</font></a>
          <a href="#marathir"><font size=2>Qrels</font></a>
          <a href="#marathirs"><font size=2>Results</font></a>
      </tr>

      <tr>
          <a href="#tamil"><font size=2>Ad-hoc Tamil</font></a>
          <a href="#tamilq"><font size=2>Queries</font></a>
      </tr>

      <tr>
          <a href="#telugu"><font size=2>Ad-hoc Telugu</font></a>
          <a href="#teluguq"><font size=2>Queries</font></a>
      </tr>

      <tr>
          <a href="#gujarati"><font size=2>Ad-hoc Gujarati</font></a>
          <a href="#gujaratiq"><font size=2>Queries</font></a>
      </tr>
     
      <tr>
          <a href="#forum"><font size=2>Mailing lists and forums</font></a>
          <a href="#forumc"><font size=2>Corpus</font></a>
          <a href="#forumq"><font size=2>Queries</font></a>
          <!--a href="#forumr"><font size=2>Qrels</font></a-->
      </tr>

      <tr>
          <a href="#entity"><font size=2>Wikipedia-entity retrieval</font></a>
          <a href="#entityc"><font size=2>Corpus</font></a>
          <a href="#entityq"><font size=2>Queries</font></a>
          <a href="#entityr"><font size=2>Qrels</font></a>
      </tr>

</table>

<hr>
<b><a name="bengali">Ad-hoc Bengali</a></b>
<p>
<a name="bengalic">Corpus</a>
<ul>
  <li><!--a href="/fire/data/docs/adhoc/bn.docs.2010.tgz.gpg"-->2008</a></li>
  <li><a href="../data/docs/adhoc/bn.docs.2010.tgz.gpg">2010</a></li>
</ul>
<p>
<a name="bengaliq">Queries</a>
<ul>
  <li><a href="../data/topics/adhoc/bn.topics.26-75.2008.txt.gz">2008</a></li>
  <li><a href="../data/topics/adhoc/bn.topics.76-125.2010.txt.gz">2010</a></li>
  <li><a href="../data/topics/adhoc/bn.trans.topics.76-125.2010.txt.gz">2010 (transliterated)</a></li>
</ul>
<p>
<a name="bengalir">Relevance judgments</a>
<ul>
  <li><a href="../data/qrels/adhoc/bn.qrels.26-75.2008.txt.gz">2008</a></li>
  <li><a href="../data/qrels/adhoc/bn.qrels.76-125.2010.txt.gz">2010</a></li>
</ul>
</p>
<p>
<a name="bengalirs">Results for each accepted run </a>
<ul>
  <li><a href="../data/results/bn.results.76-125.2010.tgz">2010</a></li>
</ul>
</p>


<hr>
<h2><a name="english">Ad-hoc English</a></h2>
<p>
<a name="englishc">Corpus</a>
<ul>
  <li><!--a href="/fire/data/docs/adhoc/en.docs.2008.tgz.gpg"-->2008</a></li>
  <li><a href="/fire/data/docs/adhoc/en.docs.2010.tgz.gpg">2010</a></li>
</ul>
<p>
<a name="englishq">Queries</a>
<ul>
  <li><a href="../data/topics/adhoc/en.topics.26-75.2008.txt.gz">2008</a></li>
  <li><a href="../data/topics/adhoc/en.topics.76-125.2010.txt.gz">2010</a></li>
</ul>
<p>
<a name="englishr">Relevance judgments</a>
<ul>
  <li><a href="../data/qrels/adhoc/en.qrels.26-75.2008.txt.gz">2008</a></li>
  <li><a href="../data/qrels/adhoc/en.qrels.76-125.2010.txt.gz">2010</a></li>
</ul>
<p>
<a name="englishrs">Results for each accepted run </a>
<ul>
  <li><a href="../data/results/en.results.76-125.2010.tgz">2010</a></li>
</ul>
</p>


<hr>
<h2><a name="hindi">Ad-hoc Hindi</a></h2>
<p>
<a name="hindic">Corpus</a>
<ul>
<li><a href="../data/docs/adhoc/hi.docs.2008.tgz.gpg">2008</a></li>
<li><a href="../data/docs/adhoc/hi.docs.2010.tgz.gpg">2010</a></li>
</ul>
<p>
<a name="hindiq">Queries</a>
<ul>
  <li><a href="../data/topics/adhoc/hi.topics.26-75.2008.txt.gz">2008</a></li>
  <li><a href="../data/topics/adhoc/hi.topics.76-125.2010.txt.gz">2010</a></li>
  <li><a href="../data/topics/adhoc/hi.trans.topics.76-125.2010.txt.gz">2010 (transliterated)</a></li>
</ul>
<p>
<a name="hindir">Relevance judgments</a>
<ul>
  <li><a href="../data/qrels/adhoc/hi.qrels.26-75.2008.txt.gz">2008</a></li>
  <li><a href="../data/qrels/adhoc/hi.qrels.76-125.2010.txt.gz">2010</a></li>
</ul>
<p>
<a name="hindirs">Results for each accepted run </a>
<ul>
  <li><a href="../data/results/hi.results.76-125.2010.tgz">2010</a></li>
</ul>
</p>


<hr>
<h2><a name="marathi">Ad-hoc Marathi</a></h2>
<p>
<a name="marathic">Corpus</a>
<ul>
  <li><!--a href="../data/docs/adhoc/mr.docs.2008.tgz.gpg"-->2008</a></li>
  <li><a href="../data/docs/adhoc/mr.docs.2010.tgz.gpg">2010</a></li>
</ul>
<p>
<a name="marathiq">Queries</a>
<ul>
  <li><a href="../data/topics/adhoc/mr.topics.26-75.2008.txt.gz">2008</a> - query translations provided by <a href="http://www.cfilt.iitb.ac.in/">CFILT</a> (contact: <a href="mailto:ashishfa@cse.iitb.ac.in">Ashish Almeida</a>)</li>
  <li><a href="../data/topics/adhoc/mr.topics.76-125.2010.txt.gz">2010</a> - query translations provided by <a href="http://www.cfilt.iitb.ac.in/">CFILT</a> (contact: <a href="mailto:ashishfa@cse.iitb.ac.in">Ashish Almeida</a>)</li>
</ul>
<p>
<a name="marathir">Relevance judgments</a>
<ul>
  <li><a href="../data/qrels/adhoc/mr.qrels.26-75.2008.txt.gz">2008</a></li>
  <li><a href="../data/qrels/adhoc/mr.qrels.76-125.2010.txt.gz">2010</a></li>
</ul>
<p>
<a name="marathirs">Results for each accepted run </a>
<ul>
  <li><a href="../data/results/mr.results.76-125.2010.tgz">2010</a></li>
</ul>
</p>
<hr>
<h2><a name="tamil">Ad-hoc Tamil</a></h2>
<p>
<a name="tamilq">Queries</a>
<ul>
  <li><a href="../data/topics/adhoc/ta.topics.26-75.2008.txt.gz">2008</a> - query translations provided by <a href="http://www.au-kbc.org/">AU-KBC</a> (contact: <a href="mailto:pattabhi@au-kbc.org">Pattabhi R. K. Rao</a>)</li>
  <li><a href="../data/topics/adhoc/ta.topics.76-125.2010.txt.gz">2010</a>  - query translations provided by <a href="http://www.au-kbc.org/">AU-KBC</a> (contact: <a href="mailto:pattabhi@au-kbc.org">Pattabhi R. K. Rao</a>)</li>
</ul>
</p>

<hr>
<h2><a name="telugu">Ad-hoc Telugu</a></h2>
<p>
<a name="teluguq">Queries</a>
<ul>
  <li><a href="../data/topics/adhoc/te.topics.26-75.2008.txt.gz">2008</a>
  <li><a href="../data/topics/adhoc/te.topics.76-125.2010.txt.gz">2010</a> - query translations provided by <a href="http://www.au-kbc.org/">AU-KBC</a> (contact: <a href="mailto:pattabhi@au-kbc.org">Pattabhi R. K. Rao</a>)</li>
</ul>
</p>

<hr>
<h2><a name="gujarati">Ad-hoc Gujarati</a></h2>
<p>
<a name="gujaratiq">Queries</a>
<ul>
  <li><a href="../data/topics/adhoc/gu.topics.76-125.2010.txt.gz">2010</a> (Query translations provided by <a href="mailto:patel_kalyani_05@yahoo.co.in">Kalyani Patel</a>)</li>
</ul>
</p>


<hr>
<h2><a name="forum">Mailing lists and forums</a></h2>
<p>
<a name="forumc">Corpus</a>
	<li><a href="../data/docs/forum_mailing_list/mlaf.docs.2010.tgz.gpg">2010</a></li>
</p>

<a name="forumq">Queries</a>
 <li><p> 2010</p></li>
 <ol>
  <li>Ad-hoc retrieval:</li>
	<p><a href="../data/topics/forum_mailing_list/mlaf.topics.1-25.2010.txt.gz">Topics</a></p>
	<p><a href="../data/topics/forum_mailing_list/mlaf.THREAD-ID_DOCNO_table.2010.txt.gz">THREAD-ID to DOCNO table</a></p>
	<p><b>
	NOTE: The &lt;desc&gt; of some queries may only state a problem, without explicity asking a question or stating an information need. For such queries, the implicit question / information need is: "How can this problem be fixed?" <br><br>
Please remember that you should submit at least one run that uses only the title and description fields of the queries.
	</b></p>
  <li>Classification of messages:</li>
      <p><a href="../data/topics/forum_mailing_list/mlaf.classification.train.2010.txt.gz">Training set</a></p>
      <p><a href="../data/topics/forum_mailing_list/mlaf.classification.test.2010.txt.gz">Test set</a></p>
  </ol>

<p>
<a name="forumr">Relevance judgments</a>
<ul>
<li><p> 2010</p></li>
 <ol>
 <li><!--a href="../data/qrels/forum_mailing_list/mlaf.task1.qrel.1-25.2010.txt.gz"-->Ad-hoc retrieval<!--/a--></li>
 <li><a href="../data/qrels/forum_mailing_list/mlaf.task2.qrel.2010.txt.gz">Classification of messages</a></li>
</ol>
</ul>
</p>



<hr>
<h2><a name="entity">Wikipedia-entity retrieval</a></h2>
<p>
<a name="entityc">Corpus</a>
<li><!--a href="http://download.wikimedia.org/enwiki/20090914/enwiki-20090914-pages-articles.xml.bz2"-->2010<!--/a--></li>
</p>
<p>
<a name="entityq">Queries</a>
<li><a  href="../data/topics/wiki/wiki.topics.0-24.2010.xml.gz">2010</a></li>
</p>

<p>
<a name="entityr">Relevance judgments</a>
<ul>
  <li><a href="../data/qrels/wiki/wiki.qrel.0-24.2010.txt.gz">2010</a></li>
</ul>
</p>



<table><tbody>
<tr><td height=50 width=300></td><td><font size="3"><a href="#top"><img src="./images/top.jpg"></a></font></td></tr>
</tbody></table>
</div>
<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
