<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.html" -->
<!--**********************************************************-->

<!--**********************************************************-->
<!--starts content of the page-->

<div class="right">

<h2><a name="acco">Logistics</a></h2>
<br/>

<center>
  <a href="#acco">Accommodation</a> | <a href="#reach">Reaching IIT</a> | <a href="http://www.globalwordnet-iitb2010.in/images/iitbmap.jpg">Campus map</a>
</center>
<br/>

<b><a name="acco">Accommodation</a></b>
<hr/>
<br/>
<b>For registered participants</b><br/>
<ul>
  <li>You may book accommodation at IIT Bombay, on a first-come, first-served basis.</li>
  <li>Rooms are available on a sharing basis.</li>
  <li>Call / email Deepak / Madhu, they will help you with the room allotment, room rates and payment.</li>
  <li>Please note that the FIRE registration fee does not include accommodation expenses.</li>
</ul>

<b>Rooms</b>
<ul>
<li>Van Vihar Guest house in IIT Bombay on sharing basis</li>
Rs. 600 / day, single room.<br/>
Rs. 1000 / day double bedded room.<br/>

<li>Boys Hostel No. 1</li>
Rs. 150 / day.<br/>
A charge of Rs. 30 for mattress.<br/>
</ul>

<b>Contact</b><br/>
<br/>
<pre>
  Deepak D Jagtap
  Mob: +91-9820936343
  Email: sairaj@gmail.com

  Madhu Prasad Sharma
  Email: madhupras@gmail.com

  Computer Science and Engineering Department
  IIT Bombay, Powai, Mumbai - 400 076
</pre>
<br/><br/>

<b><a name="reach">Reaching IIT</a></b>
<hr/>
<br/>
IIT Bombay is located at Powai, which is in the North-Eastern part of
Mumbai. One can travel by auto-rickshaws or taxis to reach IIT from
the nearest stations. The nearest stations for Central Railway are
Kanjur Marg or Vikhroli. The nearest station for Western Railway is
Andheri.  International flights land at Sahar Airport which is about
7kms from IIT. The Domestic Airport-SantaCruz is about 10kms from
IIT. Pre-paid taxis and auto-ricksaws are available at the airports.<br/>
<br/>
<b>Airports</b><br/>
<br/>
International flights land at Sahar Airport which is about 7 kms from
IIT. The Domestic Airport- SantaCruz is about 10 kms. Pre-paid taxis
(cabs) are available at the Airports. Auto-rickshaws are also available
for IIT.<br/>
Those traveling by air, can take taxis/auto rickshaws from the
domestic (40-60 min travel time)/international (20-40 min travel time)
airport to reach IIT Bombay.<br/>
<br/>
<b>Public Transport</b><br/>
<br/>
Mumbai has one of the most efficient and reliable public transport
network. One can travel by Autorickshaws / Taxis to reach IIT from the
nearest stations(Autorickshaws, however do not go further south than
Sion and Bandra). For longer distance, you can use either the BEST Bus
Network or the Mumbai Local train System.<br/>
<br/>
<b>Suburban Railway</b><br/>
<br/>
Those coming by Central Railway Suburban train will have to get down
at Kanjur Marg, Vikhroli or Ghatkopar which are the nearest stations
from IITB. If you are coming by the Western Railway Suburban train you
will have to get down at Andheri, Bandra, Goregoan or Malad.<br/>
<br/>
<b>Train Stations</b><br/>
<br/>
Central Railway CST, Dadar, Kurla, Thane.<br/>
Western Railway Mumbai Central, Dadar, Bandra, Andheri,Borivali, Kurla.<br/>
There is a terminus at Kurla where some Central as well as Western
Railway Trains terminate. There is no convenient bus route from Kurla
terminus. An autorickshaw is the best option. However it would be more
economical to take a suburban train from kurla to Kanjur Marg and then
take an Auto.<br/>
<br/>
<b>Central Railway</b><br/>
<br/>
If traveling by the central railway line (with tickets to
Kalyan/Thane/Kurla/Dadar/VT (now known as CST)), get down at
Kalyan/Thane/Dadar and take a local train to Kanjur arg/Vikhroli,
which are the nearest stations to IIT Bombay. Come out through the
western-side gate and take a bus or, auto rickshaw to IIT main gate.<br/>
<br/>
<b>Western Railway</b><br/>
<br/>
If you are coming by the western railway line, get down preferably at
Borivali/Bandra/Andheri. From Bandra (local railway station) West, you
can take the 422 bus to IIT Bombay main gate. From Borivali East and
Andheri East, there are a number of buses which come to IIT main
gate. Alternatively, you can take a three-wheeler or taxi from these
stations. If you get down at Mumbai Central, then travel in reverse
direction to Dadar (Western Railway). From Dadar Western Railway, you
will have to change to Dadar Central Railway. To reach IIT Bombay from
Dadar Central Railway, follow the instructions given under Central
Railway.<br/>
<br/>
<b>IIT Guest Houses; Van Vihar / Jal Vihar</b><br/>
<br/>
There are three gates to IIT Bombay. It is advised to enter through
the main gate. If you are coming by an auto rickshaw/taxi, enquire
form the security at the main gate for the directions to IIT B Guest
House (Van Vihar/Jal Vihar Guest House).<br/>
<br/>
<b>IIT Hostels</b><br/>
<br/>
There are three gates to IIT Bombay. It is advised to enter through
the main gate. If you are coming by an auto rickshaw/taxi, enquire
form the security at the main gate for the directions.<br/>
<br/>
<b>NITIE Guest House / Hostel</b><br/>
<br/>
IIT Bombay (4Km), L&T Powai (1.5 Km) and Hotel Rennaisance (1 km) are
landmarks nearest to NITIE near L&T, Vihar Lake.<br/>

</div>

<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
