<!-- This file should be included in the news section of the left pane. -->
<!-- <ul> -->
<!--   <li> -->
<!--     FIRE is now mirrored at<br/> -->
<!--     <a href="http://irsi.res.in/fire">http://irsi.res.in/fire</a>. -->
<!--   </li> -->
<!--   <br/> -->
<!--   <li> -->
<!--     <a href="http://www.springer.com/lncs"><b>LNCS</b></a> will publish the -->
<!--     post-proceedings of FIRE 2010. -->
<!--     <br/> -->
<!--     <a href="http://www.springer.com/lncs"> -->
<!--       <img src="./images/logo/lncs_logo.jpg" border=0 alt="LNCS"/> -->
<!--     </a> -->
<!--   </li> -->
<!--   <br/> -->
<!--   <li>ACM TALIP Vol 9<br/> -->
<!--       <a href="http://portal.acm.org/citation.cfm?id=1838745&picked=prox"><b>Issue 3</b></a> &  -->
<!--       <a href="http://portal.acm.org/citation.cfm?id=1838751&picked=prox&CFID=7378897&CFTOKEN=884		72882"><b>Issue 4</b></a>. -->
<!--       <br/>Special issue on ILIR. -->
<!--       <br/> -->
<!--       <a href="http://talip.acm.org/"> -->
<!-- 	<img src="./images/logo/talip-logo.gif" width=120 height=60 border=0 alt="ACM TALIP"/> -->
<!--       </a> -->
<!--   </li> -->
<!--   <br/> -->
<!--   <li><a href="./news-archive.html">News Archive</a></li> -->
<!-- </ul> -->
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 6000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      //background: '#3d4c6b',
      //background: '#425969',
      background: '#ffffff',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#425969',
      links: '#949494'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: false,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('FIRE_UPDATES').start();
</script>
