<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.html" -->
<!--**********************************************************-->

<!--**********************************************************-->
<!--starts content of the page-->

<div class="right">
  <h2>News Archive</h2><br>
  <table>
    <ul>
      <li>Winter School coming soon.</li>
      <li>ACM TALIP special issue on ILIR.</li>
      <li>Registration for FIRE 2010 data is open.</li>
      <li>The <a href="http://portal.acm.org/toc.cfm?id=1364742&type=proceeding&coll=portal&dl=ACM">IWRIDL proceedings</a> is dedicated to the memory of Late Prof. Karen Spärck Jones.</li>
    </ul>
  </table>
</div>

<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
