<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.html" -->
<!--**********************************************************-->

<!--**********************************************************-->
<!--starts content of the page-->

<div class="right">

<h2>Photographs</h2>
<br/>

<!--table style="width:194px;">
  <tr>
    <td align="center" style="height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/sauparna.palc/FIRE2011?authuser=0&feat=embedwebsite"><img src="https://lh4.googleusercontent.com/-GAuXwoh80SY/TwWhCo2xG9E/AAAAAAAABOE/igvuQK6Nj2w/s160-c/FIRE2011.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td>
  </tr>
  <tr>
    <td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/sauparna.palc/FIRE2011?authuser=0&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">FIRE 2011</a>
    </td>
</tr>
</table-->

<embed type="application/x-shockwave-flash"
       src="https://picasaweb.google.com/s/c/bin/slideshow.swf" width="600" height="400"
       flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fsauparna.palc%2Falbumid%2F5694134370578799569%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
       pluginspage="http://www.macromedia.com/go/getflashplayer">
</embed>

</div>

<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
