<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.html" -->
<!--**********************************************************-->
<h2>Online Registration Form:</h2>
<!--**********************************************************-->
<!--starts content of the page-->
      

<div id="welcome">

<FORM method="post" action="simplescript.php" >
<table><tr><td height=60></td></tr></table>
<TABLE BORDER="0" WIDTH="80%">
  <TR>
    <TD>
    Name:
    </TD>
    <TD>
     <INPUT TYPE="Text" NAME="Name" SIZE="30">
    </TD>
  </TR>
  <TR>
    <TD>
    Nationality:
    </TD>
    <TD>
    <INPUT TYPE="Text" NAME="Nationality" SIZE="30">
    </TD>
  </TR>
  <TR>
    <TD>
    Affiliation:
    </TD>
    <TD>
    <INPUT TYPE="Text" NAME="Affiliation" SIZE="30">
    </TD>
  </TR>
  <TR>
    <TD valign="top">
    Address:
    </TD>
    <TD>
    <TEXTAREA NAME="Address" ROWS="3" WRAP="off" SIZE="40">
    </TEXTAREA>
    </TD>
  </TR>
  <TR>
    <TD>
    Email:
    </TD>
    <TD>
    <INPUT TYPE="Text" NAME="Mail" SIZE="30">
    </TD>
  </TR>
  <TR>
    <TD>
 Phone:
    </TD>
    <TD>
    <INPUT TYPE="Text" NAME="Phone" SIZE="30">
    </TD>
  </TR>
  <TR>
    <TD>
    Fax:
    </TD>
    <TD>
    <INPUT TYPE="Text" NAME="Fax" SIZE="30">
    </TD>
  </TR>
</table>
<table>
  <!--TR>

   <TD>
   Are you a ACM/SIGIR member?
    </TD>


    <TD-->
    <!--INPUT TYPE="Text" NAME="Accomodation? " SIZE="40"-->
     <!--div align="left"><br>
     <input type="radio" name="ACM/SIGIR" value="YES" checked> YES<br>
     <input type="radio" name="ACM/SIGIR" value="No" checked> No<br>
    </TD>
  </TR-->

  <!--TR>

   <TD width=180>
    Accomodation Required?
    </TD>


    <TD>
    <INPUT TYPE="Text" NAME="Accomodation? " SIZE="40">
     <div align="left"><br>
     <input type="radio" name="Accomodation" value="AC" checked> AC<br>
     <input type="radio" name="Accomodation" value="Non-AC" checked> Non-AC<br>
     <input type="radio" name="Accomodation" value="No"> Not Required<br>
     <input type="radio" name="Accomodation" value="yes" checked>Yes<br>
     <input type="radio" name="Accomodation" value="No"> No<br>
    </TD>
  </TR>
  <TR>
    <TD>
    Sex:
    </TD>
    <TD>
    <INPUT TYPE="Text" NAME="Sex " SIZE="40">
     <div align="left"><br>
     <input type="radio" name="Sex" value="Male" checked> Male<br>
     <input type="radio" name="Sex" value="Female"> Female<br>
    </TD>
  </TR-->
<TR>
    <TD>
    Food
    </TD>


    <TD>
    <!--INPUT TYPE="Text" NAME="Food? " SIZE="40"-->
     <div align="left"><br>
     <input type="radio" name="Food" value="Non-Veg" checked>Non-Veg<br>
     <input type="radio" name="Food" value="Veg"> Veg<br>
    </TD>
  </TR>
</table>
<table width="90%">
   <TR>
    </TR>
	<tr><td height=10></td></tr>
</table>
<table>
  <TR>
    <TD colspan="2" align=center>
       <u>Payment details:</u>
    </TD>
  </TR>
  <TR>
    <TD>
    Mode:&dagger;
    </TD>
    <TD>
    <!--INPUT TYPE="Text" NAME="Sex " SIZE="40"-->
     <div align="left"><br>
     <input type="radio" name="Mode" value="DD" checked> Demand draft<br>
     <input type="radio" name="Mode" value="CC"> Cashier's cheque<br>
     <input type="radio" name="Mode" value="Ch"> Cheque<br>
     <input type="radio" name="Mode" value="ET"> Electronic transfer<br>
     <input type="radio" name="Mode" value="Sponsor"> None. I am from a sponsoring organization.<br>
    </TD>
  </TR>
   <TR>
    <TD>
    Bank:<sup>*</sup>
    </TD>
    <TD>
    <INPUT TYPE="Text" NAME="DDBank" SIZE="20">
    </TD>
    </TR>
   <TR>
    <TD>
    Number:<sup>*</sup>
    </TD>
    <TD>
    <INPUT TYPE="Text" NAME="DDNumber" SIZE="20">
    </TD>
    </TR>
    <TR>
    <TD>
    Issuing Date:<sup>*</sup>
    </TD>
    <TD>
    <INPUT TYPE="Text" NAME="DDDate" SIZE="20">
     </TD>
     </TR>
    <TR>
     <TD>
     Amount(INR/USD):<sup>*</sup>
    </TD>
    <TD>
    <INPUT TYPE="Text" NAME="DDSum" SIZE="20">
    </TD>
  </TR>
</TABLE>
<p>
&dagger; Please make the draft / cheque payable to <b>"INFORMATION RETRIEVAL SOCIETY OF INDIA"</b> at <b>Kolkata</b>, and mail it to:<br>
Information Retrieval Lab<br>
CVPR Unit<br>
Indian Statistical Institute<br>
203 BT Road<br>
Kolkata 700108.
</p>
<p>
If you prefer to pay by electronic transfer, please use the following information: 
<table>
  <TR>
    <TD>Bank:</TD>
    <TD>State Bank of India.</TD>
  </TR>
  <TR>
    <TD>Branch:</TD>
    <TD>Indl Estate, Bonhoogly (Kolkata).</TD>
  </TR>
  <TR>
    <TD>Branch code:</TD>
    <TD>2029.</TD>
  </TR>
  <TR>
    <TD>Swift code:</TD>
    <TD>SBININBB106</TD>
  </TR>
  <TR>
    <TD>Account no.:</TD>
    <TD>31013519454</TD>
  </TR>
  <TR>
    <TD>Account name:</TD>
    <TD>INFORMATION RETRIEVAL SOCIETY OF INDIA</TD>
  </TR>
</table>
</p>

<p>
<sup>*</sup> If any of these fields do not apply to you, please write 
"Not applicable" in them.
</p>
 <!--Sum(INR/USD):   <INPUT TYPE="Text" NAME="sum" SIZE="20"><-->
<br><br>
<table width="100%">
<tr>
<td align="right">
<INPUT TYPE="Submit" NAME="submit" VALUE="Submit">
</td>
<td align="left">
<INPUT TYPE="Reset" NAME="reset" VALUE="Clear">
</td></tr>
</table>

</FORM>

             



<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
<!--#include virtual="./script.txt" -->
<!--#include virtual="./end.txt" -->
 
