<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->
      <h2>Registration:</h2>
<!--**********************************************************-->
<!--starts content of the page-->

     <div id="welcome">

	<!--h2><p align="center"><font color="red">For security reasons, ALL attendees should carry a government-issued photo ID (passport / driving licence / PAN card / voter id card). Employer-issued ID cards will not be acceptable to the security personnel at the entrance to the conference venue.</p></font></h2-->

<table border="0" cellpadding="1" cellspacing="1">
 <tbody>
<tr><td>
<p>Registration for the FIRE 2010 Workshop is now open. The workshop will
feature talks by leading researchers in the area of Information Retrieval,
along side presentations by the participating research groups that took
part in the FIRE 2010 evaluation exercise.</p>
<p>To register, please go to: <a href="/fire/registration_form.html">/fire/registration_form.html.</a></p>
</td></tr>
</tbody>
</table>

<p><b>REGISTRATION FEES:</b></p>

<p><b>For Indian participants:</b> <br>
Students who are ACM/IEEE members: Rs. 750.<br>
Students who are not ACM/IEEE members: Rs. 1250.<br>
ACM/IEEE members from academic institutes: Rs. 1750.<br>
Other attendees from academic institutes: Rs. 2500.<br>
All other attendees: Rs. 5000.<br>
<br><b>For Non-Indian participants:</b> <br>
ACM/IEEE members: USD 75.<br>
Others: USD 100.
</p>

<p><b>Space is limited. Please register early.</b></p>

<br>
<p><b>ACCOMMODATION:</b></p>

<p><b>Please fill up the form  available at <a href="http://spreadsheets.google.com/viewform?formkey=dEpnLTV1VFpNZEJRVVdXVlFqQlB1ekE6MA">&nbsp<font size=2>  Here</font></a> </b></p>

<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./script.txt" -->
<!--#include virtual="./end.txt" -->

