<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.html" -->
<!--**********************************************************-->      
<!--**********************************************************-->
<!--starts content of the page-->

<div class="right">

<h2>Resources</h2>
<br/>

<b>FIRE</b><br/>
<hr/>
<a href="/fire/data_2011.html">Data</a><br/>
<a href="/fire/data/sample_query.txt">Sample Query (en)</a><br/>
<a href="/fire/data/sample_docu.txt">Sample Document (bn)</a><br/>
<br/>

<b>OTHER EVALUTION FORUMS</b><br/>
<hr/>
 
<a href="http://trec.nist.gov/">Text REtrieval Conference (TREC)</b></a><br/>
<a href="http://www.clef-campaign.org/">Cross-Language Evaluation Forum (CLEF)</b></a><br/>
<a href="http://research.nii.ac.jp/ntcir/workshop/">NII Test
Collection for IR Systems (NTCIR Workshops)</b></a><br/>
<br/>

<b>LINGUISTIC RESOURCES</b><br/>
<hr/>

<a href="/fire/data/bn.abp.lexicon.txt.gz" >Bengali Anandabazar Lexicon</a><br/>
<a href="/fire/data/clia-stemmer.tgz" >Stemmer</a><br/>
<a href="/fire/data/bn.stopwords.txt" >Bengali Stopword List</a><br/>

<a href="http://hi.wikipedia.org/">Hindi</a><br/>
<a href="http://bn.wikipedia.org/">Bangla</a><br/>
<a href="http://mr.wikipedia.org/">Marathi</a><br/>
<a href="http://ta.wikipedia.org/">Tamil</a><br/>
<a href="http://te.wikipedia.org/">Telugu</a><br/>
<a href="http://pa.wikipedia.org/">Punjabi</a><br/>
<a href="http://ml.wikipedia.org/wiki/">Malayalam</a><br/>
<br/>

<b>OTHER RESOURCES</b><br/>
<hr/>

<a href="http://www.bengalinux.org/cgi-bin/abhidhan/bdict.pl">Ankur's English to Bengali dictionary</a><br/>
<a href="http://home.uchicago.edu/~cbs2/banglainstruction.html" >Bangla Dictionary, language learning kit</a><br/>
<!--<a href="http://barnamala.org/">Bengali Barnamala (বর্ণমালা)</</a>-->
<a href="http://bengali-thesaurus.net">Bengali-English Thesaurus</a><br/>
<a href="http://en.wikipedia.org/wiki/Bengali_language">Bengali language</a><br/>
<a href="http://www.websters-online-dictionary.org/translation/Bengali+%2528Transliterated%2529/">Bengali (transliterated) English Dictionary</a><br/>
<a href="http://bn.wikisource.org/wiki/">Bengali wikisource (উইকিসংকলন)</a><br/>
<a href="http://www.cfilt.iitb.ac.in/wordnet/webhwn/">Hindi Wordnet</a><br/>
<a href="http://ltrc.iiit.ac.in/showfile.php?filename=downloads/">Language Technologies Research Center (IIIT Hyderabad)</a><br/>
<a href="http://www.cfilt.iitb.ac.in">Resource Center for Indian Language Technology Solutions</a><br/>
<br/>

</div>
<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
