<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.html" -->
<!--**********************************************************-->      
<!--**********************************************************-->
<!--starts content of the page-->

      <div class="right">
	<a name="top"></a>
        <!--img src="images/fire.jpg" width="171" height="137" alt="Pic 1" class="left" /-->
<h2><p align="center"><font size=2><b><a href="#oth_eval">OTHER EVALUTIONS</a>  |  <a href="#ling_res">LINGUISTIC RESOURCES</a>  |  <a href="#oth_res">OTHER RESOURCES</a></b></font></p></h2>
	<a name="oth_eval"></a>
	<TABLE BORDER=0>
                <TR><TD height=25 width=120></TD><TD height=10 width=300></td></TR>
                <TR><TD height=30 width=120></TD><TD height=40 width=300><font color="#555666" size=3><u><b><a href="/fire/data_download.html">FIRE DATA</a>
</b></u><font></TD></tr>
        </table>
	<!--TABLE BORDER=0>
                 <TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="/fire/data_download.html">Ad-hoc Training Data</b></a></li></TD></tr>
	</table-->
       <TABLE BORDER=0>
		<TR><TD height=10 width=120></TD><TD height=10 width=300></td></TR>
	</table> 

<h2>OTHER EVALUTIONS</h2>
 
	<TABLE BORDER=0>                                   
<TR><TD height=20 width=120></TD><TD HEIGHT="20"></TD></TR>
<TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="http://trec.nist.gov/">Text REtrieval Conference(TREC)</b></a></li></TD></tr>
<TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="http://www.clef-campaign.org/">CLEF (Cross-Language Evaluation Forum)</b></a></li></TD></tr>
		<TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="http://research.nii.ac.jp/ntcir/workshop/">NTCIR workshops</b></a></li></TD></tr>
<TR><TD height=20 width=120></TD><TD HEIGHT="20"></TD></TR>
	</table>

<h2>LINGUISTIC RESOURCES</h2>
<a name="ling_res"></a>
	<TABLE BORDER=0>
<TR><TD height=20 width=120></TD><TD HEIGHT="20"></TD></TR>
        <!--TR><TD WIDTH="250" HEIGHT="35"><B><a href="">Brief Introduction on Indian Languages<B></TD></TR-->
        <!--TR><TD WIDTH="250" HEIGHT="35"><B><a href="">Talks<B></TD></TR-->
        <TR><TD height=30 width=120></TD><TD HEIGHT="30"><B><li><a href="/fire/Corpus_query_rel/Bengali_abp_lexicon.txt" >Bengali Anandabazar Lexicon</a></li><B></TD></TR>
        <TR><TD height=30 width=120></TD><TD HEIGHT="30"><B><li><a href="/fire/Corpus_query_rel/clia-stemmer.tgz" >Stemmer</a></li><B></TD></TR>
	<TR><TD height=30 width=120></TD><TD HEIGHT="30"><B><li><a href="/fire/stopwords_list_ben.txt" >Bengali Stopword List</a></li><B></TD></TR>
        <TR><TD height=30 width=120></TD><TD HEIGHT="30"><B><li><a href="/fire/sample_query.txt" >Sample Query (in English)</a></li><B></TD></TR>
        <TR><TD height=30 width=120></TD><TD HEIGHT="30"><B><li><a href="/fire/sample_docu.txt" >Sample Document (in Bengali)</a></li><B></TD></TR>
<TR><TD height=20 width=120></TD><TD HEIGHT="20"></TD></TR>

	<TR><TD height=20 width=120></TD><TD HEIGHT="20"><h9>Wikipedia</h9></TD></TR>

 <TR><TD height=20 width=120></TD><TD HEIGHT="20"></TD></TR>

	<TR><TD height=20 width=120></TD><TD HEIGHT="20"><B><li><a href="http://hi.wikipedia.org/">Hindi</a></li><B></TD></TR> 
	<TR><TD height=20 width=120></TD><TD HEIGHT="20"><B><li><a href="http://bn.wikipedia.org/">Bangla</a></li><B></TD></TR>
	<TR><TD height=20 width=120></TD><TD HEIGHT="20"><B><li><a href="http://mr.wikipedia.org/">Marathi</a></li><B></TD></TR>
	<TR><TD height=20 width=120></TD><TD HEIGHT="20"><B><li><a href="http://ta.wikipedia.org/">Tamil</a></li><B></TD></TR>
	<TR><TD height=20 width=120></TD><TD HEIGHT="20"><B><li><a href="http://te.wikipedia.org/">Telugu</a></li><B></TD></TR>
	<TR><TD height=20 width=120></TD><TD HEIGHT="20"><B><li><a href="http://pa.wikipedia.org/">Punjabi</a></li><B></TD></TR>
	<TR><TD height=20 width=120></TD><TD HEIGHT="20"><B><li><a href="http://ml.wikipedia.org/wiki/">Malayalam</a></li><B></TD></TR>
<TR><TD height=20 width=120></TD><TD HEIGHT="20"></TD></TR>
</TABLE>

<h2>OTHER RESOURCES</h2>

<a name="oth_res"></a>
	<TABLE BORDER=0>
 <TR><TD height=20 width=120></TD><TD HEIGHT="20"></TD></TR>
		 <TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="http://www.bengalinux.org/cgi-bin/abhidhan/bdict.pl">Ankur's English to Bengali dictionary</b></a></li></TD></tr>
		<tr><TD height=30 width=120></TD><TD height=30 width=300><B><li><a href="http://home.uchicago.edu/~cbs2/banglainstruction.html" >Bangla Dictionary, language learning kit</a></li><B></TD></TR>
		<!--TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="http://barnamala.org/">Bengali Barnamala (বর্ণমালা)</b></</a></li></TD></TRTR-->
		<TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="http://bengali-thesaurus.net">Bengali-English Thesaurus</a></b></li></TD></TR>
		<TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="http://en.wikipedia.org/wiki/Bengali_language">Bengali language</a></b></li></TD></TR>
		<TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="http://www.websters-online-dictionary.org/translation/Bengali+%2528Transliterated%2529/">Bengali (transliterated) English Dictionary</b></a></li></TD></TR>
		<TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="http://bn.wikisource.org/wiki/">Bengali wikisource (উইকিসংকলন)</a></b></li></TD></TR>
		<TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="http://www.cfilt.iitb.ac.in/wordnet/webhwn/">Hindi Wordnet</a></b></li></TD></TR>
		<tr><TD height=30 width=120></TD><TD height=30 width=300><B><li>
<a href="http://ltrc.iiit.ac.in/showfile.php?filename=downloads/">Language Technologies Research Center (IIIT Hyderabad)</a></li></B></TD></TR>
		<TR><TD height=30 width=120></TD><TD height=30 width=300><li><b><a href="http://www.cfilt.iitb.ac.in">Resource Center for Indian Language Technology Solutions</a></b></li></TD></TR>

</TABLE>  
</div>
<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
