<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.txt" -->
<!--**********************************************************-->


<!--**********************************************************-->
<!--starts content of the page-->


      <div id="welcome">
	
                        <font size=2><center>  <b> SEMINAR NOTICE</center></font>
<br><br>
Title:</b> Hard science problems at the core of web search
<br><br>
<b>Speaker:</b> Prabhakar Raghavan<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
        Head Yahoo! Labs and Consulting Professor, Stanford University
<br><br>
<b>Venue:</b> CVPR Seminar Room, 8th Floor, SN Bose Bhavan (Library Building)
<br><br>
<b>Date:</b> 3:30 PM, 16 March 2009
<br><br><br>

<b>Abstract:</b><br>
Web search is undergoing an evolution from high-precision document retrieval
for keyword queries, to fulfilling the task implicit in a user's search. We
review examples of this in major search engines, then survey the underlying
hard science problems both in computer science and in the social sciences.
<br>
<br>
<b>About the speaker:</b><br>
Prabhakar Raghavan is the Head of Yahoo! Labs. He is a Consulting Professor
of Computer Science at Stanford and is Editor-in-Chief of the Journal of
the ACM. He received his PhD from Berkeley, is a Member of the National
Academy of Engineering and a Fellow of the ACM and of the IEEE. Prior to
joining Yahoo! he was Senior Vice President and Chief Technology Officer at
Verity, before which he held various technical and managerial positions at
IBM Research. Raghavan is the author of textbooks on algorithms and on
information retrieval, over 100 papers and over a dozen patents.
<br>
<br>
All are cordially invited.
        


<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.txt" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
