<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.html" -->
<!--**********************************************************-->

<!--**********************************************************-->
<!--starts content of the page-->

<div class="right">

<!--#include virtual="./speakerlist.html" -->

</div>

<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
