<!-- This file is included in index.html and tasks.html -->
<table>
<tr>

<td width=15%>
<ul>
<li><a href="./adhoc.html">Adhoc</a><br/>
<li><a href="http://users.dsic.upv.es/grupos/nle/fire-workshop-clitr.html">CL!TR</a><br/>
</ul>
</td>

<td width=25%>
<ul>
<li><a href="https://sites.google.com/site/mlaffire">MLAF</a><br/>
<li><a href="http://www.cngl.ie/Fire-PIR/PIR.htm">Personalised IR</a><br/>
</ul>
</td>

<td width=35%>
<ul>
<li><a href="../risot/risot.html">RISOT</a><br/>
<li><a href="../faq-retrieval/faq-retrieval.html">SMS-based&nbsp;FAQ Retrieval</a><br/>
</ul>
</td>

<td width=25%>
<ul>
<li><a href="http://www.cfilt.iitb.ac.in/~fire2011-wsd/">WSD for IR</a><br/>
</ul>
</td>

</tr>
</table>
