<!--#include virtual="./start.txt" -->
<!--#include virtual="./head.html" -->
<!--**********************************************************-->

<!--**********************************************************-->
<!--starts content of the page-->


<div class="right">
<!--h2>Adhoc monolingual and cross-lingual document retrieval</h2-->
<left>

<h2>Tasks</h2>
<!--#include virtual="./tasklist.html" -->

<h2>Task Coordinators</h2>

<br/>

<hr/>
<a href="./regsearch.html">Search for participants.</a>
<hr/>

<br/>

<b><a href="./adhoc.html" name="Adhoc">Adhoc</a></b><br/>
<ul>
<li><a href="http://www.cse.iitb.ac.in/~pb/">Pushpak Bhattacharyya</a>, 
  <a href="mailto:pb@cse.iitb.ac.in">pb@cse.iitb.ac.in</a> 
  for Marathi<br/>
<li><a href="http://www.isical.ac.in/~dipasree_t/">Dipasree Pal</a>, 
  <a href="mailto:dipasree_t@isical.ac.in">dipasree_t@isical.ac.in</a> 
  for Bengali, Hindi and English<br/>
<li><a href="http://www.idi.ntnu.no/~rajendra/">Rajendra Prasath</a>,
  <a href="mailto:drrprasath@gmail.com">drrprasath@gmail.com</a> 
  for Tamil<br/>
<li><a href=#>Khusboo A. Singhal</a>,
  <a href="mailto:khushboo.a.singhal@gmail.com">khushboo.a.singhal@gmail.com</a> 
  for Gujarati<br/>
</ul>

<b><a href="http://users.dsic.upv.es/grupos/nle/fire-workshop-clitr.html" name="CLTR">CL!TR : <i>Cross-Language !ndian Text Reuse</a></b></i><br/>
<ul>
<li><a href="http://www.dsic.upv.es/~lbarron">Alberto Barr&oacute;n Cede&ntilde;o</a>, 
  <a href="mailto:lbarron@dsic.upv.es">lbarron@dsic.upv.es</a><br/>
<li><a href="http://ir.shef.ac.uk/cloughie">Paul Clough,</a>
  <a href="mailto:p.d.clough@sheffield.ac.uk">p.d.clough@sheffield.ac.uk</a><br/>
<li><a href="http://www.dsic.upv.es/~prosso">Paolo Rosso,</a> 
  <a href="mailto:prosso@dsic.upv.es">prosso@dsic.upv.es</a><br/>
<li><a href="http://nlp.au-kbc.org/sobha.html">L Sobha,</a>
  <a href="mailto:sobha@au-kbc.org">sobha@au-kbc.org</a><br/>
<li><a href="http://staffwww.dcs.shef.ac.uk/people/M.Stevenson">Mark Stevenson,</a>
  <a href="mailto:M.Stevenson@dcs.shef.ac.uk">M.Stevenson@dcs.shef.ac.uk</a><br/>
</ul>

<b><a name="MLAF" href="https://sites.google.com/site/mlaffire">MLAF : <i>Mailing Lists and Forums</i></a></b><br/>
<ul>
<li><a href="http://www.isical.ac.in/~ayan_t/">Ayan Bandyopadhyay</a>, 
  <a href="mailto:ayan_t@isical.ac.in">ayan_t@isical.ac.in</a><br/>
<li><a href="http://domino.watson.ibm.com/comm/research_people.nsf/fire/deb.index.html">Debapriyo Majumdar</a>, 
  <a href="mailto:debapriyo@in.ibm.com">debapriyo@in.ibm.com</a>
</ul>

<b><a href="http://www.cngl.ie/Fire-PIR/PIR.htm" name="PIR">Personalised IR</a></b><br/>
<ul>
<li><a href="http://www.computing.dcu.ie/~dganguly">D. Ganguly</a>, 
  <a href="mailto:dganguly@computing.dcu.ie">dganguly@computing.dcu.ie</a><br/>
<li><a href="http://www.computing.dcu.ie/~gjones">G.J.F. Jones</a>, 
  <a href="mailto:gjones@computing.dcu.ie">gjones@computing.dcu.ie</a><br/>
<li><a href="http://www.computing.dcu.ie/~jleveling">Johannes Leveling</a>, 
  <a href="mailto:jleveling@computing.dcu.ie">jleveling@computing.dcu.ie</a><br/>
</ul>

<b><a href="./risot/risot.html" name="RISOT">RISOT : <i>Retrieval from Indic Script OCRed Text</i></a></b><br/>
<ul>
<li><a href="">Utpal Garain</a>, 
  <a href="mailto:utpal@isical.ac.in">utpal@isical.ac.in</a></li>
</ul>

<b><a href="./faq-retrieval/faq-retrieval.html" name="SMS">SMS-based FAQ Retrieval</a></b><br/>
<ul>
<li><a href="https://sites.google.com/site/danishcontractor1/home">Danish Contractor</a>, 
  <a href="mailto:dcontrac@in.ibm.com">dcontrac@in.ibm.com</a><br/>
<li>Ankush Mittal, <!-- http://www.iitr.ac.in/~ECE/ankumfec : Is he who he is ?-->
  <a href="mailto:dr.ankush.mittal@gmail.com">dr.ankush.mittal@gmail.com</a><br/>
<li><a href="http://domino.research.ibm.com/comm/research_people.nsf/fire/deepaksp.index.html">Deepak S Padmanabhan</a>, 
  <a href="mailto:deepak.s.p@in.ibm.com">deepak.s.p@in.ibm.com</a><br/>
<li><a href="http://domino.research.ibm.com/comm/research_people.nsf/fire/lvsubram.index.html">LV Subramaniam</a>, 
  <a href="mailto:lvsubram@in.ibm.com">lvsubram@in.ibm.com</a><br/>
</ul>

<b><a href="http://www.cfilt.iitb.ac.in/~fire2011-wsd/">Word Sense Disambiguation for IR</a></b><br/>
<ul>
<li><a href="http://www.cse.iitb.ac.in/~pb/">Pushpak Bhattacharyya</a>, 
  <a href="mailto:pb@cse.iitb.ac.in">pb@cse.iitb.ac.in</a><br/>
<li><a href="http://www.cse.iitb.ac.in/~miteshk/">Mitesh Khapra</a>, 
  <a href="mailto:khapra.mitesh@gmail.com">khapra.mitesh@gmail.com</a><br/>
</ul>

</left>
</div>
<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
<!--#include virtual="./end.txt" -->
