<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Forum for Information Retrieval Evaluation</title>
<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />

<!------ Google Analytics block ------->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25226802-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!------------------------------------->
</head>
<body>
<div id="wrap">
<div id="header">
<table CELLSPACING=0 CELLPADDING=0 border=0 width=100% height=100%>
<tr>
  <td width=175 height=40 rowspan=3>
    <a href="http://www.irsi.res.in/"><img src="./images/logo/irsi-logo.png" border=0></a> 
  </td>
</tr>
<tr>
  <td>
    <h1>
      <p align=center><font size=10>F</font>orum for <font size=10>I</font>nformation
	<font size=10>R</font>etrieval <font size=10>E</font>valuation</p>
    </h1>
    <br/>
    <h1><p align=center><font size=6>( FIRE )</font></p></h1>
    <br/>
    <font size=3><b>17 - 19 December 2012<br/>Indian Statistical Institute, Kolkata</b></font>

    <br>
  </td>
</tr>
</table>
</div>

<div class="menu">
<h2>Sponsors</h2>
<center>
  <br/>
  <hr/>
  <i>Gold Sponsor</i>
  <hr/>
  <a href="http://www.google.com">
    <img src="./images/logo/google-gold.png" width=96% border=0/>
  </a>
  <!--br/>
  <br/> 
  <a href="http://research.microsoft.com/en-us/labs/india">
    <img src="./images/logo/msri3.png" border=0/><br/>
  </a-->
  <br/> 
  <a href="http://mit.gov.in/">
    <img src="./images/logo/ashok.jpg" border=0/><br/>
    <i>D.I.T. Government of India</i>
  </a>
</center>
<h2>News</h2>
<br/>
<center>
<a href="http://www.facebook.com/fire.forum"><img src="images/facebook-button.png"/></a>
<a href="https://twitter.com/fire_forum"><img src="images/twitter-button.png"/></a>
<br/>
<hr/><hr/>
  <table border="0">
    <tr>
      <td class="note">
	<a href="http://irsi.res.in/fire">mirrored</a> &bull; Fri Dec  7 20:06:11 EST 2012
      </td>
    </tr>
  </table>
<hr/><hr/>
</center>
<br/>
<img src="./images/logo/lncs_logo-300x111.gif" width=100% border=0 alt="LNCS"/><br/>
<i><a href="http://www.springer.com">Springer</a> will publish the post-proceedings of FIRE 2010 &amp; 2011 as
  an <a href="http://www.springer.com/lncs">LNCS</a> proceedings.</i><br/>
<br/>
<img src="./images/logo/talip-logo.gif" width=100% border=0 alt="ACM TALIP"/><br/>
<i>ACM TALIP Vol 9, <a href="http://portal.acm.org/citation.cfm?id=1838745&picked=prox">Issue 3</a> & <a href="http://portal.acm.org/citation.cfm?id=1838751&picked=prox&CFID=7378897&CFTOKEN=88472882">Issue 4</a>. Special issue on ILIR.<br/></i>
<br/>
</div>
