<!--#include virtual="head.html" -->
<div class="right">
<h2>Objective</h2>
<body>
<table>
  <tbody>
    <br>
    <tr><td>
	<p>
	  The importance of reusable, large-scale standard test
	  collections in Information Access research has been widely
	  recognized. The success of TREC, CLEF, and NTCIR has clearly
	  established the importance of an evaluation workshop that
	  facilitates research by providing the data and a common
	  forum for comparing models and techniques. The Forum for
	  Information Retrieval Evaluation (FIRE) follows in the
	  footsteps of TREC, CLEF and NTCIR with the following aims:
	</p>
	
	<ul>
	  <li>Encourage research in South Asian language Information
	    Access technologies by providing reusable large-scale test
	    collections for ILIR experiments.</li>
	  <li>Explore new Information Retrieval / Access tasks that
	    arise as our information needs evolve, and new needs
	    emerge.</li>
	  <li>Provide a common evaluation infrastructure for comparing
	    the performance of different IR systems.</li>
	  <li>Investigate evaluation methods for Information Access
	    techniques and methods for constructing a reusable
	    large-scale data set for ILIR experiments.</li>
	</ul>
    </td></tr>
  </tbody>
</table>
</body>

<h2>Tasks</h2>
<!-- This list grows outwards from the centre, hence centered. -->
<br/>
<ul>
  <li><a href="adhoc.html">Adhoc</a></li>
  <li><a href="http://users.dsic.upv.es/grupos/nle/clinss.html">Cross-Language
  !ndian News Story Search (CL!NSS)</a></li>
  <li><a href="/fire/morpho/MET.html">Morpheme
  ExtractionTask (MET)</a></li>
  <li><a href="http://www.cngl.ie/Fire-PIR/PIR.htm">Collaborative Information
  Retrieval (CIR)</a></li>
  <li><a href="/fire/risot/risot2012.html">Retrieval
  from Indic Script OCR'd Text (RISOT)</a></li>
  <li><a href=" /fire/faq-retrieval/2012/faq-retrieval.html">SMS-based&nbsp;FAQ Retrieval</a></li>
</ul>

<br/>

<h2>Invited speakers</h2>
<i>
  <ul>
    <!--li>
      <a href="http://kansas.ru/pb/index_en.html">
        Pavel Braslavski, Ural Federal University, Russia.
      </a>
    </li-->

    <!--li>
      <a href="http://semanticweb.kaist.ac.kr/home/index.php/Keysun_Choi">
        Key-Sun Choi, KAIST, Republic of Korea 
      </a>
    </li-->

    <li>
    <a href="http://www.cse.iitb.ac.in/~soumen/">Soumen Chakrabarti, IIT Bombay</a>
    </li>

    <li>
    <a href="http://ims.dei.unipd.it/websites/archive/ims2009/members/ferro/">
    Nicola Ferro, University of Padova, Italy.
    </a>
    </li>

    <li>
    <a href="http://staff.science.uva.nl/~kamps/">
    Jaap Kamps, University of Amsterdam, The Netherlands.
    </a>
    </li> 

    <li>
    <a href="http://terpconnect.umd.edu/~oard/">
    Doug Oard, University of Maryland, USA.
    </a>
    </li>

    <!-- li>
    <a href="http://www.dcs.gla.ac.uk/~ounis/">
    Iadh Ounis, University of Glasgow, UK.
    </a>
    </li -->

    <li>
    <a href="http://users.dsic.upv.es/~prosso/">
    Paolo Rosso, Universidad Politécnica de Valencia, Spain.
    </a>
    </li>
 
    <li>
    <a href="http://www.dis.uniroma1.it/~santucci/">
    Giuseppe Santucci, Sapienza University of Rome, Italy.
    </a>
    </li>
  </ul>
</i>

<h2>Industry track speakers</h2>
<i>
  <ul>
    <li>
    <a href="http://mypage.rediff.com/ajit-balakrishnan/3539086">Ajit Balakrishnan, Rediff.</a>
    </li>

    <li>
    <a href="http://www.linkedin.com/in/sreeharinagaralu">
    Sree Hari Nagaralu, Bing Relevance and Data Sciences, Microsoft India.
    </a>
    </li>

    <li>
    <a href="http://www.tcs-trddc.com/trddc_website/scripts/people_page.php?emp_number=1">
    Girish Keshav Palshikar, Tata Consultancy Services, India.
    </a>
    </li>
  </ul>
</i>
</div>
<!--#include virtual="foot.html" -->
