<head>
<title></title>
</head>
<body>
<h2>Room assignment (subject to change)</h2>
<table width="100%">
  <tr>
    <td><b>Name</b></td> <td align="center"><b>Room</b></td> <td><b>Arrival</b></td> <td><b>Departure</b></td>
  </tr>
  <tr>
    <td>Parth Gupta</td>
    <td align="center">1</td>
    <td>16 Dec (PM)</td>
    <td>20 Dec (AM)</td>
  </tr>
  <tr>
    <td>N. Mehala</td>
    <td align="center">2</td>
    <td>17 Dec (AM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Anwar Shaikh</td>
    <td align="center">3</td>
    <td>16 Dec (AM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Bibhuprasad Sahoo</td>
    <td align="center">3</td>
    <td>17 Dec (AM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Rakesh Balabantaray</td>
    <td align="center">4</td>
    <td>17 Dec (AM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Aarti Kumar</td>
    <td align="center">5</td>
    <td>16 Dec (PM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Rekha Vaidyanathan</td>
    <td align="center">5</td>
    <td>16 Dec (PM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Santosh Kumar Behera</td>
    <td align="center">6</td>
    <td>17 Dec (AM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Sujoy Das</td>
    <td align="center">7</td>
    <td>16 Dec (PM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Yurii Palkovskii</td>
    <td align="center">8</td>
    <td>15 Dec (AM)</td>
    <td>21 Dec (AM)</td>
  </tr>
  <tr>
    <td>Rajendra Prasath</td>
    <td align="center">9</td>
    <td>16 Dec (PM)</td>
    <td>20 Dec (AM)</td>
  </tr>
  <tr>
    <td>Pattabhi RK</td>
    <td align="center">9</td>
    <td>17 Dec (AM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Monalisa Swain</td>
    <td align="center">11</td>
    <td>17 Dec (AM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Sangameshwar Patil</td>
    <td align="center">12</td>
    <td>17 Dec (AM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Girish Palshikar</td>
    <td align="center">13</td>
    <td>17 Dec (AM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Sree Hari Nagaralu</td>
    <td align="center">14</td>
    <td>18 Dec (PM)</td>
    <td>19 Dec (PM)</td>
  </tr>
  <tr>
    <td>Sukomal Pal</td>
    <td align="center">15</td>
    <td>16 Dec (PM)</td>
    <td>19 Dec (PM)</td>
  </tr>
</table>
<br/>
</body>
