<!--#include virtual="./head.html" -->
<!--**********************************************************-->

<!--**********************************************************-->
<!--starts content of the page-->


<!-- TEMPLATE
<li>
  <b><a name="NAME">TITLE LINE</a></b>
  <a href="./slides/FILE.pdf"><img src="./images/pdf.png"/></a>
  (<a href="abstracts.html#IN-PAGE-LINK">Abstract</a>)<br/>
  - John Doe, DESIGNATION.<br/>
</li>
-->

<!-- TEMPLATE
<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td colspan="3" bgcolor="#eee9e9">Keynotes</td></tr>
<tr>
  <td><a href="slides/slide.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Title</i><br/> - Author, Institute<br/>
  </td>
  <td><a href="#">Abstract</a></td>
</tr>
</table>
-->

<div class="right">

<h2>Presentations</h2>

<br/>

<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td colspan="3" bgcolor="#eedfcc"><b>Overview talks</b><br/></td></tr>
<tr>
  <td><a href="slides/overview_prasenjit_fire2012.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>FIRE 2012 Overview</i><br/> -
    Prasenjit Majumder<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/clia_mandar_fire2012.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>CLIA Project Overview</i><br/> -
    Mandar Mitra<br/>
  </td>
  <td></td>
</tr>
<tr>

<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td colspan="3" bgcolor="#eedfcc"><b>Keynotes</b><br/></td></tr>
<tr>
  <td><a href="slides/keynote_search_doug_fire2012.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Searching (almost) all the world's words
    </i><br/> - Doug Oard, University of Maryland, College Park, USA.<br/>
  </td>
  <td><a href="abstracts.html#doug">Abstract</a></td>
</tr>
<tr>
  <td><a href="slides/keynote_eval_nicola_fire2012.pdf"><img src="images/pdf.png"/></a><br/></td>
  <td>
    <i>Evaluation infrastructures for IR experimentation</i><br/> - Nicola Ferro, University of
    Padova, Italy.<br/>
  </td>
  <td><a href="abstracts.html#nicola">Abstract</a></td>
</tr>
<tr>
  <td><a href="slides/keynote_figurat_paolo_fire2012.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Figurative language processing in social media: humor recognition and irony
     detection</i><br/> - Paolo Rosso, Universidad Politécnica de Valencia, Spain.<br/>
  </td>
  <td><a href="abstracts.html#paolo">Abstract</a></td>
</tr>
<tr><!--slides/keynote__fire2012.pdf-->
  <td><a href="slides/keynote_visual_giuseppe_fire2012.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Visual analytics and Information Retrieval
    </i><br/> - Giuseppe Santucci, Sapienza University of Rome, Italy.<br/>
  </td>
  <td><a href="abstracts.html#giuseppe">Abstract</a></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i>Social book search: the impact of professional and user generated content on 
    book suggestions</i><br/> - Jaap Kamps, University of Amsterdam, The Netherlands.<br/>
  </td>
  <td><a href="abstracts.html#jaap">Abstract</a></td>
</tr>
<tr><!--slides/keynote__fire2012.pdf-->
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i>Compressed data structures for annotated Web search</i><br/> - Soumen Chakrabarti,
     IIT, Bombay.<br/>
  </td>
  <td><a href="abstracts.html#soumen">Abstract</a></td>
</tr>
</table>
<br/>


<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td colspan="3" bgcolor="#eedfcc"><b>Track overviews</b><br/></td></tr>
<tr>
  <td><a href="slides/to_cir_johannes_fire2012.ppt"><img src="images/ppt.png"/></a></td>
  <td>
    <i>CIR</i><br/> - Johannes Leveling, Dublin City University.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/clinss_parth_fire2012.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>CL!NSS</i><br/> - Parth Gupta, NLE Lab, UPV Spain.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/to_met_rashmi_fire2012.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>MET</i><br/> - Rashmi Sankepally, DAIICT, Gandhinagar.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i>SMS</i><br/> - Danish Contractor.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/to_risot_utpal_fire2012.ppt"><img src="images/ppt.png"/></a></td>
  <td>
    <i>RISOT</i><br/> - Utpal Garain, ISI, Kolkata.<br/>
  </td>
  <td></td>
</tr>
</table>
<br/>
<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td colspan="3" bgcolor="#eedfcc"><b>CL!NSS track talks </b><br/></td></tr>
<tr>
  <td><a href="slides/clinss_yurii_fire2012.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Using TF-IDF Weight Ranking Model in CLINSS as Effective Similarity Measure
     to Identify Cases of Journalistic Text Re-use</i><br/> - Yurii Palkovskii, 
     School of Computing, CNGL, Dublin City University.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/clinss_nitish_fire2012.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Cross-Lingual Linking of News Stories using ESA</i><br/>
     - Nitish Aggarwal, School of Computing, CNGL, Dublin City University.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i>CLINSS discussant talk</i><br/> - Doug Oard, University of Maryland, 
    College Park, USA.<br/>
  </td>
  <td></td>
</tr>
</table>
<br/>

<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td colspan="3" bgcolor="#eedfcc"><b>ADHOC track talks </b><br/></td></tr>
<tr>
  <td><a href="slides/adhoc_rajendra_fire2012.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Query Expansion using PRF based CBD approach for Documents Retrieval</i><br/>
     - Rajendra Prasath, IIT Kharagpur.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i></i> - Pinaki Bhaskar, Jadavpur University.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/adhoc_avinash_fire2012.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Adhoc Retrieval Task & Morpheme Extraction Task</i><br/> - Avinash Yadav, 
    Robins Yadav, ISM Dhanbad.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i></i> - Santosh Behera, AICTE.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i></i> - Bibhuprasad Sahoo.<br/>
  </td>
  <td></td>
</tr>
</table>
<br/>


<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td colspan="3" bgcolor="#eedfcc"><b>MET track talks </b><br/></td></tr>
<tr>
  <td><a href="slides/met_johannes_fire2012.ppt"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Bengali and Hindi Morpheme Extraction</i><br/> - Johannes Leveling, 
    Dublin City University.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i>Mulaadhaar - a linguistic rule-based stemmer</i><br/>
     - Sandipan Sarkar.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i>Bangla morphological analyzer using finite automata</i><br/> - 
    Apurbalal Senapati, ISI Kolkata.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i>Stemmer for Odia</i><br/> - Bibhuprasad Sahoo, IIIT Bhubaneswar.<br/>
  </td>
  <td></td>
</tr>
</table>
<br/>


<table width="100%" border="0" cellpadding="0" cellspacing="5">
  <tr><td colspan="3" bgcolor="#eedfcc"><b>SMS track talks</b><br/></td></tr>
<tr>
  <td><a href="slides/sms_johannes_fire2012.ppt"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Monolingual and Crosslingual SMS-based FAQ Retrieval</i><br/>
     - Johannes Leveling, Dublin City University.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/sms_arthita_fire2012.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>SMS Based Monolingual FAQ retrieval in English</i><br/>
    - Arthita Ghosh, IIT, Kharagpur.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/sms_anwar_fire2012.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>SMS based FAQ Retrieval</i><br/> - Anwar Shaikh, Delhi Technological
    University.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/sms_debaprasad_fire2012.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>SMS based FAQ Retrieval: A Theme Matching Scheme</i><br/>
     - DP Mandal, ISI, Kolkata.<br/>
  </td>
  <td></td>
</tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="5">
  <tr><td colspan="3" bgcolor="#eedfcc"><b>RISOT track talk</b><br/></td></tr>
<tr>
  <td><a href="slides/risot_kripa_fire2012.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>Improving IR performance from OCRed text using cooccurrence</i><br/>
     - Kripabandhu Ghosh, ISI, Kolkata.<br/>
  </td>
  <td></td>
</tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="5">
  <tr><td colspan="3" bgcolor="#eedfcc"><b>Task proposals</b><br/></td></tr>
<tr>
  <td><a href="slides/task_proposal_monojit_fire2012.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Web Search in the transliterated space</i><br/> - Monojit Choudhury, MSR.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i>Spoken Web search task, or, Query by babbling</i><br/>
     - Doug Oard, University of Maryland, College Park, USA.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i>NER evaluation for Indian languages</i><br/> - L. Sobha, AU-KBC.<br/>
  </td>
  <td></td>
</tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="5">
  <tr><td colspan="3" bgcolor="#eedfcc"><b>Other evaluation forums</b><br/></td></tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i>NTCIR</i><br/> - Doug Oard, University of Maryland, College Park, USA.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/other_clef_nicola_fire2012.pdf"><img src="images/pdf.png"/></a></td>
  <td>
    <i>The CLEF initiative: from 2010 to 2013 and onwards</i><br/>
     - Nicola Ferro, University of Padova, Italy.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href=""><img src="images/nopdf.png"/></a></td>
  <td>
    <i>Report on INEX 2012</i><br/> - Jaap Kamps, University of Amsterdam, 
    The Netherlands.<br/>
  </td>
  <td></td>
</tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="5">
  <tr><td colspan="3" bgcolor="#eedfcc"><b>Industry track talks</b><br/></td></tr>
<tr>
  <td><a href="slides/industry_girish_fire2012.pptx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>iWork: Analytics for Human Resources Management</i><br/>
     - Girish K. Palshikar, TCS.<br/>
  </td>
  <td></td>
</tr>
<tr>
  <td><a href="slides/industry_sreehari_fire2012.ppsx"><img src="images/ppt.png"/></a></td>
  <td>
    <i>Rethinking Search in the era of new devices and services</i><br/>
     - Sree Hari Nagaralu, Bing.<br/>
  </td>
  <td></td>
</tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="5">
  <tr><td colspan="3" bgcolor="#eedfcc"><b>FIRE-2012 roundup</b><br/></td></tr>
<tr>
  <td><a href="slides/fire2012roundup.odp"><img src="images/ppt.png"/></a></td>
  <td>Prasenjit Majumder, DAIICT, Gandhinagar.<br/>
  </td>
  <td></td>
</tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="5">
  <tr><td colspan="3" bgcolor="#eedfcc"><b></b><br/></td></tr>
</table>


</div>

<!--ends content of the page-->
<!--**********************************************************-->

<!--**********************************************************-->
<!--#include virtual="./foot.html" -->
<!--**********************************************************-->
