<!--#include virtual="head.html" -->
<div class="right">
<h2>Schedule</h2>
  <center>  
  <p style="font-size:120%;color:red;align=center">
  <b>All talks will be held in the Platinum Jubilee Auditorium (PJA) unless
  otherwise specified.</b>
  </p>
  </center>
<table width="100%">

<!-- ============================================================ -->
  
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center>Day 1 : 17th December, 2012</center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>

<tr>
  <td height="20">09:00 &ndash; 10:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Registration</td>
</tr>
<tr>
  <td height="20">10:00 &ndash; 11:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Inauguration (Director, ISI)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Overview of CLIA project (Mandar Mitra)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Overview of FIRE 2012 (Prasenjit Majumder)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#doug">Searching (almost) all the world’s words
    (Doug Oard)</a>
  </td>
</tr>

<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">11:45 &ndash; 13:15</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Track overviews</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">CIR (Johannes Leveling)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">CL!NSS (Parth Gupta)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">MET (Rashmi Sankepally)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">SMS (Danish Contractor)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">RISOT (Utpal Garain)</td>
</tr>

<tr><th colspan="3"><center>LUNCH</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">14:15 &ndash; 15:15</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>SMS track talks</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Johannes Leveling</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Arthita Ghosh</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Anwar Shaikh</td>
</tr>

<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:30 &ndash; 15:50</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>SMS track talk</b>: DP Mandal</td> <!-- Nageshbhattu Sristi (?) -->
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:50 &ndash; 16:10</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>RISOT track talk</b>: Improving IR on OCR'd text using co-occurence (Kripabandhu Ghosh)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;">16:10 &ndash; 17:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Task proposal</b>: Web Search in the transliterated space (Monojit Choudhury, MSR)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Task proposal</b>: Spoken Web search task, or, Query by babbling
  (Doug Oard, UMD)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Task proposal</b>: NER evaluation for Indian languages (L. Sobha, AU-KBC)</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">17:00 &ndash; 18:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Steering committee meeting</b> - New Academic Building (NAB)</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">19:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Banquet</b> (Hotel Hindusthan International)</td>
</tr>


<!-- ============================================================ -->


<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center>Day 2 : 18th December, 2012</center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">10:00 &ndash; 10:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#nicola">Evaluation infrastructures for IR
    experimentation (Nicola Ferro)</a>
  </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;">10:45 &ndash; 11:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>MET track talks</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Johannes Leveling</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Mulaadhaar - a linguistic rule-based stemmer (Sandipan Sarkar)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Bangla morphological analyzer using finite automata (Apurbalal Senapati)</td>
</tr>

<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">12:00 &ndash; 13:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>MET track talk</b>: Stemmer for Odia (Bibhuprasad Sahoo)</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Adhoc track talks</b></td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Pinaki Bhaskar</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Rajendra Prasath</td>
</tr>

<tr><th colspan="3"><center>LUNCH</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">14:00 &ndash; 14:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Adhoc track talks</b></td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Avinash Yadav, Robins Yadav</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Santosh Behera</td>
</tr>

<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:00 &ndash; 15:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#paolo">Figurative language processing in social media: humor recognition and irony detection (Paolo Rosso)</a>
  </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:45 &ndash; 16:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>CLINSS track talks</b></td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Yurii Palkovskii</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">Nitish Aggarwal</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">16:45 &ndash; 17:15</td><td style="width:5%"></td>
  <td style="vertical-align:top;">CLINSS discussant talk (Doug Oard)</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">17:15 &ndash; 17:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">CLINSS panel discussion</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">17:30 &ndash; 19:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Poster session</b> - New Academic Building (NAB)</td>
</tr>


<!-- ============================================================ -->


<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center>Day 3 : 19th December, 2012</center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">10:00 &ndash; 10:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#giuseppe">Visual analytics and Information
    Retrieval (Giuseppe Santucci)</a>
  </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">10:45 &ndash; 11:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#jaap">Social book search: the impact of
    professional and user generated content on book suggestions (Jaap
    Kamps)</a>
  </td>
</tr>

<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">11:45 &ndash; 12:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#soumen">Compressed data structures for annotated
    Web search (Soumen Chakrabarti)</a>
  </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">12:30 &ndash; 13:15</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Other evaluation forums</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">NTCIR (Doug Oard)</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#clef">The CLEF initiative: from 2010 to 2013
    and onwards (Nicola Ferro)
    </a>
  </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#inex">Report on INEX 2012 (Jaap Kamps)</a>
  </td>
</tr>

<tr><th colspan="3"><center>LUNCH</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">14:15 &ndash; 15:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Industry session (Girish K. Palshikar, TCS)</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:00 &ndash; 15:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Industry session (Sree Hari Nagaralu, Bing)</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:45 &ndash; 16:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Industry session (Ajit Balakrishnan, Rediff)</td>
</tr>

<!--
<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:45 &ndash; 16:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">L. Sobha</td>
</tr> -->

</table>

</div>
<!--#include virtual="foot.html" -->

