<!--#include virtual="head.html" -->
<div class="right">

<!-- ============================================================ -->
<h2>Adhoc</h2>
<!-- ============================================================ -->

<ol>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/adhoc/adhoc_IITKGP.pdf">Query expansion using PRF-CBD approach for documents retrieval</a></b><br></font>
  <font size=2><i>R. Rajendra Prasath, Sudeshna Sarkar</i><br></font>
  <font size=2>Department of Computer Science and Engineering, Indian Institute of Technology, Kharagpur - 721302, India<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>
  
  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/adhoc/adhoc_ISM.pdf">ISM@FIRE-2012 adhoc retrieval task and morpheme extraction
task</a></b><br></font>
  <font size=2><i>Avinash Yadav, Robins Yadav, Sukomal Pal</i><br></font>
  <font size=2>Dept. of CSE, Indian School of Mines, Dhanbad, India<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/adhoc/adhoc_ITER.pdf">Automatic query expansion for Odia language</a></b><br></font>
  <font size=2><i>Santosh Kumar Behera</i><br></font>
  <font size=2>Department of Computer Science & Engg, Institute Of Technical Education & Research(ITER), Bhubaneswar<br></font> 
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/adhoc/adhoc_JU.pdf">Ad-hoc Information Retrieval focused on Wikipedia based Query Expansion and Entropy Based Ranking</a></b><br></font>
  <font size=2><i>Utsab Barman, Pintu Lohar, Pinaki Bhaskar, Sivaji Bandyopadhyay</i><br></font>
  <font size=2>Department of Computer Science and Engineering, Jadavpur University Kolkata - 700032, India<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>
  
</ol>


<!-- ============================================================ -->
<h2>SMS-based FAQ Retrieval (SMS)</h2>
<!-- ============================================================ -->

<ol>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/sms/SMS_DCU.pdf">DCU@FIRE2012: Monolingual and Crosslingual SMS-based FAQ Retrieval</a></b><br></font>
  <font size=2><i>Johannes Leveling</i><br></font>
  <font size=2>Centre for Next Generation Localisation, School of Computing, Dublin City University, Dublin 9, Ireland<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/sms/SMS_ALL.pdf">Mono-Lingual FAQ Retrieval</a></b><br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/sms/SMS_ALL.pdf">FAQ Retrieval System For Noisy SMS Queries</a></b><br></font>
  <font size=2><i>Nagesh Bhattu Sristi, Swapnil Ashok Jadhav</i><br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li><font size=2><b><a href="/fire/data/working-notes_2012/sms/SMS_ALL.pdf">SMS based FAQ Retrieval: A Theme Matching Scheme</a></b><br></font>
  <font size=2><i>Deba P. Mandal and Saptaditya Maiti</i><br></font>
  <font size=2>Machine Intelligence Unit, Indian Statistical Institute, Kolkata, India<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/sms/SMS_ALL.pdf">Improving Accuracy of SMS based FAQ retrieval – II</a></b><br></font>
  <font size=2><i>Anwar Shaikh<sup>*</sup>, Rajiv Ratn Shah<sup>#</sup></i><br></font>
  <font size=2><sup>*</sup> Delhi Technological University, Delhi<br><sup>#</sup> National University of Singapore, Singapore<br/></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

</ol>


<!-- ============================================================ -->
<h2>Cross-Language !ndian News Story Search (CL!NSS)</h2>
<!-- ============================================================ -->

<ol>
  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/clinss/CLINSS_overview.pdf">PAN@FIRE: Overview of the Cross-Language !ndian News Story Search (CL!NSS) Track</a></b><br></font>
  <font size=2><i>Parth Gupta<sup>*</sup>, Paul Clough<sup>#</sup>, Paolo Rosso<sup>*</sup>, and Mark Stevenson<sup>#</sup></i><br></font>
  <font size=2><sup>*</sup>NLE Lab - ELiRF, Universitat Politècnica de València, Spain<br><sup>#</sup>University of Sheffield, UK<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/clinss/CLINSS_ZSU.pdf">Using TF-IDF Weight Ranking Model in CLINSS as Effective Similarity Measure to Identify Cases of Journalistic Text Re-use</a></b><br></font>
  <font size=2><i>Yurii Palkovskii, Alexei Belov</i><br></font>
  <font size=2>Zhytomyr State University, MARS p.e., Plagiarism Detector Accumulator Project<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/clinss/CLINSS_DERI.pdf">Cross-Lingual Linking of News Stories using ESA</a></b><br></font>
  <font size=2><i>Nitish Aggarwal<sup>1</sup>, Kartik Asooja<sup>2</sup>, Paul Buitelaar<sup>1</sup>, Tamara Polajanar<sup>1</sup>, and Jorge Gracia<sup>2</sup></i><br></font>
  <font size=2><sup>1</sup>UNLP, DERI, NUIG, Galway, Ireland<br><sup>2</sup>OEG, UPM, Madrid, Spain</font><br>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

</ol>
      

<!-- ============================================================ -->
<h2>Retrieval from Indic Script OCR'd Text (RISOT)</h2>
<!-- ============================================================ -->

<ol>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/risot/RISOT_ISI.pdf">Improving IR performance from OCRed text using cooccurrence</a></b><br></font>
  <font size=2><i>Kripabandhu Ghosh and Anirban Chakraborty</i><br></font>
  <font size=2>Indian Statistical Institute, Kolkata, West Bengal, India<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

</ol>


<!-- ============================================================ -->
<h2>Morpheme ExtractionTask (MET)</h2>
<!-- ============================================================ -->

<ol>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/met/MET_JU.pdf">FIRE 2012 Working Notes: Morpheme Extraction Task Using Mulaadhaar – A Rule-based Stemmer for Bengali</a></b><br></font>
  <font size=2><i>Sandipan Sarkar<sup>#</sup>, Sivaji Bandyopadhyay<sup>*</sup></i><br></font>
  <font size=2><sup>#</sup>IBM India Kolkata, West Bengal, India, <sup>*</sup>Computer Science and Engineering Department, Jadavpur University Kolkata, West Bengal, India<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/met/MET_CNGL.pdf">DCU@FIRE-2012: Rule-based Stemmers for Bengali and Hindi</a></b><br></font>
  <font size=2><i>Debasis Ganguly, Johannes Leveling, and Gareth J.F. Jones</i><br></font>
  <font size=2>CNGL, School of Computing, Dublin City University, Dublin 9, Ireland<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/met/MET_ISI.pdf">Bangla Morphological Analyzer using Finite Automata: ISI @FIRE MET 2012</a></b><br></font>
  <font size=2><i>Apurbalal Senapati, Utpal Garain</i><br></font>
  <font size=2>CVPR Unit; Indian Statistical Institute; 203, B.T.Road; Kolkata – 700108<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/met/MET_IIITBh.pdf">IIITBh FIRE 2012 Submission: MET Track Odia</a></b><br></font>
  <font size=2><i>R.C. Balabantaray, B. Sahoo, M. Swain, D.K. Sahoo</i><br></font>
  <font size=2>IIIT Bhubaneswar<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/met/MET_AUCEG.pdf">Morphological Analyzer</a></b><br></font>
  </li>

</ol>


<!-- ============================================================ -->
<h2>Posters</h2>
<!-- ============================================================ -->

<ol>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/posters/poster_roy.pdf">Are Web Search Queries Evolving into a Language of their own?</a></b><br></font>
  <font size=2><i>Rishiraj Saha Roy,<sup>*</sup> Monojit Choudhury,<sup>#</sup> Niloy Ganguly<sup>*</sup></i><br></font>
  <font size=2><sup>*</sup>IIT Kharagpur<br><sup>#</sup>Microsoft Research Lab India<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/posters/fire2012-accepted-posters/poster_Ramrakhiyani.pdf">A Regular Expression Based Time Expression Recognizer in Hindi</a></b><br></font>
  <font size=2><i>Nitin Ramrakhiyani, Prasenjit Majumder</i><br></font>
  <font size=2>DAIICT, Gandhinagar<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/posters/poster_roy.pdf">Incremental Model for Query Clustering</a></b><br></font>
  <font size=2><i>Poonam Goyal, Mehala N, Dipen Thakkar</i><br></font>
  <font size=2>Department of Computer Science BITS Pilani, India<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/posters/fire2012-accepted-posters/poster_patil.pdf">Learning to Rank Resumes</a></b><br></font>
  <font size=2><i>Sangameshwar Patil, Girish K. Palshikar, Rajiv Srivastava, Indrajit Das</i><br></font>
  <font size=2>Tata Research Development and Design Center (TRDDC), Tata Consultancy Services, 54-B, Hadapsar I.E., Pune, 411013, India<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

  <li>
  <font size=2><b><a href="/fire/data/working-notes_2012/posters/fire2012-accepted-posters/poster_vaidyanathan.pdf">Query Expansion Strategy based on Pseudo Relevance Feedback and Term Weight Scheme for Monolingual Retrieval</a></b><br></font>
  <font size=2><i>Rekha Vaidyanathan, Sujoy Das, Namita Srivastava</i><br></font>
  <font size=2>Dept. of Computer Applications, MANIT, Bhopal<br></font>
  <font size=1><a href="">Download slides</a><br></font>
  </li>

</ol>

</div>
<!--#include virtual="foot.html" -->
