<!--#include virtual="head.html" -->
<div class="right">
<h2>Accommodation</h2>
<br/>
<p>
A few rooms on sharing basis are available at Shanthi Sadhana(FISI), R. V. College P.O. Mysore Road
Bangalore - 560 059 (Approx. 2 KM distance from the ISI campus).
</p>
<br />
<p>
Accommodation will be provided to <i>registered</i> participants on a
first-come first-served basis. Please mail your request to
  <a href="mailto:sksisical@gmail.com">sksisical@gmail.com</a>
with a copy to <a href="mailto:clia@isical.ac.in">clia@isical.ac.in</a>.
<b>Please be sure to include your name, affiliation, gender, arrival and
departure times. The request for accomodation will be considered only after registration </b>
</p><br/>
<!-- p>
6 single rooms available in the ISEC hostel, ISI Campus>
</p><br -->
<p>
  <ul>
    <li>Room rent: Rs. 750/- per person per day</li>
    <li>Breakfast and Dinner are included in the tariff</li>   
    <li>Rooms will be available only for the duration 3rd-8th December 2014 </li>  
    <!--li>Check-in / check-out time: 12 noon </li>
    <li>All rooms are equipped with an AC and a geyser.</li-->
    
  </ul>
</p><br/>

<!--<h2>Tentative Room assignment (subject to change)</h2> -->
<h2>Accommodation Request Received</h2>
<table width="100%">
  <tr>
    <td><b>Name</b></td> <td align="center"><b>Room</b></td> <td><b>Arrival</b></td> <td><b>Departure</b></td> <td align="center"><b>Booked for (days)</b></td><td align="center"><b>To Pay (Rupees)</b></td>
  </tr>
  <tr>
    <td>Shubham Kumar</td>
    <td align="center">-</td>
    <td>05 Dec (PM)</td>
    <td>08 Dec (AM)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Manoj K. Sharma</td>
    <td align="center">-</td>
    <td>04 Dec (PM)</td>
    <td>07 Dec (PM)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Saurabh K. Singh</td>
    <td align="center">-</td>
    <td>04 Dec (PM)</td>
    <td>07 Dec (PM)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Debasis Ganguly</td>
    <td align="center">-</td>
    <td>04 Dec (PM)</td>
    <td>08 Dec (AM)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Dilip K. Sharma</td>
    <td align="center">-</td>
    <td>05 Dec (??)</td>
    <td>08 Dec (??)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Shashi Shekhar</td>
    <td align="center">-</td>
    <td>05 Dec (??)</td>
    <td>08 Dec (??)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Dinesh K. Prabhakar</td>
    <td align="center">-</td>
    <td>04 Dec (??)</td>
    <td>09 Dec (??)</td>
    <td align="center">5</td>
    <td align="center">Rs. 3750/-</td>
  </tr>
  
  <tr>
    <td>Ambedkar Kanapala</td>
    <td align="center">-</td>
    <td>04 Dec (??)</td>
    <td>09 Dec (??)</td>
    <td align="center">5</td>
    <td align="center">Rs. 3750/-</td>
  </tr>
    
  <tr>
    <td>Imran Rasheed</td>
    <td align="center">-</td>
    <td>04 Dec (??)</td>
    <td>09 Dec (??)</td>
    <td align="center">5</td>
    <td align="center">Rs. 3750/-</td>
  </tr>
  
  <tr>
    <td>Rahul Sitaraman</td>
    <td align="center">-</td>
    <td>03 Dec (PM)</td>
    <td>08 Dec (AM)</td>
    <td align="center">5</td>
    <td align="center">Rs. 3750/-</td>
  </tr>
  
  <tr>
    <td>Hardik Joshi</td>
    <td align="center">-</td>
    <td>04 Dec (PM)</td>
    <td>08 Dec (AM)</td>
    <td align="center">5</td>
    <td align="center">Rs. 3750/-</td>
  </tr>
  
  <tr>
    <td>Sujoy Das</td>
    <td align="center">-</td>
    <td>04 Dec (PM)</td>
    <td>07 Dec (PM)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Avinash Samuel</td>
    <td align="center">-</td>
    <td>05 Dec (??)</td>
    <td>08 Dec (??)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Aamir Khan</td>
    <td align="center">-</td>
    <td>05 Dec (??)</td>
    <td>08 Dec (??)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Saurabh Singh</td>
    <td align="center">-</td>
    <td>04 Dec (??)</td>
    <td>07 Dec (??)</td>
    <td align="center">5</td>
    <td align="center">Rs. 3750/-</td>
  </tr>
  
  <tr>
    <td>Somnath Banerjee</td>
    <td align="center">-</td>
    <td>03 Dec (??)</td>
    <td>07 Dec (??)</td>
    <td align="center">5</td>
    <td align="center">Rs. 3750/-</td>
  </tr>
  
  <tr>
    <td>Aniruddha Roy</td>
    <td align="center">-</td>
    <td>03 Dec (??)</td>
    <td>07 Dec (??)</td>
    <td align="center">5</td>
    <td align="center">Rs. 3750/-</td>
  </tr>
  
  <tr>
    <td>Nilotpala Gandhi</td>
    <td align="center">-</td>
    <td>04 Dec (AM)</td>
    <td>07 Dec (PM)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Ghanshyam Singh Thakur</td>
    <td align="center">-</td>
    <td>04 Dec (??)</td>
    <td>07 Dec (??)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Nrupesh Shah</td>
    <td align="center">-</td>
    <td>04 Dec (PM)</td>
    <td>07 Dec (PM)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
  <tr>
    <td>Yagnesh Jani</td>
    <td align="center">-</td>
    <td>04 Dec (PM)</td>
    <td>07 Dec (PM)</td>
    <td align="center">4</td>
    <td align="center">Rs. 3000/-</td>
  </tr>
  
</table>
<!--(To be updated soon)-->
<br/>

<h2>Other accommodation</h2>
<p>
<br />
Rooms may also be available at: 
<ul>
<li>
The Club<br/>
Mysore Road, Nayandahalli,Bangalore - 560039.<br/>
Phone: 080 28600665, 080 28600768/769<br/>
Web: <a href="http://www.theclubbangalore.com/">http://www.theclubbangalore.com/</a><br />
Email: theclubblr@gmail.com
</li>
<br />
<li>Hotel Sharada Residency<br/>
 No.339/3, Sri Balaji Complex,<br />
Opp. KSRTC Satellite Bus Terminus<br />
Near Ghali Anjaneya Swamy Temple, Mysore Road, Bangalore 560 026.<br/>
Phone: 080-26756726,080-65369871,080-65369872<br/>
Web: <a href="http://hotelsharadaresidency.com">http://hotelsharadaresidency.com</a><br/>
</li>
<br />
<li>
The Ambient Turret<br/>
 # 35/A, 1st Main Road, J.P. Nagar IIIrd Phase, Bangalore - 560 058<br/>
Phone: +91 80 49379999, +91 990 00 22134 <br/>
Email: info@theambientturret.com<br/>
Web: <a href="http://www.theambientturret.com">http://www.theambientturret.com</a>
</li>
<br />
<li>
Aurick Hotel <br/>
 # 598, 15th Cross, 35th Main, 6th Phase, JP Nagar Bangalore - 560 078. <br/>
Phone: +91 80 4901 1000 <br/>
Email: enquiry@aurickhotels.com <br/>
Web: <a href="http://www.aurickhotels.com">http://www.aurickhotels.com</a>
</li>
<br />
<li>
The HHI Select <br/>
15th Cross,Ring Road, J.P Nagar, II Phase, Bangalore - 560078  <br/>
Phone: 080 40761500 / 09731766305 <br/>
Email: gmblr@hindusthan.com <br/>
Web: <a href="http://www.hhihotels.com/hotel-bengaluru/">http://www.hhihotels.com/hotel-bengaluru/</a>
</li>
</ul>
</p>
<p style="color:red">
Please contact the above hotels directly.
</p>
<br />
<p>
Apart from the hotel restaurants, meals are also available at restaurants that are within walking distance
from these hotels.
</p><br/-->

</div>
<!--#include virtual="foot.html" -->
