<!--#include virtual="head.html" -->
<div class="right">
<h2>Accommodation</h2>
<br/>

Rooms may be available at: 
<ul>
<li>
Sun Village Inn<br/>
Bamyan, Mahatma Gandhi Marg, Lajpat Nagar 4, New Delhi - 110019<br/>
Phone: +91 011 2643 4830, +91 011 26489797, +91 98730 66231<br/>
Deluxe double rooms available at around Rs. 3500(+tax). Additional mattress available for 2.<br/>
<a target="_blank" href="https://www.google.com/maps/preview#!data=!4m21!3m17!1m1!1sSun+Village+Inn%2C+Mahatma+Gandhi+Marg%2C+Lajpat+Nagar+IV%2C+Lajpat+Nagar+4%2C+New+Delhi%2C+Delhi%2C+India!1m5!1sIndia+International+Centre%2C+%2340%2C+Max+Mueller+Marg%2C+Lodhi+Estate%2C+New+Delhi%2C+DL+110003%2C+India!2s0x390cfd3237f2f5df%3A0xc2a8618f452dbb04!3m2!3d28.593992!4d77.223017!3m8!1m3!1d3357!2d77.2232169!3d28.5939739!3m2!1i1518!2i736!4f13.1!5m2!13m1!1e1&fid=0">Directions to IIC</a>
</li>
</ul>
</p>
<p style="color:red">
Please contact the above hotels / guest houses directly.
</p><br/>

</div>
<!--#include virtual="foot.html" -->
