<!--#include virtual="head.html" -->

<!-- Template
<tr><td>hello</td><td>world!</td></tr>
-->

<div class="right">
<h2>Demo Session</h2>
<br>
<p>
The Conference and Program Chairs invite all those working in areas related to IR and Semantic Web to submit original proposals for demonstrations.   
Demonstrations present first-hand experience with research prototypes or operational systems. They provide opportunities to exchange ideas gained from implementing IR systems, and to obtain feedback from expert users. The demonstration submission should address the following questions: Who is my target user? Why does my system exist and why is it important? What does my demonstration do and how does it work? How does it compare with existing systems? Finally, how and when might my technology have an impact?  
</p> 
<br>
<p>
Demo may be of the following kinds (not limited to):  
 <br>
<br>
1. Named Entity Recognition in Indian Languages  
<br> 2. POS Tagger in Indian Languages  
<br> 3. Chunker/Parser in Indian Languages  
<br> 4. Lexico-Syntactic Pattern Mining tool  
<br> 5. Word Sense Disambiguation tool  
<br> 6. Domain-specific Retrieval System (legal, bio-medical, etc.)  
<br> 7. Community Question Answering tools  
<br> 8. Cross-lingual IR tools   
<br> 9. Knowledge Representation/Discovery tools  
<br> 10. Linked Open Data tools  
<br> 11. Evaluation system  
<br>
<br>
It is highly recommended that all tools be developed as GATE/Terrier/Protege plug-in. Wireless network access, along with a table and poster mount backdrop, will be provided for accepted demonstrations.

Selected papers will be published in the Workshop Proceedings in ACM Digital Library and can be presented during the Workshop.
</p>
<br>

<h2>SUBMISSION</h2>
<br>
<p>
Submissions of demonstration papers must be in English and should not exceed 3 pages in ACM SIGIR 2-column format (including references and figures). 2 pages are allowed to address the questions above. A further 1 page may be used to describe demo requirements (although we cannot guarantee all requests will be met). Suitable LaTeX and Word templates are available from the ACM Website: <a href="http://www.acm.org/sigs/publications/proceedings-templates"> http://www.acm.org/sigs/publications/proceedings-templates</a> (for LaTeX, use Option 2).  The only accepted format for submissions is PDF. Demo papers must be submitted electronically using EasyChair <a href = "https://easychair.org/conferences/?conf=fire20140"> https://easychair.org/conferences/?conf=fire20140</a>.
</p>
<br>
<p>
Beside this the authors will be needed to submit the working prototype before the conference. This can be done after the review notification alongwith camera ready submission. Detailed instructions for submission of code will be made available on the website soon (please subscribe to <a href="https://groups.google.com/forum/#!forum/fire-list"> FIRE Google group </a> for future notification). Also in case of the accepted papers it is compulsory to provide proper detailed documentation while submitting the code. Working prototypes without proper documentation are liable to be rejected.
</p>
<br>

<p>
Author identity should be concealed (please omit author names and affiliations from the initial submission). Submissions that are over the 3-page (2+1) limit or are not anonymous will be rejected without review. Note that shorter version of full papers that have already been published elsewhere (including in another language) are not acceptable as submissions for FIRE. 
</p>
<br>
<p>

At least one author of each accepted demonstration must register and attend the conference.  Please note that it is the responsibility of the authors to ensure that the PDF submission has been uploaded successfully (we suggest that you try downloading your paper again yourself, to check).
</p>

<br>

<h2>IMPORTANT DATES</h2>

<br>

<p>
<b>
Submission deadline: 10 October, 2014<br>
Review notification: 10 November, 2014<br>
Camera-ready due:   20 November, 2014<br>
Workshop: 5-7 December, 2014.<br>
</b>
</p>
<br>

<p>
Demo co-ordinator: Sourish Dasgupta, DAIICT Gandhinagar (sdg.daiict@gmail.com)
</p>
<br>


<hr>
</div>
<!--#include virtual="foot.html" -->
