<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>Forum for Information Retrieval Evaluation</title>
<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<!------ Google Analytics block ------->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25226802-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<script type="text/javascript">

function showHide(div){
  
  if(document.getElementById(div).style.display == 'none'){
    document.getElementById(div).style.display = 'block';
  }else{
    document.getElementById(div).style.display = 'none'; 
  }
}
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!------------------------------------->
</head>
<body>
<div id="wrap">

<div id="login" width=1000px>
<table CELLSPACING=0 CELLPADDING=0 border=0 width=100%>
<tr><td width=75%></td><td width=25%>
<font align=right size=2 color="#FD9A01"><b><a href="http://mail.irsi.res.in">Login IRSI E-mail Account</a></b></font>
</td></tr>
</table>
</div>

<div id="header">
<table CELLSPACING=0 CELLPADDING=0 border=0 width=100% height=100%>
<tr>
  <td width=175 height=40 rowspan=3>
    <a href="http://www.irsi.res.in/"><img src="./images/logo/irsi-logo.png" border=0></a> 
  </td>
</tr>
<tr>
  <td>
    <h1>
      <p align=center><font size=10>F</font>orum for <font size=10>I</font>nformation
	<font size=10>R</font>etrieval <font size=10>E</font>valuation</p>
    </h1>
    <br/>
    <h1><p align=center><font size=6>( FIRE )</font></p></h1>
    <br/>
    <font size=3><b>5<sup>th</sup> - 7<sup>th</sup> December 2015<br/>Indian Statistical Institute<br\>Bengalore</b></font>
    <br>
  </td>
</tr>
</table>
</div>

<div class="menu">
<!--h2>Upcoming Events</h2>
<ul list-style-type="circle">
<li></li>
</ul-->

<!-- <h2>Sponsors</h2> -->
<!-- <center> -->
<!--   <hr/> -->
<!-- <br/> -->
<!-- <a href="http://www.sigir.org/"> -->
<!-- <img src="./images/acm_sigir.png" width=100% border=0 alt="ACM SIGIR"/><br/> -->
<!-- </a> -->
<!--   <\!--a href="http://www.google.com"> -->
<!--     <img src="./images/logo/google_logo.jpg" width=96% border=0/> -->
<!--   </a> -->
<!--   <br/> -->
<!-- <a href="http://www.research.ibm.com"> -->
<!--     <img src="./images/logo/IBM_logo.jpg" width=96% border=0/> -->
<!--   </a> -->
<!--   <br/-\-> -->
<!--   <br/> -->
<!--   <a href="http://research.microsoft.com/en-us/labs/india"> -->
<!--     <img src="./images/logo/msri3.png" border=0/><br/> -->
<!--   </a> -->
<!--   <br/> -->
<!--   <a href="http://mit.gov.in/"> -->
<!--     <img src="./images/logo/ashok.jpg" border=0/><br/> -->
<!--     <i>D.I.T. Government of India</i> -->
<!--   </a-\-> -->
<h2>News</h2>

<!--br/>
  <a href="http://sigir.org/sigir2014/">
    <img src="./images/logo/sigir2014.png" width=100% border=0 alt="SIGIR-2014"/><br/>
    <i> 37th Annual International ACM SIGIR Conference 2014.
  </a>
<br/-->

<br/>
  <a href="http://sigir2015.org/">
    <img src="./images/logo/sigir2015.png" width=100% border=0 alt="SIGIR-2015"/><br/>
    <i> 38th Annual International ACM SIGIR Conference 2015.
  </a>
<br/>

<br/>
  <img src="./images/logo/lncs_logo-300x111.gif" width=100% border=0 alt="LNCS"/><br/>
  <i><a href="http://link.springer.com/book/10.1007/978-3-642-40087-2/page/1">Springer</a> published the post-proceedings of FIRE 2010 &amp; 2011 as
  an <a href="http://link.springer.com/book/10.1007/978-3-642-40087-2/page/1">LNCS</a> volume (7536).</i><br/>
<br/>
<img src="./images/logo/talip-logo.gif" width=100% border=0 alt="ACM TALIP"/><br/>
<i>ACM TALIP Vol 9, <a href="http://portal.acm.org/citation.cfm?id=1838745&picked=prox">Issue 3</a> & <a href="http://portal.acm.org/citation.cfm?id=1838751&picked=prox&CFID=7378897&CFTOKEN=88472882">Issue 4</a>. Special issue on ILIR.<br/></i>
<br/>

<!--h2>Follow us</h2>
<br/>
<center>
<a href="http://www.facebook.com/fire.forum"><img src="images/facebook-button.png"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://twitter.com/fire_forum"><img src="images/twitter-button.png"/></a>
<br/>
<hr/><hr/-->
  <table border="0">
    <tr>
      <td class="note">
	<a href="http://irsi.res.in/fire">mirrored</a> &bull; Dec  7 20:06:11 EST 2013
      </td>
    </tr>
  </table>
<hr/><hr/>
</center>

</div>
