<!--#include virtual="head.html" -->
<div class="right">
<h2>Schedule</h2>
  <!-- <center>   -->
  <!-- <p style="font-size:120%;color:red;align=center"> -->
  <!-- <b>All talks will be held in the Platinum Jubilee Auditorium (PJA) unless -->
  <!-- otherwise specified.</b> -->
  <!-- </p> -->
  <!-- </center> -->
<table width="100%">

<!-- ============================================================ -->  
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center>Day 1 : 5th December, 2014</center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>

<tr>
  <td height="20">09:00 &ndash; 10:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Registration</td>
</tr>
<tr>
  <td height="20">10:15 &ndash; 10:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Inaugural Talk</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"> 10:45 &ndash; 11:30 </td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#Jaap_Kamps"> Jaap Kamps </a>
  </td>
</tr>

<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">11:45 &ndash; 12:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
    <a href="abstracts.html#Nicola_Ferro"> Nicola Ferro </a>
  </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">12:30 &ndash; 13:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Transliterated Search Track Talks</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Overview </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Debasis Ganguly </td>
</tr>


<tr><th colspan="3"><center>LUNCH</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">14:00 &ndash; 15:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b>Transliterated Search Track Talks</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Vandan Mujadia </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Abhinav Mukherjee </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Somnath Banerjee </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Shraddha Patel </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Deepak Kumar Gupta </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Royal Denzil Sequiera </td>
</tr>
<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">16:00 &ndash; 18:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b> Demo / Poster Session </b></td>
</tr>
<tr> </tr>

<!-- ============================================================ -->

<tr> </tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center>Day 2 : 6th December, 2014</center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">10:00 &ndash; 10:45</td><td style="width:5%"></td>
<td style="vertical-align:top;">
    <a href="abstracts.html#Henning_Muller"> Henning Muller </a>
  </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">10:45 &ndash; 11:15</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b> Short Paper Presentations</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Ambedkar Kanapala, (Test Collection for Legal IR from Online Discussion Forums) </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Aniruddha Ghosh, (Constructing A Corpus Of Figurative Language For a Tweet Classification and Retrieval Task) </td>
</tr>
<tr><th colspan="3"><center>TEA BREAK</center></th></tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;">11:30 &ndash; 12:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b> Short Paper Presentations</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Matthias Feys, (Entity Linking: Test Collections Revisited) </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Matthias Feys, (On the robustness of event detection evaluation: a case study) </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">12:00 &ndash; 12:45</td><td style="width:5%"></td>
 <td style="vertical-align:top;">
    <a href="abstracts.html#Paul_Clough"> Paul Clough </a>
  </td>
</tr>

<tr><th colspan="3"><center>LUNCH</center></th></tr>


<tr>
  <td style="height:20px;width:20%;vertical-align:top;">13:45 &ndash; 14:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b> MET Track Talks</b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Overview </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">  Abhisek Chakrabarty </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Anand Kumar</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">14:30 &ndash; 15:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b> SoCo Track Talks </b></td>
</tr>
<td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Overview </td>
</tr>
<td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Debasis Ganguly</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Aarón Ramírez de la Cruz</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> René Arnulfo García Hernández</td>
</tr>


<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:45 &ndash; 16:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">New Track Proposals</td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">16:30 &ndash; 17:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">Steering Committee meeting</td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;">19:00 </td><td style="width:5%"></td>
  <td style="vertical-align:top;">Banquet</td>
</tr>

<tr> </tr>


<!-- ============================================================ -->

<tr> </tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center>Day 3 : 7th December, 2014</center></th></tr>
<tr bgcolor="#eedfcc"><th colspan="3"><center></center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">09:30 &ndash; 10:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
  <a href="abstracts.html#Marti_Hearst"> Marti Hearst </a>
  </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">10:45 &ndash; 11:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;"> <b> Other Evaluation Forums </b></td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> CLEF </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> MediaEVAL </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> HealthCLEF </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;">INEX</td>
</tr>

<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">11:45 &ndash; 12:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
  <a href="abstracts.html#Kareem_Darwish"> Kareem Darwish </a>
  </td>
</tr>


<tr>
  <td style="height:20px;width:20%;vertical-align:top;">12:30 &ndash; 13:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b> Document Similarity Track Talks</b></td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Overview </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Harsh Thakkar </td>
</tr>


<tr><th colspan="3"><center>LUNCH</center></th></tr>


<tr>
  <td style="height:20px;width:20%;vertical-align:top;">14:00 &ndash; 14:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;">
  <a href="abstracts.html#Esau_Tello"> Esau Villatoro Tello </a>
  </td>
</tr>


<tr>
  <td style="height:20px;width:20%;vertical-align:top;">14:30 &ndash; 15:30</td><td style="width:5%"></td>
  <td style="vertical-align:top;"><b> NER Track Talks </b></td>
</tr>
<tr>
<td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Anand Kumar </td>
</tr>
<td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Dinesh Kumar Prabhakar </td>
</tr>

<tr><th colspan="3"><center>TEA BREAK</center></th></tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">15:45 &ndash; 16:45</td><td style="width:5%"></td>
  <td style="vertical-align:top;">  <b> Industry Session </b> </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Speaker #1 </td>
</tr>
<tr>
  <td style="height:20px;width:20%;vertical-align:top;"></td><td style="width:5%"></td>
  <td style="vertical-align:top;"> Speaker #2 </td>
</tr>

<tr>
  <td style="height:20px;width:20%;vertical-align:top;">16:45 &ndash; 17:00</td><td style="width:5%"></td>
  <td style="vertical-align:top;">  Closing note </td>
</tr>



</table>

</div>
<!--#include virtual="foot.html" -->

