<h2>Invited Speakers</h2>
<i>
<ul>
  <!-- <li> -->
  <!--   <a href="http://www.elra.info/Board-of-ELRA.html?artpage=4-4"> -->
  <!--     Khalid Choukri, ELDA, France. -->
  <!--   </a> -->
  <!-- </li> -->
  <!--li>
    <a href="http://staff.science.uva.nl/~mdr/Bio/index.html">
      Maarten de Rijke, Intelligent Systems Lab Amsterdam, Netherlands.
    </a>
  </li-->
  <!-- <li> -->
  <!--   <a href="http://ims.dei.unipd.it/websites/archive/ims2009/members/ferro/"> -->
  <!--     Nicola Ferro, University of Padova, Italy. -->
  <!--   </a> -->
  <!-- </li> -->
<!--  
 <li>
  <a href="http://www.itl.nist.gov/iad/highlights/2000/harman.html">
     Donna Harman, National Institute of Standards and Technology, USA.
    </a>
  </li>
-->


<!-- <li> -->
<!--   <a href="http://terpconnect.umd.edu/~oard/"> -->
<!--    Doug Oard, University of Maryland, USA.  -->
<!--   </a> -->
<!--   </li> -->
<!--
  <li>
  <a href="http://www.eui.eu/DepartmentsAndCentres/Law/People/Professors/Sartor.aspx">
   Giovanni Sartor, European University Institute, Italy. 
  </a>
  </li>
-->
<!--
  <li>
  <a href="http://www.dcs.gla.ac.uk/~ounis/">
   Iadh Ounis, University of Glasgow, UK. 
  </a>
  </li>
-->

  <li>
  <a href="http://ir.shef.ac.uk/cloughie/">Paul Clough, The University of Sheffield, UK.</a>
  </li>

  <li>
  <a href="http://www.qcri.com/our-people/bio?par=acc&name=KareemDarwish&pid=23">Kareem Darwish, Qatar Computing Research Institute (QCRI), Qatar.</a>
  </li>

  <li>
  <a href="http://ims.dei.unipd.it/websites/archive/ims2009/members/ferro/"> Nicola Ferro, University of Padova, Italy.</a>
  </li>

  <li>
  <a href="http://people.ischool.berkeley.edu/~hearst/">Marti Hearst, University of California, Berkeley.</a>
  </li>
  
  <!--li>
  <a href="http://www.computing.dcu.ie/~gjones/">Gareth Jones, Dublin City University, Ireland.</a>
  </li-->

  <li>
  <a href="http://staff.science.uva.nl/~kamps/">Jaap Kamps, University of Amsterdam, The Netherlands.</a>
  </li>

  <li>
  <a href="http://www.henningmueller.info/">Henning Müller, University Hospitals and University of Geneva, Switzerland.</a>
  </li>


<!-- <h2>Industry track speakers</h2> -->
<!-- <i> -->
<!--   <ul> -->
<!--     <li> -->
<!--     <a href="http://mypage.rediff.com/ajit-balakrishnan/3539086">Ajit Balakrishnan, Rediff.</a> -->
<!--     </li> -->

<!--     <li> -->
<!--     <a href="http://www.linkedin.com/in/sreeharinagaralu"> -->
<!--     Sree Hari Nagaralu, Bing Relevance and Data Sciences, Microsoft India. -->
<!--     </a> -->
<!--     </li> -->

<!--     <li> -->
<!--     <a href="http://www.tcs-trddc.com/trddc_website/scripts/people_page.php?emp_number=1"> -->
<!--     Girish Keshav Palshikar, Tata Consultancy Services, India. -->
<!--     </a> -->
<!--     </li> -->
<!--   </ul> -->
<!-- </i> -->

</ul>
</i>

